{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_markchart') }}">  {{ 'Settings'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header">
                    <h5>{{ 'Settings'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_markchart_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('kpi_markchart') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'KPI Mark Chart'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-block p-2">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col" style="width: 120px">Group</th>
                            <th scope="col">Parent</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mark</th>
                            <th scope="col">Status</th>
                            <th scope="col text-center" style="width:100px"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{% if entity.settingGroup is defined and  entity.settingGroup is not empty %}{{ entity.settingGroup.name }}{% endif %}</td>
                            <td>{% if entity.parent is defined and  entity.parent is not empty %}{{ entity.parent.name }}{% endif %}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.mark }}</td>

                            <td>{% if entity.status is not empty %}Yes {% else %}No {% endif %}</td>
                            <td>
                                <a class="btn btn-mini yellow-bg white-font" href="{{ path('kpi_markchart_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('kpi_markchart_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,6],
    'orderable': false
    }]
    });
{% endblock %}
