{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'District base Sales Target'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
{#                    <div class="col-sm-2 pl-0">


                    </div>#}
                    <div id="exTab2" class="">
                        <ul class="nav nav-tabs">
                            <li>
                                <form action="{{ path('kpi_location_sales') }}" method="get">

                                    {% set minYear = 2020 %}
                                    {% set maxYear = "now"|date("Y") %}
{#                                    <label for="" style="font-size: 10px">Please Select Year</label>#}
                                    <select class="form-control" id="districtSalesTargetYear" name="year" onchange="this.form.submit()">
                                        <option value="">Select Year</option>

                                        {% for yearList in minYear..maxYear %}
                                            <option {{ yearList == year ? 'selected':''}} value="{{ yearList }}">{{ yearList }}</option>
                                            {% set yearList = yearList + 1 %}
                                        {% endfor %}
                                    </select>
                                </form>
                            </li>
                            {% for index, month in months %}
                                <li class="">
                                    <a href="#{{ month }}" class="lab_tab {{ month==currentMonth?'active':'' }}" data-toggle="tab">{{ month }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        </div>


                        <div class="tab-content lab_service_section">
                            {% for index, month in months %}
                                <div class="tab-pane {{ month==currentMonth?'active':'' }}" id="{{ month }}">
                                    <h4 style="padding-top: 5px; text-align: center">{{ month|upper }}-{{ year }}</h4>
                                    <table class="table table-striped table-bordered table-hover" id="datatable">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Zone</th>
                                            <th scope="col">Region</th>
                                            <th scope="col">District</th>
                                            {% for product in products %}
                                                <th scope="col">{{ product.name }}(TON)</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody id="inputform">
                                        {% set aa = 0 %}
                                        {% if matrixArr is not empty %}
                                        {% for district in districts %}
                                            <tr>
                                                <td>{{ loop.index }}.</td>
                                                <td>{{ district.parent.parent.name }}</td>
                                                <td>{{ district.parent.name }}</td>
                                                <td>{{ district.name }}</td>
                                                {% for product in products %}
                                                    <td>
                                                        {% set ids = year ~ '-' ~ month ~ '-' ~ district.id ~ '-' ~ product.id %}

                                                        <input
                                                                data-product-id="{{ product.id }}"
                                                                type="number"
                                                                data-action="{{ path('kpi_markchart_location_sales_target',{'id':matrixArr[ids]['matrixId']}) }}"
                                                                data-index="{{ matrixArr[ids]['matrixId'] }}"
                                                                class="form-control matrixId"
                                                                data-id="{{ matrixArr[ids]['matrixId'] }}"
                                                                id="quantity-{{ matrixArr[ids]['matrixId'] }}"
                                                                name="quantity-{{ matrixArr[ids]['matrixId'] }}"
                                                                value="{% if matrixArr[ids] is defined and  matrixArr[ids].districtId ==  district.id and  matrixArr[ids].markId == product.id %}{{ matrixArr[ids]['quantity'] }}{% endif %}"
                                                        >
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="20" align="center">No record found.</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdkpi/css/kpi.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdkpi/js/script.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable();

{% endblock %}
