<div class="portlet">
    <div class="portlet-body form text-dark">
        <div class="row form-body">
            <div class="form-inner-no-space">

                <table width="100%" class="mb-2 employee-details">
                    <thead>
                    <tr>
                        <td><b>{{ 'Employee Name:'|trans }}</b> {{ board.employee.name }}</td>
                        <td><b>{{ 'Designation:'|trans }}</b> {{ board.employee.designation.name }}</td>
                        <td><b>{{ 'Format:'|trans }}</b> {{ board.reportMode.name|default('') }}</td>
                    </tr>
                    <tr>
                        <td><b>{{ 'Employee Id:'|trans }}</b> {{ board.employee.userId }}</td>
                        <td>
                            <b>{{ 'Working Area:'|trans }}</b>
                            {% for districtName in board.district|json_decode %}{{ districtName }}{% if not loop.last %},{% endif %} {% endfor %}

                        </td>
                        <td><b>{{ 'Month & Year:'|trans }}</b> {{ board.month }},{{ board.year }}</td>
                    </tr>
                    </thead>
                </table>
            </div>
            {% if employeeBoardsData[board.employee.id]['feedAndGrowth'] is not empty %}
                {% for key, item in employeeBoardsData[board.employee.id]['feedAndGrowth']|ksort %}
                    <h5 class="bg-secondary p-1 text-white h5 w-100">{{ key == 'feed' ? 'Sales Feed Achivement' : 'Product Sales Growth' }}</h5>
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                            <th scope="col"
                                width="20%">{{ key == 'feed' ? 'Target Quantity' : 'Previous Year Sales Quantity' }}</th>
                            <th scope="col" width="20%">{{ 'Current Year Sales Quantity'|trans }}</th>
                            <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                            <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if item is not empty %}
                            {% for attribute in item %}
                                <tr>
                                    <td>{{ attribute.markParameter|default('') }}</td>
                                    <td>{{ attribute.targetQuantity|default('') }}</td>
                                    <td>{{ attribute.salesQuantity|default('') }}</td>
                                    <td>{{ attribute.percentage|number_format(2) }} %</td>
                                    <td>{{ attribute.mark|default('') }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
            <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'Outstanding'|trans }}</h5>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{{ 'District'|trans }}</th>
                    <th scope="col" width="20%">{{ 'Total Outstanding'|trans }}</th>
                    <th scope="col" width="20%">{{ 'Total Limit Amount'|trans }}</th>
                    <th scope="col" width="20%">{{ 'Usage'|trans }}</th>
                    <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if employeeBoardsData[board.employee.id]['outstanding'] is not empty %}
                    {% set totalActual = 0 %}
                    {% set totalLimit = 0 %}
                    {% set totalOutstanding = 0 %}

                    {% for key, amount in employeeBoardsData[board.employee.id]['outstanding'] %}
                        {% if key != 'mark' %}
                            {% set totalActual = totalActual + amount.actualAmount %}
                            {% set totalLimit = totalLimit + amount.limitAmount %}
                            {% set totalOutstanding = totalOutstanding + amount.outstanding %}
                            <tr>
                                <td>{{ key|default() }}</td>
                                <td>{{ amount.actualAmount|number_format(2,'.',',')|default() }}</td>
                                <td>{{ amount.limitAmount|number_format(2,'.',',')|default() }}</td>
                                <td>{{ amount.outstanding|number_format(2,'.')|default() }}</td>
                                <td>{{ amount.mark|default() }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    <tr>
                        <th>{{ 'Total'|trans }}</th>
                        <th>{{ totalActual|number_format(2,'.', ',')|default() }}</th>
                        <th>{{ totalLimit|number_format(2,'.', ',')|default() }}</th>
                        <th>{{ totalOutstanding|number_format(2,'.', ',')|default() }}</th>
                        <td>{{ employeeBoardsData[board.employee.id]['outstanding']['mark']|default('') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'DOC sales collection'|trans }}</h5>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{{ 'District'|trans }}</th>
                    <th scope="col" width="20%">{{ 'Total Sales Amount'|trans }}</th>
                    <th scope="col" width="20%">{{ 'Total Collection Amount'|trans }}</th>
                    <th scope="col" width="10%">{{ 'Percentage'|trans }}</th>
                    <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if employeeBoardsData[board.employee.id]['docSale'] is not empty %}
                    {% set totalCollection = 0 %}
                    {% set totalSales = 0 %}

                    {% for key, amount in employeeBoardsData[board.employee.id]['docSale'] %}
                        {% if key != 'mark' %}
                            {% set totalCollection = totalCollection + amount.salesAmount %}
                            {% set totalSales = totalSales + amount.collectionAmount %}
                            <tr>
                                <td>{{ key|default() }}</td>
                                <td>{{ amount.salesAmount|number_format(2,'.', ',')|default() }}</td>
                                <td>{{ amount.collectionAmount|number_format(2,'.',',')|default() }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    <tr>
                        <th>{{ 'Total'|trans }}</th>
                        <th>{{ totalCollection|number_format(2,'.', ',')|default(0) }}</th>
                        <th>{{ totalSales|number_format(2,'.', ',')|default(0) }}</th>
                        <th>
                            {% if totalCollection != 0 %}
                                {{ ((totalSales * 100) / totalCollection)|number_format(2,'.', ',')|default(0) }} %
                            {% else %}
                                0.00%
                            {% endif %}
                        </th>
                        <th>{{ employeeBoardsData[board.employee.id]['docSale']['mark']|default(0) }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            {% if board.reportMode.slug is same as 'spo-format' %}
                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ '"D" Category Agent Upgradation'|trans }}</h5>
                <table class="table table-striped table-bordered table-hover"
                       style="margin-top: 0 !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{ 'Previous "D" Category Agents: '|trans }} {{ employeeBoardsData[board.employee.id]['dCategoryUpgrade'].totalAgent|default(0) }}</th>

                        <th scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ employeeBoardsData[board.employee.id]['dCategoryUpgrade'].totalUpgradeAgent|default(0) }}</th>
                        <th scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                            {% if employeeBoardsData[board.employee.id]['dCategoryUpgrade'].totalAgent > 0 %}
                                {{ ((employeeBoardsData[board.employee.id]['dCategoryUpgrade'].totalUpgradeAgent * 100) / employeeBoardsData[board.employee.id]['dCategoryUpgrade'].totalAgent)|number_format(2) }} %
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                </table>
                <table class="table table-striped table-bordered table-hover"
                       style="margin-top: 0 !important;" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{ 'Category'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                        <th scope="col">{{ 'District'|trans }}</th>
                        <th scope="col">{{ 'Region'|trans }}</th>
                        <th scope="col">{{ 'Zone'|trans }}</th>
                        <th scope="col">{{ 'Average'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                        {% if employeeBoardsData[board.employee.id]['dCategoryUpgrade'] is not empty %}
                            {% for board in employeeBoardsData[board.employee.id]['dCategoryUpgrade'] %}
                                {% if board is iterable and loop.index == 1 %}
                                    <th scope="col">{{ board.month|default('') }} (Avg.)</th>
                                    <th scope="col">{{ 'Category'|trans ~ ' (' ~ board.year ~ ')' }}</th>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>

                    {% if employeeBoardsData[board.employee.id]['dCategoryUpgrade'] is not empty %}
                        {% for row in employeeBoardsData[board.employee.id]['dCategoryUpgrade'] %}
                            {% if row is iterable %}
                                <tr>
                                    <td>{{ row.prevYearGrade|default('') }}</td>
                                    <td>{{ row.agentId|default('') }}</td>
                                    <td>{{ row.agentName|default('') }}</td>
                                    <td>{{ row.agentDistrictName|default('') }}</td>
                                    <td>{{ row.agentRegionName|default('') }}</td>
                                    <td>{{ row.agentZoneName|default('') }}</td>
                                    <td>{{ row.prevYearAvg|number_format(2)|default(0) }}</td>
                                    <td>{{ row.currentMonthAvg|number_format(2)|default(0) }}</td>
                                    <td>{{ row.currentMonthGrade|default('') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ '"C" Category Agent Upgradation'|trans }}</h5>
                <table class="table table-striped table-bordered table-hover"
                       style="margin-top: 0px !important;" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{ 'Previous "C" Category Agents: '|trans }} {{ employeeBoardsData[board.employee.id]['cCategoryUpgrade'].totalAgent|default(0) }}</th>

                        <th scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ employeeBoardsData[board.employee.id]['cCategoryUpgrade'].totalUpgradeAgent|default(0) }}</th>
                        <th scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                            {% if employeeBoardsData[board.employee.id]['cCategoryUpgrade'].totalAgent > 0 %}
                                {{ ((employeeBoardsData[board.employee.id]['cCategoryUpgrade'].totalUpgradeAgent * 100) / employeeBoardsData[board.employee.id]['cCategoryUpgrade'].totalAgent)|number_format(2) }} %
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                </table>
                <table class="table table-striped table-bordered table-hover"
                       style="margin-top: 0 !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{ 'Category'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                        <th scope="col">{{ 'District'|trans }}</th>
                        <th scope="col">{{ 'Region'|trans }}</th>
                        <th scope="col">{{ 'Zone'|trans }}</th>
                        <th scope="col">{{ 'Average'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                        {% if employeeBoardsData[board.employee.id]['cCategoryUpgrade'] is not empty %}
                            {% for board in employeeBoardsData[board.employee.id]['cCategoryUpgrade'] %}
                                {% if board is iterable and loop.index == 1 %}
                                    <th scope="col">{{ board.month|default('') }} (Avg.)</th>
                                    <th scope="col">{{ 'Category'|trans ~ ' (' ~ board.year ~ ')' }}</th>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>

                    {% if employeeBoardsData[board.employee.id]['cCategoryUpgrade'] is not empty %}
                        {% for row in employeeBoardsData[board.employee.id]['cCategoryUpgrade'] %}
                            {% if row is iterable %}
                                <tr>
                                    <td>{{ row.prevYearGrade|default('') }}</td>
                                    <td>{{ row.agentId|default('') }}</td>
                                    <td>{{ row.agentName|default('') }}</td>
                                    <td>{{ row.agentDistrictName|default('') }}</td>
                                    <td>{{ row.agentRegionName|default('') }}</td>
                                    <td>{{ row.agentZoneName|default('') }}</td>
                                    <td>{{ row.prevYearAvg|number_format(2)|default('') }}</td>
                                    <td>{{ row.currentMonthAvg|number_format(2)|default('') }}</td>
                                    <td>{{ row.currentMonthGrade|default('') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}

            {% if (board.reportMode.slug is same as 'agm-kpi' or board.reportMode.slug is same as 'rsm-arsm-kpi') %}
                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'Team members ach(=100%) mark on core activities'|trans }}</h5>
                <table class="table table-striped table-bordered table-hover" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{ 'Employee'|trans }}</th>
                        <th scope="col" width="20%">{{ 'Actual Mark'|trans }}</th>
                        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                        <th scope="col" width="10%">{{ 'Percentage'|trans }}</th>
                        <th scope="col" width="10%">{{ 'Obtain Mark'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if employeeBoardsData[board.employee.id]['individualTeamMemberMarks'] is not empty %}
                        {% set totalActualMark = 0 %}
                        {% set totalMark = 0 %}
                        {% for key, member in employeeBoardsData[board.employee.id]['individualTeamMemberMarks'] %}
                            {% if key != 'obtainMark' %}
                                {% set totalActualMark = totalActualMark + member.actualMark %}
                                {% set totalMark = totalMark + member.mark %}
                                <tr>
                                    <td>{{ '(' ~ member.userId ~ ') ' ~ key|default('') }}</td>
                                    <td>{{ member.actualMark|default('') }}</td>
                                    <td>{{ member.mark|default('') }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <th>{{ "Total"|trans }}</th>
                            <th>{{ totalActualMark|default('0') }}</th>
                            <th>{{ totalMark|default('0') }}</th>
                            <th>
                                {% if totalActualMark != 0 %}
                                    {{ ((totalMark * 100) / totalActualMark)|number_format(2)|default(0) }} %
                                {% else %}
                                    0.00 %
                                {% endif %}
                            </th>
                            <th>{{ employeeBoardsData[board.employee.id]['individualTeamMemberMarks']['obtainMark']|default('0') }}</th>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}

            {% if (board.reportMode.slug is same as 'spo-format' or board.reportMode.slug is same as 'aqua-service' or board.reportMode.slug is same as 'cattle-service') %}
                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'Agent Upgradation'|trans }}</h5>
                <table class="table table-striped table-bordered table-hover"
                       style="margin-top: 0px !important;" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ 'Total Agents (Previous Year):' }} {{ employeeBoardsData[board.employee.id]['agentUpgradationDetails'].totalAgentsCountPrevYear|default(0) }}</th>
                        <th>{{ 'Total Agents:' }} {{ employeeBoardsData[board.employee.id]['agentUpgradationDetails'].totalAgentsCountCurrentYear|default(0) }}</th>
                        <th>{{ 'Total Upgrade Agents:' }} {{ employeeBoardsData[board.employee.id]['agentUpgradationDetails'].upgradeAgentsCount|default(0) }}</th>
                        <th>{{ 'Upgrade Agents percentage:' }}
                            {% if employeeBoardsData[board.employee.id]['agentUpgradationDetails'].totalAgentsCountPrevYear > 0 %}
                                {{ ((employeeBoardsData[board.employee.id]['agentUpgradationDetails'].upgradeAgentsCount * 100) / employeeBoardsData[board.employee.id]['agentUpgradationDetails'].totalAgentsCountPrevYear)|number_format(2) }} %

                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                </table>
                <table class="table table-striped table-bordered table-hover"
                       style="margin-top: 0 !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                        <th scope="col">{{ 'Address'|trans }}</th>
                        <th scope="col">{{ 'Avg.'|trans }} ({{ board.year-1 }})</th>
                        <th scope="col">{{ 'Avg.'|trans }} ({{ board.year }})</th>
                        <th scope="col">{{ 'Grade'|trans }} ({{ board.year-1 }})</th>
                        <th scope="col">{{ 'Grade'|trans }} ({{ board.year }})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if employeeBoardsData[board.employee.id]['agentUpgradationDetails']['upgradeAgents'] is defined and employeeBoardsData[board.employee.id]['agentUpgradationDetails']['upgradeAgents'] is not empty %}
                        {% for agentId, details in employeeBoardsData[board.employee.id]['agentUpgradationDetails']['upgradeAgents'] %}
                            {% if details is iterable %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ agentId|default('') }}</td>
                                    <td>{{ details.agentName|default('') }}</td>
                                    <td>{{ details.agentAddress|default('') }}</td>
                                    <td>{{ details['average-' ~ (board.year-1)]|number_format(2) }}</td>
                                    <td>{{ details['average-' ~ board.year]|number_format(2) }}</td>
                                    <td>{{ details['grade-' ~ (board.year-1)] }}</td>
                                    <td>{{ details['grade-' ~ board.year] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
