{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ 'Employee KPI Boards'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header">
                    <h5>{{ 'Employee KPI Boards'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            {% if not (is_granted('ROLE_KPI_ADMIN') or is_granted('ROLE_DEVELOPER')) %}
                                {% if app.user.reportMode %}
                                    {% if 'custom' in app.user.reportMode.slug %}
                                        <a href="{{ path('kpi_board_new', {format: 'custom-format'}) }}" class="btn btn-sm bg-success white-font"><i class="fas fa-plus"></i>{{ 'Custom'|trans }}</a>
                                    {% else %}
                                        <a href="{{ path('kpi_board_new') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <a href="{{ path('kpi_board_new') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                                <a href="{{ path('kpi_board_new', {format: 'custom-format'}) }}" class="btn btn-sm bg-success white-font"><i class="fas fa-plus"></i>{{ 'Custom'|trans }}</a>
                            {% endif %}
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'KPI Board'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body p-2">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                            <table class="table table-bordered ">
                                <thead class="thead-dark">
                                <tr role="row" class="filter">
                                    <th colspan="2">
                                        {{ form_label(form.employee, 'Employee') }}
                                        {{ form_widget(form.employee) }}
                                    </th>
                                    <th colspan="2">
                                        {{ form_label(form.designation) }}
                                        {{ form_widget(form.designation) }}
                                    </th>
                                    <th colspan="2">
                                        {{ form_label(form.kpiFormat, "Format") }}
                                        {{ form_widget(form.kpiFormat) }}
                                    </th>
                                    {% if is_granted('ROLE_KPI_ADMIN') %}
                                        <th colspan="2">
                                            {{ form_label(form.lineManager) }}
                                            {{ form_widget(form.lineManager) }}
                                        </th>
                                    {% endif %}
                                    <th colspan="2">
                                        {{ form_label(form.month) }}
                                        {{ form_widget(form.month) }}
                                    </th>
                                    <th colspan="2">
                                        {{ form_label(form.year) }}
                                        {{ form_widget(form.year) }}
                                    </th>
                                    <th colspan="2">
                                        {{ form_label(form.process) }}
                                        {{ form_widget(form.process) }}
                                    </th>
                                    <th colspan="2">
                                        {{ form_label(form.grade) }}
                                        {{ form_widget(form.grade) }}
                                    </th>
                                    {% if is_granted('ROLE_KPI_ADMIN') %}
                                        <th colspan="2">
                                            {{ form_label(form.createdBy) }}
                                            {{ form_widget(form.createdBy) }}
                                        </th>
                                    {% endif %}

                                    <th colspan="1">
                                        <div class="btn-group" style="margin-top: 25px">
                                            <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                    title="Search" value="search"><i
                                                        class="fa fa-search" aria-hidden="true"></i></button>
                                            <a href="{{ path('kpi_employee_board') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover info-table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{ 'S/N'|trans }}</th>
                            <th scope="col">{{ 'Created Date'|trans }}</th>
                            <th scope="col" style="width: 120px">{{ 'Name'|trans }}</th>
                            <th scope="col">{{ 'Designation'|trans }}</th>
                            <th scope="col">{{ 'Format'|trans }}</th>
                            <th scope="col">{{ 'Line Manager'|trans }}</th>
                            <th scope="col">{{ 'Districts'|trans }}</th>
                            <th scope="col">{{ 'Grade'|trans }}</th>
                            <th scope="col">{{ 'Month Year'|trans }}</th>
{#                            <th scope="col">{{ 'Year'|trans }}</th>#}
                            <th scope="col">{{ 'Created By'|trans }}</th>
{#                            <th scope="col">{{ 'Approve'|trans }}</th>#}
                            <th scope="col">{{ 'Approved By'|trans }}</th>
                            <th scope="col">{{ 'Process'|trans }}</th>
                            <th scope="col">{{ 'Reverse'|trans }}</th>
{#                            <th scope="col" style="width:100px; text-align: center"><i class="feather icon-settings"></i></th>#}
                            <th scope="col" style="width:100px; text-align: center">{{ 'Action Button'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if entities is defined and entities is not empty %}
                            {% for entity  in entities %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ entity.created|date('d-m-Y')|default('') }}</td>
                                    <td>{{ '(' ~ entity.userId ~ ') ' ~ entity.name|default('') }}</td>
                                    <td>{{ entity.designation|default('') }}</td>
                                    <td>{{ entity.reportFormat|default('') }}</td>
                                    <td>{{ '(' ~ entity.lineManagerUserId ~ ') ' ~ entity.lineManager|default('') }}</td>
                                    <td>{{ entity.district|default('') }}</td>
                                    <td>{{ entity.grade }}</td>
                                    <td>{{ entity.month ~ ',' ~ entity.year }}</td>
{#                                    <td>{{ entity.year|default('') }}</td>#}
                                    <td>{{ entity.createdByName|default('') }}</td>
{#                                    <td>{{ entity.approvedByName == null ? 'No': 'Yes' }}</td>#}
                                    <td>{{ entity.approvedByName|default('') }}</td>
                                    <td>{{ entity.process|capitalize }}</td>
                                    <td>{{ entity.isReverse ? 'Yes' : '' }}</td>
                                    <td align="center" class="action-area">

                                        <!-- Default dropleft button -->
                                        <div class="btn-group dropleft">
                                            <i class="fas fa-ellipsis-h dropdown"></i>
                                            <div class="dropdown-menu bg-blue">
                                                <!-- Dropdown menu links -->
                                                {% if is_granted("ROLE_DEVELOPER") %}
                                                    {% if entity.approvedByName is null %}
                                                        <a class="dropdown-item" href="{% if entity.reportFormatSlug in ['custom-format-spo','custom-format-poultry', 'custom-format-cattle','custom-format-aqua'] %} {{ path('kpi_employee_board_edit_custom_format',{'id':entity.id}) }} {% else %} {{ path('kpi_employee_board_edit',{'id':entity.id}) }} {% endif %}"><i class="feather icon-edit"></i> Edit</a>
                                                    {% endif %}
{#                                                    <a class="remove dropdown-item" data-action="{{ path('kpi_employee_board_delete',{'id':entity.id}) }}" href="javascript:"><i class="fa fa-remove"></i> Remove</a>#}
                                                {% else %}
                                                    {% if entity.approvedByName is null %}
                                                        <a class="dropdown-item" href="{% if entity.reportFormatSlug in ['custom-format-spo','custom-format-poultry', 'custom-format-cattle','custom-format-aqua'] %} {{ path('kpi_employee_board_edit_custom_format',{'id':entity.id}) }} {% else %} {{ path('kpi_employee_board_edit',{'id':entity.id}) }} {% endif %}"><i class="feather icon-edit"></i> Edit</a>
{#                                                        <a class="remove dropdown-item" data-action="{{ path('kpi_employee_board_delete',{'id':entity.id}) }}" href="javascript:"><i class="fa fa-remove"></i> Remove</a>#}
                                                    {% endif %}
                                                {% endif %}
                                                <a class="dropdown-item" href="{{ path('kpi_details_report',{'id':entity.id}) }}"><i class="feather icon-file"></i> Details</a>
                                                <a class="dropdown-item" href="{% if 'custom' in entity.reportFormatSlug %} {{ path('kpi_report_sales_achievement_custom_format',{'id':entity.id}) }} {% else %} {{ path('kpi_report_sales_achievement',{'id':entity.id}) }} {% endif %}"><i class="feather icon-file"></i> Achieve</a>
                                                <a class="dropdown-item" href="{{ path('kpi_summary_report',{'id':entity.id}) }}"><i class="feather icon-file"></i> Summary</a>
                                                {% if is_granted("ROLE_DEVELOPER") or is_granted("ROLE_KPI_ADMIN") %}
                                                    {% if entity.approvedByName %}
                                                        <a class="dropdown-item" href="{{ path('reverse', {board:entity.id}) }}"><i class="feather icon-arrow-left"></i> Reverse</a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if is_granted("ROLE_DEVELOPER") %}
                                                    <a class="remove dropdown-item" data-action="{{ path('kpi_employee_board_delete',{'id':entity.id}) }}" href="javascript:"><i class="fa fa-remove"></i> Remove</a>
                                                {% else %}
                                                    {% if entity.approvedByName is null %}
                                                        <a class="remove dropdown-item" data-action="{{ path('kpi_employee_board_delete',{'id':entity.id}) }}" href="javascript:"><i class="fa fa-remove"></i> Remove</a>
                                                    {% endif %}
                                                {% endif %}

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="13">{{ 'No record has been found!'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ entities.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation" style="padding-right: 0;">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
        }
        .dropdown-menu{
            padding: 0 !important;
            border: 0 !important;
            background-color: #3699FF !important;
        }
        .dropdown-menu a {
            color: #fff !important;
        }
        .dropdown-menu a:hover, .dropdown-menu a:focus {
            color: #000 !important;
            background-color: #218cff !important;

        }
        table.info-table tbody tr td.action-area:hover .dropdown-menu{
            display: block !important;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
