{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_markchart') }}">  {{ 'KPI Board'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Element'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_board_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'KPI Board'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="card">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage KPI Element'|trans }} </div>
                        <div class="btn-group float-right">
                            {% if (app.user.id is not same as board.employee.id and board.process is same as 'in-progress') or ((is_granted('ROLE_KPI_ADMIN') or is_granted('ROLE_DEVELOPER')) and board.process is same as 'in-process') %}
                                <a href="{{ path('kpi_approve',{'id':board.id}) }}" id="statusUpdate" name="statusUpdate" class="btn blue-bg text-white">Approved</a>
                            {% endif %}
                            <a href="{{ path('kpi_employee_board_preview',{'id':board.id,'mode':'print'}) }}" class="btn yellow-bg white-font"><i class="fa fa-print"></i> Print</a>
                        </div>
                    </div>
                    <div class="portlet-body form p-0">
                        <style>
                            ul.header-info {
                                margin: 0;
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;
                            }
                            ul.header-info li {
                                list-style: none;
                                width: 50%;
                            }
                        </style>
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                            <tr><th colspan="2" class="text-center">KPI - {{ board.month }},{{ board.year }}</th></tr>
                            <tr>
                                <th>
                                    <ul class="header-info">
                                        <li>Name of the Employee: {{ board.employee.name }}</li>
                                        <li>Date of Joining: {% if board.employee is not empty %}{{ board.employee.joiningDate|date('d-m-Y') }}{% endif %}</li>
                                        <li>Line Manager: {% if board.employee.lineManager is not empty %}{{ board.employee.lineManager.name }}{% endif %}</li>
                                        <li>Format: {{ board.reportMode.name|default('') }}</li>
                                    </ul>
                                </th>
                                <th>
                                    <ul class="header-info">
                                        <li>Emp ID: {% if board.employee is not empty %}{{ board.employee.userId }}{% endif %}</li>
                                        <li>Designation: {% if board.employee.designation is not empty %}{{ board.employee.designation.name }}{% endif %}</li>
                                    </ul>
                                </th>
                            </tr>

                            </thead>

                        </table>

                            {# New format END #}
                        <form action="{{ path('process_update', {board: board.id}) }}" method="post">
                            <table class="table table-bordered mb-0" id="datatable">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Parameter</th>
                                    <th scope="col" style="width: 5%;">Activity</th>
                                    <th scope="col" style="width: 45%">Attributes</th>
                                    <th scope="col">Marks</th>
                                    <th scope="col" width="250">Mark Distribution</th>
                                    <th scope="col">Obtain Marks</th>
                                    <th scope="col">Self Marks</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% set count=1 %}
                                        {% for activity in parameters %}
                                            {% set countActity=1 %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if(count==1) %}
                                                            <td rowspan="{{ parameters|multiArrayLength }}" class="parameter"><span>{{ entity.parameter.name }}</span></td>
                                                        {% endif %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if(countActity==1) %}
                                                                <td rowspan="{{ activity|length }}" {#class="parameter"#}><span>{{ entity.activity.name }}</span></td>
                                                            {% endif %}
                                                            {% if entity.attribute.status == 1 %}
                                                                <td>
                                                                    {{ entity.attribute.name }}

                                                                    {% if entity.activity.slug == 'customer-development' and entity.attribute.slug != 'agent-upgradation' and entity.attribute.slug != 'minimum-50-c-category-agents-converts-to-b' and entity.attribute.slug != 'minimum-50-d-category-agents-converts-to-c' %}
                                                                        <div style="display: flex; align-items: center">
                                                                            <label for="customer-development-{{ entity.attribute.id }}" style="margin-bottom: 0; margin-right: 5px">Marks: </label>
                                                                            <input required type="text" value="{{ entity.mark }}" class="form-control customerDevelopment" id="customer-development-{{ entity.attribute.id }}" data-id="{{ entity.attribute.id }}" data-action="{{ path('kpi_employee_update_customer_development',{'id':entity.id}) }}" style="width: 10%">
                                                                        </div>
                                                                    {% endif %}
                                                                </td>

                                                                <td>{{ entity.attribute.mark }}</td>
                                                                <td>

                                                                    {% if entity.attribute.children is not empty %}
                                                                        {% if entity.attribute.systemEntry == 1 %}

{#                                                                            <select required class="markDistribution" name="marksAttribute[{{ entity.attribute.id }}]" data-id="{{ entity.attribute.id }}" data-action="{{ path('kpi_employee_board_attribute_update',{'id':entity.id}) }}" data-employee-id="{{ board.employee.id }}" data-login-user-id="{{ app.user.id }}" >#}
                                                                            <select required class="markDistribution" name="marksAttribute[{{ entity.attribute.id }}]" data-id="{{ entity.attribute.id }}" data-employee-id="{{ board.employee.id }}" data-login-user-id="{{ app.user.id }}">
                                                                                <option value="">{{ 'Select mark particular'|trans }}</option>
                                                                                {% for markDistribution in entity.attribute.children %}

                                                                                    {% if markDistribution.status == 1 %}
                                                                                        {% if app.user.id == board.employee.id %}
                                                                                            <option value="{{ markDistribution.id }}" {% if  entity.selfMark is not empty and markDistribution.mark ==  entity.selfMark %} selected="selected" {% endif %}>{{ markDistribution.name }}</option>
                                                                                        {% else %}
                                                                                            <option value="{{ markDistribution.id }}" {% if  entity.mark is not empty and markDistribution.mark ==  entity.mark %} selected="selected" {% endif %}>{{ markDistribution.name }}</option>
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% else %}

                                                                            {#<ul class="markDistribution">
                                                                                {% for children in entity.attribute.children %}
                                                                                    <li>{{ children.name }}</li>
                                                                                {% endfor %}
                                                                            </ul>#}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </td>
                                                                <td class="attribute-score" id="markDistribution-{{ entity.attribute.id }}">
                                                                    {{ entity.mark }}
                                                                </td>
                                                                <td class="attribute-score" id="markDistribution-{{ entity.attribute.id }}-self-mark">
                                                                    {{ entity.selfMark|default('') }}
                                                                </td>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                                {% set countActity=0 %}
                                                {% set count=count+1 %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                            <table class="table table-bordered mb-0">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th><textarea class="form-controll" name="comment" style="width: 100%" rows="5">{{ board.comment|default('') }}</textarea></th>
                                </tr>
                                </tbody>

                            </table>
                            <button type="submit" class="btn blue-bg white-font float-right">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
<style>

input.customerDevelopment {
    background: #daae82;
    color: #000000;
    font-weight: bold;
}
select.markDistribution {
    background: #daae82;
    color: #000000;
    font-weight: bold;
}
.parameter{
    position: relative;
    /*    border-left: 34px solid #369;
        padding-left: 10px;
        width: 50px;*/
}

.parameter span {
    position: absolute;
    top: 50%;
    /*left: 30px;*/
    background: none;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-50%);
    /*width: 200px;*/
}


.attribute-markDistribution{
    width: 220px;
}

.markDistribution{
    padding-left: 15px;
    width: 220px;
}
.markDistribution li{
    margin-left: 0;
    padding-left: 0;
}

.activity-name{
    width: 120px;
}

.activity-attribute{
    width: 220px;
}
.attribute-name{
    width: 480px;
}
.attribute-mark{
    width: 70px;
}
.attribute-score{
    width: 70px;
}
</style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block javascriptBlock %}
{#    <script>#}
    {{ parent() }}

    (function($) {
        $.fn.inputFilter = function(inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        };
    }(jQuery));

    $("input.customerDevelopment").inputFilter(function(value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });

{#    $(document).on('click',"#statusUpdate", function (event) {
        event.preventDefault();
        var id = $(this).attr('data-id');
        var url = $(this).attr('data-action');
        $.MessageBox({
            buttonFail  : "No",
            buttonDone  : "Yes",
            message     : "Are you sure want to approve?"
        }).done(function(){
            window.location.href = $('#statusUpdate').attr('href');
        });
    });#}

    {#
        $(document).on('change',".markDistribution", function (event) {
        var mark  = $(this).val();
        var id = $(this).attr('data-id');
        var url = $(this).attr('data-action');
        var employeeId = $(this).attr('data-employee-id');
        var loginUserId = $(this).attr('data-login-user-id');

        $.get(url,{'mark':mark}, function( data ) {
        if (employeeId === loginUserId){
        $('#markDistribution-'+id + '-self-mark').html(data);
        }else {
        $('#markDistribution-'+id).html(data);
        }
        });

        });
     #}



{% endblock  %}