{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header p-2">
                    <h5>{{ 'District Sales'|trans }}</h5>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <form id="districtSales" method="get" action="{{ path('kpi_district_sales') }}">

                <div class="card-block">
                    <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input autocomplete="off" type="text" class="form-control  input-sm" placeholder="mm-yyyy" value="{{ selectedMonthYear }}" name="monthYear" id="inputMonth">
                            </td>
                            {#<td colspan="2">
                                <input autocomplete="off" type="text" class="form-control  input-sm" placeholder="district" value="{{ district }}" name="district">
                            </td>#}
                            <td colspan="2">
                                <select data-action="{{ path('district_search_select2') }}" name="district" class="districtSearch" id="">
                                    {% if district is defined and district is not null %}
                                            <option value="{{ district.id }}">{{ district.name }}</option>
                                        {% else %}
                                            <option value="">Select District</option>
                                    {% endif %}
                                </select>
                            </td>
                            <td colspan="1">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary btn-sm" title="Search" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <a href="{{ path('kpi_district_sales') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">SL</th>
                            <th scope="col">District Name</th>
                            <th scope="col">Month</th>
                            <th scope="col">Year</th>
                            {% for item in items %}
                            <th scope="col">{{ item.name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if pagination is defined and pagination is not empty %}
                            {% for entity in pagination %}
                                <tr>
                                    <td scope="col">{{ loop.index }}</td>
                                    <td class="districtId_{{ entity.districtId }}" scope="col">{{ entity.districtName }}</td>
                                    <td scope="col">{{ entity.month }}</td>
                                    <td scope="col">{{ entity.year }}</td>
                                    {% for item in items %}
                                        <td class="productId_{{ item.id }}" scope="col">
                                            {{ districtSalesQty[entity.year][entity.month][entity.districtId][item.id]['quantity']|number_format(2)|default('') }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="20">No record has been found!</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    </div>

                </div>
                </form>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar{display: none}
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
{#    <script>#}
    {{ parent() }}

    $('#inputMonth').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM,yy',

        onClose: function() {
            var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
        },

        beforeShow: function() {
            if ((selDate = $(this).val()).length > 0)
            {
                iYear = selDate.substring(selDate.length - 4, selDate.length);
                iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
                $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            }
        }
    });

    $('.districtSearch').select2({
        ajax: {
            url: $('.districtSearch').attr('data-action'),
            dataType: 'json',
            delay: 250,
            type: 'GET',
            data: function (params) {

                return {
                    q: params.term, // search term
                };
            },
            processResults: function (data) {
                var arr = []
                $.each(data, function (index, value) {
                    arr.push({
                        id: index,
                        text: value
                    })
                })
                return {
                    results: arr
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 1
    });


{% endblock %}

