<div class="col">
    <div id="top-ten-chart" class="chartdiv" style="min-height: 550px;"></div>
</div>

<!-- Chart code -->
<script>

    am5.ready(function () {

        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("top-ten-chart");
        root._logo.dispose(); // hide logo

        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);



        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
            panX: false, //disable drag feature
            panY: false, //disable drag feature
        }));

        var title = $("#topTenPeopleFormat option:selected").text() + " (" + $("#startMonthYearTopTenFilter").val() + " - " +$("#endMonthYearTopTenFilter").val() + ")";

        // Add Chart Title
        chart.children.unshift(am5.Label.new(root, {
            text: title,
            // text: $("#topTenPeopleFormat option:selected").text() + " (" + $("#startMonthYearTopTenFilter").val() + " - " +$("#endMonthYearTopTenFilter").val() + ")",
            fontSize: 15,
            fontWeight: "500",
            textAlign: "center",
            x: am5.percent(50),
            centerX: am5.percent(50),
            paddingTop: 0,
            paddingBottom: 0
        }));

        // Add cursor
        // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
        var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
        cursor.lineY.set("visible", false);


        // Create axes
        // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
        var xRenderer = am5xy.AxisRendererX.new(root, {minGridDistance: 30});
        xRenderer.labels.template.setAll({
            // rotation: -90,
            // centerY: am5.p50,
            // centerX: am5.p100,
            // paddingRight: 0
        });


        var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
            // maxDeviation: 0.3,
            categoryField: "employeeId",
            renderer: xRenderer,
            // tooltip: am5.Tooltip.new(root, {})
        }));

        // Label configuration
        xAxis.get("renderer").labels.template.setAll({
            // oversizedBehavior: "wrap",
            rotation: 80,
            // textAlign: "center",
            centerX: 0,
            fontWeight: "500",
            fontSize: 14,
            centerY: am5.percent(50),

        });

        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
            // maxDeviation: 0.3,
            // min: 0,
            // max: 100,
            renderer: am5xy.AxisRendererY.new(root, {})
        }));



        // Create series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
        var series = chart.series.push(am5xy.ColumnSeries.new(root, {
            name: "Series 1",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "value",
            // sequencedInterpolation: true,
            categoryXField: "employeeId",
            tooltip: am5.Tooltip.new(root, {
                labelText: "{valueY}"
            }),
        }));

        series.columns.template.setAll({
            cornerRadiusTL: 0,
            cornerRadiusTR: 0,
            // strokeWidth: 0,  //column border
            // fillOpacity: 0.8, //column opacity
            // width: am5.percent(80) //column width
        });
        series.columns.template.adapters.add("fill", function (fill, target) {
            return chart.get("colors").getIndex(series.columns.indexOf(target));
        });

        // Set data
        var data = {{ topTenPeople|raw }};

        xAxis.data.setAll(data);
        series.data.setAll(data);


        // Export PDF
        var exporting = am5plugins_exporting.Exporting.new(root, {
            menu: am5plugins_exporting.ExportingMenu.new(root, {}),
            // data: data,
            // dataSource: data,
            filePrefix: title,
            title: '',
            pdfOptions: {
                pageSize: "LETTER",
                pageOrientation: "landscape",
                pageMargins: [20, 20, 20, 40]
            },
            jpgOptions: {
                disabled: true
            },
            pngOptions: {
                disabled: true
            },
            htmlOptions: {
                disabled: true
            },
            printOptions: {
                disabled: true
            }
        });


        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        series.appear(1000);
        chart.appear(1000, 100);

    }); // end am5.ready()
</script>
