<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agents</title>
    <style>
        body{
            font-size: 10px !important;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h1>Agents List</h1>
    </div>
</div>
<div class="row">
    <table width="100%" cellspacing="0" cellpadding="5" border="1">
        <thead>
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">Company</th>
            <th scope="col">Agent Group</th>
            <th scope="col">Location</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% if data is defined and data is not empty %}
            {% for agent in data %}
                <tr>
                    <td align="center">{{ loop.index }}</td>
                    <td>{{ agent.agentName|default('') }}</td>
                    <td>{{ agent.agentGroupName|default('') }}</td>
                    <td>{{ agent.agentUpozilaName|default('N/A') ~ ',' }} {{ agent.agentDistrictName|default('') }}</td>
                    <td>{{ agent.agentMobile|default('') }}</td>
                    <td>{{ agent.agentEmail|default('') }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td align="center" colspan="6">{{ 'No record has been found!'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
</body>
</html>

