
    <table>
        <thead>
        <tr>
            <th colspan="6" align="center">Agents List</th>
        </tr>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">Company</th>
            <th scope="col">Agent Group</th>
            <th scope="col">Location</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% if data is defined and data is not empty %}
            {% for agent in data %}
                <tr>
                    <td align="center">{{ loop.index }}</td>
                    <td>{{ agent.agentName|default('') }}</td>
                    <td>{{ agent.agentGroupName|default('') }}</td>
                    <td>{{ agent.agentUpozilaName|default('N/A') ~ ',' }} {{ agent.agentDistrictName|default('') }}</td>
                    <td>{{ agent.agentMobile|default('') }}</td>
                    <td>{{ agent.agentEmail|default('') }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td align="center" colspan="6">{{ 'No record has been found!'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
