{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('core_agent_index') }}"> {{ 'Manage Agent'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header">
                    <h5>{{ 'Manage Agent'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_agent') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Agents'|trans }}</a>
                            <a href="?process=createForm&check=new#modal" id="createForm"   data-action="{{ path('core_agent_create') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Agent'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-header p-2">
                    <div class="col-md-10 offset-1">
                        {{ form_start(searchForm) }}
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th colspan="3">
                                    {{ form_label(searchForm.agentName, 'Agent Name') }}
                                    {{ form_widget(searchForm.agentName) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(searchForm.agentMobile, 'Agent Mobile') }}
                                    {{ form_widget(searchForm.agentMobile) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(searchForm.agentEmail, 'Agent Email') }}
                                    {{ form_widget(searchForm.agentEmail) }}
                                </th>
                                <th colspan="1">
                                    <div class="btn-group" style="margin-top: 25px;">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('kpi_agent') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
{#                                        <button type="submit" name="pdf" value="pdf" target="_blank" title="Pdf" class="btn blue-bg btn-sm white-font"><i class="fa fa-file-pdf"></i> PDF
                                        </button>
                                        <button type="submit" name="excel" value="excel" target="_blank" title="Excel" class="btn green-bg white-font btn-sm"><i class="fa fa-file-excel"></i> Excel
                                        </button>#}
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Company</th>
                            <th scope="col">Agent Group</th>
                            <th scope="col">Location</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Email</th>
                            <th scope="col" class=" text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if data is defined and data is not empty %}
                            {% set offset = data.getItemNumberPerPage * (data.currentPageNumber - 1) %}

                            {% for agent in data %}
                                <tr>
                                    <td>{{ loop.index + offset }}</td>
                                    <td>{{ agent.agentName|default('') }}</td>
                                    <td>{{ agent.agentGroupName|default('') }}</td>
                                    <td>{{ agent.agentUpozilaName|default('N/A') ~ ',' }} {{ agent.agentDistrictName|default('') }}</td>
                                    <td>{{ agent.agentMobile|default('') }}</td>
                                    <td>{{ agent.agentEmail|default('') }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-mini btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                            <div class="dropdown-content">
                                                <a target="_blank" class='btn btn-mini  black-font' href=''><i class='fa fa-eye'></i> View</a>
                                                <a target="_blank" class='btn btn-mini  black-font' href=''><i class='feather icon-edit'></i> Edit</a>
                                                <a target="_blank" class='btn btn-mini  black-font' href=''><i class='fa fa-remove'></i> Remove</a>

                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td align="center" colspan="7">{{ 'No record has been found!'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="count">
                    Total Records: {{ data.getTotalItemCount }}
                </div>
            </div>
            <div class="col-md-6 navigation">
                {{ knp_pagination_render(data) }}
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>
{#    <script type="application/javascript" src="{{ asset('assets/module/core/js/agent.js') }}"></script>#}
{#    <script type="application/javascript" src="{{ asset('assets/module/core/js/ajax-agent.js') }}"></script>#}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

