<ul class="" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="{{ path('kpi_employee_board') }}">{{ 'KPI Board'|trans }}</a></li>
    {% if is_granted("ROLE_KPI_ADMIN") or is_granted("ROLE_DEVELOPER") %}
        <li><a class="dropdown-item" href="{{ path('kpi_statistics_index') }}">{{ 'KPI Statistics'|trans }}</a></li>
    {% endif %}

    {% if is_granted("ROLE_KPI_ADMIN") or is_granted("ROLE_LINE_MANAGER") or is_granted("ROLE_DEVELOPER") or is_granted("ROLE_KPI_REPORT_ADMIN") %}
        <li><a class="dropdown-item" href="javascript:">{{ 'Report'|trans }}</a>
            <ul>
                <li><a class="dropdown-item" href="{{ path('monthly_generated_kpi_status') }}">{{ 'KPI Status'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('all_team_member_summary') }}">{{ 'All Employee KPI'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_all_employee_summary_report') }}">{{ 'Employees KPI Summery'|trans }}</a></li>

                {% if is_granted("ROLE_DEVELOPER") or is_granted("ROLE_KPI_REPORT_ADMIN") %}
                    <li><a class="dropdown-item" href="{{ path('kpi_report_sales_achievement_all_employee') }}">{{ 'Employees KPI Achievement'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('kpi_report_outstanding_and_doc_sales_all_employee') }}">{{ 'Employees Outstanding and Doc Sales'|trans }}</a></li>
                {% endif %}

                <li><a class="dropdown-item" href="{{ path('team_member_summary') }}">{{ 'Employee Monthly KPI'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('sales_percentage', {mode: 'feed'}) }}">{{ 'Sales Percentage'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('sales_percentage', {mode: 'growth'}) }}">{{ 'Growth Percentage'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('marks_percentage', {mode: 'feed'}) }}">{{ 'Sales Mark Percentage'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('marks_percentage', {mode: 'growth'}) }}">{{ 'Growth Mark Percentage'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('sales_growth_marks_summary') }}">{{ 'Sales & Growth Marks'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('district_history') }}">{{ 'Employee District'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_monthly_summery_report') }}">{{ 'Monthly Report'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_month_range_wise_summery_report') }}">{{ 'Monthly Report Summery'|trans }}</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_KPI_ADMIN') or is_granted('ROLE_DEVELOPER') %}
        <li><a class="dropdown-item" href="{{ path('kpi_markchart_matrix') }}">{{ 'KPI Format'|trans }}</a>

{#            <ul>#}
{#                <li><a class="dropdown-item" href="{{ path('kpi_markchart') }}">{{ 'Mark Chart'|trans }}</a></li>#}
{#                {% if modes is not empty %}#}
{#                    {% for mode in modes %}#}
{#                        <li><a href="{{ path('kpi_markchart_matrix',{'slug':mode.slug}) }}">{{ mode.name }}</a></li>#}
{#                    {% endfor %}#}
{#                {% endif %}#}

{#            </ul>#}
        </li>
{#        <li><a class="dropdown-item" href="{{ path('kpi_location_sales') }}">{{ 'District Sales Target'|trans }}</a></li>#}
        <li><a class="dropdown-item" href="javascript:">{{ 'Sales'|trans }}</a>
            <ul>
                <li><a class="dropdown-item" href="{{ path('kpi_district_sales') }}">{{ 'District Sales'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_agent_sales') }}">{{ 'Agent Sales'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_doc_sales_collection') }}">{{ 'DOC vs Collection'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_outstanding') }}">{{ 'Agent Outstanding'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_agent') }}">{{ 'Agent'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('kpi_month_wise_agent_grade') }}">{{ 'Agent Grade'|trans }}</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_KPI_ADMIN') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_KPI_EXECUTIVE') or is_granted("ROLE_DEVELOPER") %}
        <li><a class="dropdown-item" href="javascript:">{{ 'Master Data'|trans }}</a>
            <ul>
                {% if not is_granted('ROLE_KPI_EXECUTIVE') or is_granted("ROLE_DEVELOPER") %}
                    <li><a class="dropdown-item" href="{{ path('kpi_employee') }}">{{ 'KPI Employee'|trans }}</a></li>
                {% endif %}
                {% if is_granted('ROLE_KPI_ADMIN') or is_granted("ROLE_DEVELOPER") %}
                    <li><a class="dropdown-item" href="{{ path('kpi_employee_hierarchy') }}">{{ 'KPI Employee Hierarchy'|trans }}</a></li>
                {% endif %}
                {% if is_granted('ROLE_KPI_ADMIN') or is_granted('ROLE_KPI_EXECUTIVE') or is_granted("ROLE_DEVELOPER") %}
                    <li><a class="dropdown-item" href="{{ path('kpi_file_upload_index') }}">{{ 'Data Import'|trans }}</a></li>
                {% endif %}
                {% if is_granted('ROLE_KPI_ADMIN') or is_granted("ROLE_DEVELOPER") %}
                    <li><a class="dropdown-item" href="{{ path('kpi_markchart') }}">{{ 'Mark Chart'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('kpi_setting') }}">{{ 'Setting'|trans}}</a></li>
{#                    <li><a class="dropdown-item" href="{{ path('kpi_setting_new') }}">{{ 'New Setting'|trans }}</a></li>#}
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if is_granted("ROLE_DEVELOPER") %}
        <li><a class="dropdown-item loader" href="{{ path('update_all_kpi') }}">{{ 'Update All KPI'|trans }}</a></li>
        <li><a class="dropdown-item loader" href="{{ path('update_line_manager') }}">{{ 'Update Line Manager'|trans }}</a></li>
    {% endif %}

</ul>
