<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Team Member Summary</title>
    <style>
        table tr td {
            padding: 5px;
        }
        body{
            font-size: 10px !important;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="card">
        <div class="card-header pt-0 pb-0">
            <h4 align="center">All Team Member Summary</h4>
            {% if not is_granted('ROLE_KPI_ADMIN') %}
                <h3 align="center">{{ app.user.name }}</h3>
            {% endif %}
            <h5 align="center">{{ '(' ~ filterBy.startMonth ~ ' - ' ~ filterBy.endMonth ~ ')' ~ ' - ' ~ filterBy.year }}</h5>
        </div>
        <div class="card-body" style="padding: 0; margin: 10px; overflow: auto">
            <table cellpadding="0" cellspacing="0" border="1" width="100%">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'Employee ID'|trans }}</th>
                    <th>{{ 'Employee'|trans }}</th>
                    <th>{{ 'Designation'|trans }}</th>
                    <th>{{ 'Format'|trans }}</th>
                    <th>{{ 'Month'|trans }}</th>
                    {% if activitiesName is defined and activitiesName is not empty %}
                        {% for name in activitiesName %}
                            <th>{{ name|default('') }}</th>
                        {% endfor %}
                    {% endif %}
                    <th>{{ 'Mark'|trans }}</th>
                    <th>{{ 'Grade'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if teamMemberSummary is not empty %}
                    {% for employeeId, details in teamMemberSummary %}
                        {% for month, activities in details['mark'] %}
                            <tr>
                                <td align="center">{{ employeeId }}</td>
                                <td>{{ details['data']['employeeName'] }}</td>
                                <td>{{ details['data']['designation'] }}</td>
                                <td>{{ details['data'][month]['reportMode'] }}</td>
                                <td>{{ month }}</td>
                                {% if activitiesName is defined and activitiesName is not empty %}
                                    {% for name in activitiesName %}
                                        <td align="center">{{ teamMemberSummary[employeeId]['mark'][month][name]|default(0) }}</td>
                                    {% endfor %}
                                {% endif %}
                                <td align="center">{{ details['data'][month]['obtainMark']|default(0) }}</td>
                                <td align="center">{{ details['data'][month]['grade']|default('') }}</td>

                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="16" align="center">{{ 'No record has been found!' }}</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>