<table>
    <thead>
    <tr>
        <th colspan="16" align="center">All Team Member Summary</th>
    </tr>
    {% if not is_granted('ROLE_KPI_ADMIN') %}
        <tr>
            <th colspan="16" align="center">{{ app.user.name }}</th>
        </tr>
    {% endif %}
    <tr>
        <th colspan="16"
            align="center">{{ '(' ~ filterBy.startMonth ~ ' - ' ~ filterBy.endMonth ~ ')' ~ ' - ' ~ filterBy.year }}</th>
    </tr>
    <tr>
        <th>{{ 'Employee ID'|trans }}</th>
        <th>{{ 'Employee'|trans }}</th>
        <th>{{ 'Designation'|trans }}</th>
        <th>{{ 'Format'|trans }}</th>
        <th>{{ 'Month'|trans }}</th>
        {% if activitiesName is defined and activitiesName is not empty %}
            {% for name in activitiesName %}
                <th>{{ name|default('') }}</th>
            {% endfor %}
        {% endif %}
        <th>{{ 'Mark'|trans }}</th>
        <th>{{ 'Grade'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if teamMemberSummary is not empty %}
        {% for employeeId, details in teamMemberSummary %}
            {% for month, activities in details['mark'] %}
                <tr>
                    <td align="center">{{ employeeId }}</td>
                    <td>{{ details['data']['employeeName'] }}</td>
                    <td>{{ details['data']['designation'] }}</td>
                    <td>{{ details['data'][month]['reportMode'] }}</td>
                    <td>{{ month }}</td>
                    {% if activitiesName is defined and activitiesName is not empty %}
                        {% for name in activitiesName %}
                            <td align="center">{{ teamMemberSummary[employeeId]['mark'][month][name]|default(0) }}</td>
                        {% endfor %}
                    {% endif %}
                    <td align="center">{{ details['data'][month]['obtainMark']|default(0) }}</td>
                    <td align="center">{{ details['data'][month]['grade']|default('') }}</td>

                </tr>
            {% endfor %}
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="16" align="center">{{ 'No record has been found!' }}</td>
        </tr>
    {% endif %}
    </tbody>
    <tfoot>
</table>
