{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">{{ 'District History'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header p-2">
                    <h5>{{ 'District Histroy '|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-body p-2">
                    <div class="col-md-6 offset-3">
                        {{ form_start(form, {'attr':{'id': 'teamMemberSummerySearchForm'}}) }}
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
{#                                <th colspan="2">#}
{#                                    {{ form_label(form.employee) }}#}
{#                                    {{ form_widget(form.employee) }}#}

{#                                </th>#}
                                <th colspan="2">
                                    {{ form_label(form.month) }}
                                    {{ form_widget(form.month) }}

                                </th>
                                <th colspan="2">
                                    {{ form_label(form.year) }}
                                    {{ form_widget(form.year) }}
                                </th>

                                <th colspan="1">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('district_history') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        <button type="submit" name="pdf" value="pdf" target="_blank" title="Pdf" class="btn blue-bg btn-sm white-font"><i class="fa fa-file-pdf"></i> PDF</button>
                                        {#<button type="submit" name="excel" value="excel" target="_blank" title="Excel" class="btn green-bg white-font btn-sm"><i class="fa fa-file-excel"></i> Excel
                                        </button>#}
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% if data is defined and data is not empty %}
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-hover" width="100%" id="datatable">
                            <thead class="thead-dark">
                            <tr>
                                <th>S/L</th>
                                <th>Employee ID</th>
                                <th>Employee</th>
                                <th>Districts</th>
                                <th>Line Manager</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set count = 1 %}
                            {% for employeeId,record in data['history'] %}
                                {% if data['allEmployee'][employeeId] is defined %}

                                    <tr>
                                        <td>
                                            {{ count }}
                                            {% set count = count + 1 %}
                                        </td>
                                        <td>{{ employeeId|default('') }}</td>
                                        <td>{{ data['allEmployee'][employeeId].employeeName|default('') }}</td>
                                        <td>{{ record['districts'] }}</td>
                                        <td>{{ record['line_manager'] is defined ? data['history'][employeeId]['line_manager'] : '' }}</td>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="card">
                    <div class="card-header py-3 text-center font-italic">
                        No record has been found!
                    </div>
                </div>
            </div>
        {% endif %}

{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         .pagination {
             float: right;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
        $('#datatable').DataTable( {
        "pageLength": 25,
        "responsive": false,
        "scrollX": true,
        columnDefs: [
        { orderable: false, targets: -1 }
        ]
        });
{% endblock %}