{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">{{ 'KPI Status'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header p-2">
                    {% if is_granted("ROLE_KPI_ADMIN") %}
                        <h5>{{ 'Monthly KPI Status (All Employee)' }}</h5>
                    {% else %}
                        <h5>{{ 'Monthly KPI Status (Team Members)' }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-body p-2">
                    <div class="col-md-6 offset-3">
                        <form action="{{ path('monthly_generated_kpi_status') }}" method="get">
                            <table class="table table-striped table-bordered table-hover dataTable">
                                <thead class="thead-dark">
                                <tr role="row" class="filter">
                                    {% if is_granted('ROLE_KPI_ADMIN') %}
                                        <th colspan="2">
                                            <select class="form-control select2" name="lineManager">
                                                <option value="">Select Line Manager</option>

                                                {% for lineManager in lineManagers %}
                                                    <option {{ selectedLineManager == lineManager.userId ? 'selected':'' }} value="{{ lineManager.userId }}">{{ '('~ lineManager.userId ~ ') ' ~ lineManager.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </th>
                                    {% endif %}
                                    <th colspan="2">
                                        {% set minYear = 2020 %}
                                        {% set maxYear = "now"|date("Y") %}
                                        <select class="form-control" name="year">
                                            <option value="">Select Year</option>

                                            {% for yearList in minYear..maxYear %}
                                                <option {{ yearList == year ? 'selected':'' }}
                                                        value="{{ yearList }}">{{ yearList }}</option>
                                                {% set yearList = yearList + 1 %}
                                            {% endfor %}
                                        </select>
                                    </th>

                                    <th colspan="1">
                                        <div class="btn-group">
                                            <button type="submit" title="search" class="btn btn-primary btn-sm"><i
                                                        class="fa fa-search" aria-hidden="true"></i></button>
                                            <a href="{{ path('monthly_generated_kpi_status') }}"
                                               class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i
                                                        class="fa fa-refresh" aria-hidden="true"></i></a>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="card">
                    <div class="card-header pt-0 pb-0">
                    </div>
                    <div class="card-body" style="padding: 0; margin: 10px; overflow: auto; height: 64vh">
                        <table class="table table-striped table-bordered table-hover details-table" width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>S/L</th>
                                {% if is_granted('ROLE_KPI_ADMIN') %}
                                    <th>Line Manager</th>
                                {% endif %}
                                <th>Employee ID</th>
                                <th>Name</th>
                                <th>Employee Status</th>
                                {% for month in 1..12 %}
                                    {% set date = month ~ "/1/2021" %}
                                    <th>{{ date|date("F") }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                                {% if is_granted('ROLE_KPI_ADMIN') %}
                                    {% if employees is defined and employees is not empty %}
                                        {% for lineManagerId,employee in employees %}
                                            {% if employee['teamMember'] is defined %}
                                                {% for teamMember in employee['teamMember'] %}
                                                    <tr>
                                                        {% if loop.first %}
                                                            <td rowspan="{{ employee['teamMember']|length }}">{{ loop.parent.loop.index }}</td>
                                                            <td rowspan="{{ employee['teamMember']|length }}">
                                                                <div class="d-flex justify-content-between">
                                                                    {{ employee['lineManager'].name }}
                                                                    <a href="#" data-toggle="modal" data-action="{{ path('employee_details',{'id':employee['lineManager'].id}) }}" data-target="#detailsModal">
                                                                        <i class="feather icon-eye" ></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        {% endif %}
                                                        <td>{{ teamMember.userId }}</td>
                                                        <td>
                                                            <div class="d-flex justify-content-between">
                                                                {{ teamMember.employeeName }}
                                                                <a href="" data-toggle="modal" data-action="{{ path('employee_details',{'id':teamMember.id}) }}" data-target="#detailsModal">
                                                                    <i class="feather icon-eye"></i>
                                                                </a>
                                                            </div>

                                                        </td>
                                                        <td align="center">
                                                            {% if teamMember.permanentStatus %}
                                                                <span class="btn btn-mini blue-bg white-font">Permanent</span>
                                                            {% else %}
                                                                <span class="btn btn-mini yellow-bg white-font">Temporary</span>
                                                            {% endif %}
                                                        </td>
                                                        {% for month in 1..12 %}
                                                            {% set date = month ~ "/1/2021" %}
                                                            {% set monthName = date|date("F") %}
                                                            <td align="center">

                                                                {% if kpiRecords[lineManagerId].teamMember[teamMember.userId].status[monthName] is defined %}
                                                                    <i class="fa fa-check green-font btn-mini btn-transparent"></i>
                                                                {% else %}
                                                                    {% if teamMember.permanentStatus %}
                                                                        <i class="fa fa-remove red-font btn-mini btn-transparent"></i>
                                                                    {% else %}
                                                                        -
                                                                    {% endif %}
                                                                {% endif %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="15" align="center">{{ 'No Records found!'|trans }}</td>
                                        </tr>
                                    {% endif %}

                                {% else %}

                                    {% if kpiRecords is not empty %}
                                        {% for record in kpiRecords %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ record.userId|default('') }}</td>
                                                <td>{{ record.name|default('') }}</td>
                                                <td align="center">
                                                    {% if record.permanentStatus %}
                                                        <span class="btn btn-mini blue-bg white-font">Permanent</span>
                                                    {% else %}
                                                        <span class="btn btn-mini yellow-bg white-font">Temporary</span>
                                                    {% endif %}
                                                </td>
                                                {% for month in 1..12 %}
                                                    {% set date = month ~ "/1/2021" %}
                                                    {% set monthName = date|date("F") %}
                                                    <td align="center">

                                                        {% if record.status[monthName] is defined %}
                                                            <i class="fa fa-check green-font btn-mini btn-transparent"></i>
                                                        {% else %}
                                                            <i class="fa fa-remove red-font btn-mini btn-transparent"></i>
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="15" align="center">{{ 'No Records found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}

                            </tbody>
                            <tfoot>
                        </table>
                    </div>
                </div>
            </div>
        <!-- [ Main Content ] end -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Employee Details</h4>
                </div>

                <div class="modal-body">

                </div>


            </div>
        </div>
    </div>
    <style>
        .modal-lg {
            width: 65%;
            max-width: 65%;
            /*height: 100%;*/
            padding: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }
    </style>








{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         table.details-table thead {
             position: sticky;
             top: -2px;
             background-color: #dbdee3 !important;
             border-bottom-color: #4C9EE7!important;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}



    {#    Append Employee details#}
    jQuery("#detailsModal").on("show.bs.modal", function(e) {
    var url = jQuery(e.relatedTarget).data('action');

    jQuery.get( url, function( data ) {
    jQuery(".modal-body").html(data.html);
    });

    });

    $('#datatable').DataTable( {
    pageLength: 25,
    });
{% endblock %}