
<table class="table">
    <tr>
        <th data-a-h="center" class="border-0">
            <h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3>
        </th>
    </tr>
    <tr>
        <th data-a-h="center" class="border-0">
            <h5 class="text-center">UTTARA, DHAKA.</h5>
        </th>
    </tr>

    <tr>
        <td data-a-h="center" class="border-0" align="center">
            <h6>{{ 'Monthly Report'|trans }}</h6>
        </td>
    </tr>
</table>

<table style="margin-bottom: 15px; color: #000" width="100%">
    <tr>
        <td class="border-0">
            <h6>
                Employee Name: {{ filterBy['employee'].name|default('') }}
            </h6>
        </td>
        <td class="border-0">
            <h6>
                Employee Id: {{ filterBy['employee'].userId|default('') }}
            </h6>
        </td>
        <td class="border-0">
            <h6>
                Designation: {{ filterBy['employee'].designation.name|default('') }}
            </h6>
        </td>
    </tr>
</table>

<h4>{{ 'Sales' }}</h4>
{% if data['currentYearSalesData'] is defined and data['currentYearSalesData'] is not empty %}
    {% include('@TerminalbdKpi/employeeboard/report/inc/_feed_sale.html.twig') %}
{% else %}
    <p>No record found.</p>
{% endif%}

<h4>{{ 'Outstanding'|trans }}</h4>
{% if data['outstandingAndDocSales'] is defined and data['outstandingAndDocSales'] is not empty %}
    {% include('@TerminalbdKpi/employeeboard/report/inc/_outstanding.html.twig') %}
{% else %}
    <p>No record found.</p>
{% endif %}

<h4>{{ 'Team Members' }}</h4>

{% if data['currentYearTeamMemberSalesData'] is defined and data['currentYearTeamMemberSalesData'] is not empty %}
    {% include('@TerminalbdKpi/employeeboard/report/inc/_team_member_feed_sale.html.twig') %}
{% else %}
    <p>No record found.</p>
{% endif %}
