<!doctype html>
<html lang="bn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>KPI-Sales</title>
    <style>
        table{
            width: 100%!important;
        }
        table{
            border-collapse: collapse;!important;
        }
        table tr td, table tr th {
            padding: 5px;
            border: 1px solid #000000;
        }
        table tr td.border-0, table tr th.border-0 {
            border: none;
        }
        table tr td h3, table tr td h5, table tr td h6 {
            margin: 0px;
            padding: 2px;
            line-height: normal;
        }
        .border-0{
            border: none;
        }

        body {
            font-size: 12px !important;
            font-family: "SolaimanLipi", sans-serif;

        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "SolaimanLipi", sans-serif;
            font-weight: normal!important;
        }
    </style>
</head>
<body>
{% if filterBy['reportType'] is defined and filterBy['reportType']=='sales_outstanding' %}
    {% include('@TerminalbdKpi/employeeboard/report/monthlySummeryReport-content-for-sales-outstanding.html.twig') %}
{% elseif filterBy['reportType'] is defined and filterBy['reportType']=='competitor_activities' %}
    {% include('@TerminalbdKpi/employeeboard/report/monthlySummeryReport-content-for-competitor-activities.html.twig') %}
{% else %}
    {% include('@TerminalbdKpi/employeeboard/report/monthlySummeryReport-content.html.twig') %}
{% endif %}
</body>
</html>