{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        {#        <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a
                                            href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">{{ 'Team Member Summary'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header p-2">
                    {% if is_granted('ROLE_KPI_ADMIN') %}
                        <h5>{{ 'Employee ' ~ mode ~ ' Sales Percentage Report'|trans }}</h5>

                    {% else %}
                        <h5>{{ 'KPI Team Member ' ~ mode ~ ' Sales Summary for '|trans }}: {{ app.user.name }}</h5>

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-body p-2">
                    <div class="col-md-10 offset-1">
                        {{ form_start(form, {'attr':{'id': 'teamMemberSummerySearchForm'}}) }}
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="2">
                                        {{ form_label(form.employee, 'Employee') }}
                                        {{ form_widget(form.employee) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.startMonth, 'Start Month') }}
                                    {{ form_widget(form.startMonth) }}

                                </th>
                                <th colspan="2">
                                    {{ form_label(form.endMonth, 'End Month') }}
                                    {{ form_widget(form.endMonth) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.year) }}
                                    {{ form_widget(form.year) }}
                                </th>

                                <th colspan="1">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('sales_percentage', {mode: mode}) }}"
                                           class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i
                                                    class="fa fa-refresh" aria-hidden="true"></i></a>
                                        <button type="submit" name="pdf" value="pdf" target="_blank" title="PDF"
                                                class="btn blue-bg btn-sm white-font"><i
                                                    class="fa fa-file-pdf"></i> PDF
                                        </button>
                                        {% if data is defined and data['salesData'] is defined and data['salesData'] is not empty %}
                                        <button type="button"  title="Excel"
                                                id="button-excel"
                                                class="btn green-bg white-font btn-sm"><i
                                                    class="fa fa-file-excel"></i> Excel
                                        </button>
                                        {% endif %}
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% if data is defined and data['salesData'] is defined and data['salesData'] is not empty %}
            <div class="row">
                <div class="card">
                    <div class="card-body"  style="padding: 0; margin: 10px; overflow: auto; height: 64vh">

                            <table data-cols-width="15,15,10,8" class="table table-striped table-bordered table-hover details-table download-excel"
                                   width="100%">
                                <thead class="thead-dark">
                                <tr>
                                    <th data-a-v="middle" rowspan="2">{{ 'Employee ID'|trans }}</th>
                                    <th data-a-v="middle" rowspan="2">{{ 'Name'|trans }}</th>
                                    <th data-a-v="middle" rowspan="2">{{ 'Designation'|trans }}</th>
                                    <th data-a-v="middle" rowspan="2">{{ 'Month'|trans }}</th>
                                    <th data-a-h="center" colspan="3" class="text-center">{{ 'Broiler'|trans }}</th>
                                    <th data-a-h="center" colspan="3" class="text-center">{{ 'Sonali'|trans }}</th>
                                    <th data-a-h="center" colspan="3" class="text-center">{{ 'Layer'|trans }}</th>
                                    <th data-a-h="center" colspan="3" class="text-center">{{ 'Fish'|trans }}</th>
                                    <th data-a-h="center" colspan="3" class="text-center">{{ 'Cattle'|trans }}</th>
                                    <th data-a-h="center" colspan="3" class="text-center">{{ 'Total'|trans }}</th>

                                </tr>
                                <tr>
                                    <th data-a-h="center" class="text-center">{{ (filterBy['year'] - 1)|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ filterBy['year']|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ 'Growth(%)' }}</th>

                                    <th data-a-h="center" class="text-center">{{ (filterBy['year'] - 1)|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ filterBy['year']|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ 'Growth(%)' }}</th>

                                    <th data-a-h="center" class="text-center">{{ (filterBy['year'] - 1)|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ filterBy['year']|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ 'Growth(%)' }}</th>

                                    <th data-a-h="center" class="text-center">{{ (filterBy['year'] - 1)|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ filterBy['year']|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ 'Growth(%)' }}</th>

                                    <th data-a-h="center" class="text-center">{{ (filterBy['year'] - 1)|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ filterBy['year']|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ 'Growth(%)' }}</th>

                                    <th data-a-h="center" class="text-center">{{ (filterBy['year'] - 1)|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ filterBy['year']|trans }}</th>
                                    <th data-a-h="center" class="text-center">{{ 'Growth(%)' }}</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for employeeId, employeeData in data['salesData'] %}
                                    {% set employeeRecordCount = 1 %}
                                    {% if employeeData is not empty %}
                                        {% for monthName, details in employeeData %}
                                            {% set prevBroilerTotalSales = data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1]['Broiler'] is defined ? data['salesData'][employeeId][monthName][filterBy['year']-1]['Broiler']['totalSalesQuantity'] : 0 %}
                                            {% set prevSonaliTotalSales = data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1]['Sonali'] is defined ? data['salesData'][employeeId][monthName][filterBy['year']-1]['Sonali']['totalSalesQuantity'] : 0 %}
                                            {% set prevLayerTotalSales = data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1]['Layer'] is defined ? data['salesData'][employeeId][monthName][filterBy['year']-1]['Layer']['totalSalesQuantity'] : 0 %}
                                            {% set prevFishTotalSales = data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1]['Fish'] is defined ? data['salesData'][employeeId][monthName][filterBy['year']-1]['Fish']['totalSalesQuantity'] : 0 %}
                                            {% set prevCattleTotalSales = data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1] is defined and data['salesData'][employeeId][monthName][filterBy['year']-1]['Cattle'] is defined ? data['salesData'][employeeId][monthName][filterBy['year']-1]['Cattle']['totalSalesQuantity'] : 0 %}

                                            {% set prevLineTotal = prevBroilerTotalSales+prevSonaliTotalSales+prevLayerTotalSales+prevFishTotalSales+prevCattleTotalSales %}

                                            <tr>
                                                {% if employeeRecordCount==1 %}
                                                    <td data-a-v="middle" rowspan="{{ employeeData|length }}">{{ data['employeeInfo'][employeeId]['employeeId']|default('') }}</td>
                                                    <td data-a-v="middle" rowspan="{{ employeeData|length }}">{{ data['employeeInfo'][employeeId]['employeeName']|default('') }}</td>
                                                    <td data-a-v="middle" rowspan="{{ employeeData|length }}">{{ data['employeeInfo'][employeeId]['designationName']|default('') }}</td>
                                                {% endif %}
                                                <td>{{ monthName }}</td>

                                                <td>{{ prevBroilerTotalSales|number_format(2) }}</td>
                                                <td>{{ details[filterBy['year']]['Broiler'] is defined ? details[filterBy['year']]['Broiler']['totalSalesQuantity']|number_format(2) : '' }}</td>
                                                <td align="center">
                                                    {% if prevBroilerTotalSales > 0 %}
                                                        {{ (((details[filterBy['year']]['Broiler']['totalSalesQuantity']/prevBroilerTotalSales)-1)*100)|number_format(2,'.','') }}
                                                    {% endif %}
                                                </td>

                                                <td>{{ prevSonaliTotalSales|number_format(2) }}</td>
                                                <td>{{ details[filterBy['year']]['Sonali'] is defined ? details[filterBy['year']]['Sonali']['totalSalesQuantity']|number_format(2) : '' }}</td>
                                                <td align="center">
                                                    {% if prevSonaliTotalSales > 0 %}
                                                        {{ (((details[filterBy['year']]['Sonali']['totalSalesQuantity']/prevSonaliTotalSales)-1)*100)|number_format(2,'.','') }}
                                                    {% endif %}
                                                </td>

                                                <td>{{ prevLayerTotalSales|number_format(2) }}</td>
                                                <td>{{ details[filterBy['year']]['Layer'] is defined ? details[filterBy['year']]['Layer']['totalSalesQuantity']|number_format(2) : '' }}</td>
                                                <td align="center">
                                                    {% if prevLayerTotalSales > 0 %}
                                                        {{ (((details[filterBy['year']]['Layer']['totalSalesQuantity']/prevLayerTotalSales)-1)*100)|number_format(2,'.','') }}
                                                    {% endif %}
                                                </td>

                                                <td>{{ prevFishTotalSales|number_format(2) }}</td>
                                                <td>{{ details[filterBy['year']]['Fish'] is defined ? details[filterBy['year']]['Fish']['totalSalesQuantity']|number_format(2) : '' }}</td>
                                                <td align="center">
                                                    {% if prevFishTotalSales > 0 %}
                                                        {{ (((details[filterBy['year']]['Fish']['totalSalesQuantity']/prevFishTotalSales)-1)*100)|number_format(2,'.','') }}
                                                    {% endif %}
                                                </td>

                                                <td>{{ prevCattleTotalSales|number_format(2) }}</td>
                                                <td>{{ details[filterBy['year']]['Cattle'] is defined ? details[filterBy['year']]['Cattle']['totalSalesQuantity']|number_format(2) : '' }}</td>
                                                <td align="center">
                                                    {% if prevFishTotalSales > 0 %}
                                                        {{ (((details[filterBy['year']]['Cattle']['totalSalesQuantity']/prevCattleTotalSales)-1)*100)|number_format(2,'.','') }}
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    {{ prevLineTotal|number_format(2) }}
                                                </td>
                                                <td>
                                                    {{ (details[filterBy['year']]|arraySumColWise('totalSalesQuantity'))|number_format(2) }}
                                                </td>
                                                <td align="center">
                                                    {% if prevLineTotal > 0 %}
                                                        {{ (((details[filterBy['year']]|arraySumColWise('totalSalesQuantity')/prevLineTotal)-1)*100)|number_format(2) }}
                                                    {% endif %}
                                                </td>


                                            </tr>
                                            {% set employeeRecordCount = employeeRecordCount+1 %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="card">
                        <div class="card-header py-3 text-center font-italic">
                            {{ 'No record has been found!'|trans }}
                        </div>
                    </div>
                </div>
        {% endif %}
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         table.details-table thead {
             position: sticky;
             top: -2px;
             background-color: #dbdee3 !important;
             border-bottom-color: #4C9EE7!important;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script>
        const button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "grouth_{{ app.request.get('_route') }}.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }

    </script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });
{% endblock %}