<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KPI-Sales Mark</title>
    <style>
        table tr td, table tr th {
            padding: 5px;
        }

        body {
            font-size: 10px !important;
        }
    </style>
</head>
<body>
<table  width="100%" cellspacing="0" cellpadding="0" border="1">
    <thead class="thead-dark">
    <tr>
        <th colspan="11">
            Sales & Growth Mark Percentage ({{ filterBy['months']|first ~ ' - ' ~ filterBy['months']|last }}
            ), {{ filterBy['year'] }}
            <br>
            {% if not is_granted('ROLE_KPI_ADMIN') %}
                Line Manager: {{ '(' ~ app.user.userId ~ ') ' ~ app.user.name }}
            {% endif %}
        </th>
    </tr>
    <tr>
        <th rowspan="2">{{ 'Employee ID'|trans }}</th>
        <th rowspan="2">{{ 'Name'|trans }}</th>
        <th rowspan="2">{{ 'Designation'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Sales'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Growth'|trans }}</th>
        <th colspan="2" class="text-center">{{ 'Grade'|trans }}</th>

    </tr>
    <tr>
        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>
        <th class="text-center">%</th>

        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>
        <th class="text-center">%</th>

        <th class="text-center">{{ 'Sales'|trans }}</th>
        <th class="text-center">{{ 'Growth'|trans }}</th>

    </tr>
    </thead>
    <tbody>
    {% if data is defined and data is not empty %}

        {% for details in data %}
            {% set salesPercentage = 0 %}
            {% set growthPercentage = 0 %}

            {% if details['data']['Sales'] is defined and details['data']['Sales'].totalTargetMark > 0 %}

                {% set salesPercentage = ((details['data']['Sales'].totalAchieveMark*100) / details['data']['Sales'].totalTargetMark) %}
            {% endif %}

            {% if details['data']['Sales Growth( Always consider among same period)'] is defined and details['data']['Sales Growth( Always consider among same period)'].totalTargetMark > 0 %}

                {% set growthPercentage = ((details['data']['Sales Growth( Always consider among same period)'].totalAchieveMark*100) / details['data']['Sales Growth( Always consider among same period)'].totalTargetMark) %}
            {% endif %}

            <tr>
                <td>{{ details['userInfo'].userId }}</td>
                <td>{{ details['userInfo'].name }}</td>
                <td>{{ details['userInfo'].designation }}</td>

                <td align="right">{{ details['data']['Sales'] is defined ? details['data']['Sales'].totalTargetMark|number_format(2) : '' }}</td>
                <td align="right">{{ details['data']['Sales'] is defined ? details['data']['Sales'].totalAchieveMark|number_format(2) : '' }}</td>
                <td align="center">{{ salesPercentage|number_format(2) }}</td>

                <td align="right">{{ details['data']['Sales Growth( Always consider among same period)'] is defined ? details['data']['Sales Growth( Always consider among same period)'].totalTargetMark|number_format(2) : '' }}</td>
                <td align="right">{{ details['data']['Sales Growth( Always consider among same period)'] is defined ? details['data']['Sales Growth( Always consider among same period)'].totalAchieveMark|number_format(2) : '' }}</td>
                <td align="center">{{ growthPercentage|number_format(2) }}</td>
                {#                                Grade (A=>80%, B+=75-79%, B=70%-74%, C=65%-70%, D<65%)#}
                <td align="center">
                    {% if salesPercentage >= 80 %}
                        {{ 'A+' }}

                    {% elseif salesPercentage >=75 and salesPercentage < 80 %}
                        {{ 'B+' }}

                    {% elseif salesPercentage >=70 and salesPercentage < 75 %}
                        {{ 'B' }}

                    {% elseif salesPercentage >=65 and salesPercentage < 70 %}
                        {{ 'C' }}

                    {% else %}
                        {{ 'D' }}

                    {% endif %}
                </td>

                <td align="center">
                    {% if growthPercentage >= 80 %}
                        {{ 'A+' }}

                    {% elseif growthPercentage >=75 and growthPercentage < 80 %}
                        {{ 'B+' }}

                    {% elseif growthPercentage >=70 and growthPercentage < 75 %}
                        {{ 'B' }}

                    {% elseif growthPercentage >=65 and growthPercentage < 70 %}
                        {{ 'C' }}

                    {% else %}
                        {{ 'D' }}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="11" align="center">{{ 'No records found'|trans }}</td>
        </tr>
    {% endif %}

    </tbody>
</table>
</body>
</html>