{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        {#        <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a
                                            href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">{{ 'Team Member Summary'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header p-2">
                    {% if is_granted('ROLE_KPI_ADMIN') %}
                        <h5>{{ 'Employee Sales & Growth Marks Summary'|trans }}</h5>

                    {% else %}
                        <h5>{{ 'KPI Team Member Sales & Growth Marks Summary for '|trans }}: {{ app.user.name }}</h5>

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-body p-2">
                    <div class="col-md-10 offset-1">
                        {{ form_start(form) }}
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="2">
                                    {{ form_label(form.employee, 'Employee') }}
                                    {{ form_widget(form.employee) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.startMonth, 'Start Month') }}
                                    {{ form_widget(form.startMonth) }}

                                </th>
                                <th colspan="2">
                                    {{ form_label(form.endMonth, 'End Month') }}
                                    {{ form_widget(form.endMonth) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.year) }}
                                    {{ form_widget(form.year) }}
                                </th>

                                <th colspan="1">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('sales_growth_marks_summary') }}"
                                           class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i
                                                    class="fa fa-refresh" aria-hidden="true"></i></a>
                                        <button type="submit" name="pdf" value="pdf" target="_blank" title="PDF"
                                                class="btn blue-bg btn-sm white-font"><i
                                                    class="fa fa-file-pdf"></i> PDF
                                        </button>
                                        {#<button type="submit" name="excel" value="excel" target="_blank" title="Excel"
                                                id="button-excel"
                                                class="btn green-bg white-font btn-sm"><i
                                                    class="fa fa-file-excel"></i> Excel
                                        </button>#}
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% if data is defined and data is not empty %}
            <div class="row">
                <div class="card">
                    <div class="card-body" style="padding: 0; margin: 10px; overflow: auto; height: 64vh">

                        <table class="table table-striped table-bordered table-hover details-table"
                               width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th rowspan="2">{{ 'Employee ID'|trans }}</th>
                                <th rowspan="2">{{ 'Name'|trans }}</th>
                                <th rowspan="2">{{ 'Designation'|trans }}</th>
                                <th colspan="3" class="text-center">{{ 'Sales'|trans }}</th>
                                <th colspan="3" class="text-center">{{ 'Growth'|trans }}</th>
                                <th colspan="2" class="text-center">{{ 'Grade'|trans }}</th>

                            </tr>
                            <tr>
                                <th class="text-center">{{ 'Total Marks'|trans }}</th>
                                <th class="text-center">{{ 'Achieve'|trans }}</th>
                                <th class="text-center">%</th>

                                <th class="text-center">{{ 'Total Marks'|trans }}</th>
                                <th class="text-center">{{ 'Achieve'|trans }}</th>
                                <th class="text-center">%</th>

                                <th class="text-center">{{ 'Sales'|trans }}</th>
                                <th class="text-center">{{ 'Growth'|trans }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for details in data %}
                                {% set salesPercentage = 0 %}
                                {% set growthPercentage = 0 %}

                                {% if details['data']['Sales'] is defined and details['data']['Sales'].totalTargetMark > 0 %}

                                    {% set salesPercentage = ((details['data']['Sales'].totalAchieveMark*100) / details['data']['Sales'].totalTargetMark) %}
                                {% endif %}

                                {% if details['data']['Sales Growth( Always consider among same period)'] is defined and details['data']['Sales Growth( Always consider among same period)'].totalTargetMark > 0 %}

                                    {% set growthPercentage = ((details['data']['Sales Growth( Always consider among same period)'].totalAchieveMark*100) / details['data']['Sales Growth( Always consider among same period)'].totalTargetMark) %}
                                {% endif %}

                                <tr>
                                    <td>{{ details['userInfo'].userId }}</td>
                                    <td>{{ details['userInfo'].name }}</td>
                                    <td>{{ details['userInfo'].designation }}</td>

                                    <td>{{ details['data']['Sales'] is defined ? details['data']['Sales'].totalTargetMark|number_format(2) : '' }}</td>
                                    <td>{{ details['data']['Sales'] is defined ? details['data']['Sales'].totalAchieveMark|number_format(2) : '' }}</td>
                                    <td align="center">{{ salesPercentage|number_format(2) }}</td>

                                    <td>{{ details['data']['Sales Growth( Always consider among same period)'] is defined ? details['data']['Sales Growth( Always consider among same period)'].totalTargetMark|number_format(2) : '' }}</td>
                                    <td>{{ details['data']['Sales Growth( Always consider among same period)'] is defined ? details['data']['Sales Growth( Always consider among same period)'].totalAchieveMark|number_format(2) : '' }}</td>
                                    <td align="center">{{ growthPercentage|number_format(2) }}</td>
                                    {#                                Grade (A=>80%, B+=75-79%, B=70%-74%, C=65%-70%, D<65%)#}
                                    <td align="center">
                                    {% if salesPercentage >= 80 %}
                                        {{ 'A+' }}

                                    {% elseif salesPercentage >=75 and salesPercentage < 80 %}
                                        {{ 'B+' }}

                                    {% elseif salesPercentage >=70 and salesPercentage < 75 %}
                                        {{ 'B' }}

                                    {% elseif salesPercentage >=65 and salesPercentage < 70 %}
                                        {{ 'C' }}

                                    {% else %}
                                        {{ 'D' }}

                                    {% endif %}
                                    </td>

                                    <td align="center">
                                    {% if growthPercentage >= 80 %}
                                        {{ 'A+' }}

                                    {% elseif growthPercentage >=75 and growthPercentage < 80 %}
                                        {{ 'B+' }}

                                    {% elseif growthPercentage >=70 and growthPercentage < 75 %}
                                        {{ 'B' }}

                                    {% elseif growthPercentage >=65 and growthPercentage < 70 %}
                                        {{ 'C' }}

                                    {% else %}
                                        {{ 'D' }}

                                    {% endif %}
                                    </td>
                                 </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="card">
                    <div class="card-header py-3 text-center font-italic">
                        {{ 'No record has been found!'|trans }}
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         table.details-table thead {
             position: sticky;
             top: -2px;
             background-color: #dbdee3 !important;
             border-bottom-color: #4C9EE7 !important;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script>
        const button = document.querySelector("#button-excel");

        button.addEventListener("click", e => {
            e.preventDefault();
            let table = document.querySelector(".download-excel");
            TableToExcel.convert(table, {
                name: "{{ app.request.get('_route') }}.xlsx",
                sheet: {
                    name: "Sheet 1"
                }
            });
        });
    </script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });
{% endblock %}