{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    {#    {{ dump(board.employee.reportMode.slug) }}#}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">{{ 'Employee KPI Summary'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Achievement for '|trans }}: {{ board.employee.name }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i
                                        class="fa fa-th-list"></i>{{ 'KPI Board'|trans }}</a>
                            <a href="{{ path('kpi_details_report',{'id':board.id}) }}"
                               class="btn btn-sm green-bg white-font"><i
                                        class="fa fa-th-list"></i>{{ 'KPI Details'|trans }}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'KPI Achievement for '|trans }}: {{ board.employee.name }} </div>
                        <div class="btn-group float-right">
                            <a href="{{ path('kpi_report_sales_achievement', {id: board.id, mode: 'pdf'}) }}"
                               target="_blank" class="btn purple-bg white-font"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a href="{{ path('kpi_report_sales_achievement', {id: board.id, mode: 'excel'}) }}"
                               target="_blank" class="btn blue-bg white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    </div>
                    <div class="portlet-body form text-dark">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <style>
                                    table.employee-details thead tr td:nth-child(odd) {
                                        width: 10%;
                                    }

                                    table.employee-details thead tr td:nth-child(even) {
                                        width: 23%;
                                    }
                                </style>
                                <table width="100%" class="mb-5 employee-details">
                                    <thead>
                                    <tr>
                                        <td><b>{{ 'Employee Name:'|trans }}</b></td>
                                        <td>{{ board.employee.name }}</td>
                                        <td><b>{{ 'Designation:'|trans }}</b></td>
                                        <td>{{ board.employee.designation.name }}</td>
                                        <td><b>{{ 'Format:'|trans }}</b></td>
                                        <td>{{ board.reportMode.name|default('') }}</td>

                                    </tr>
                                    <tr>
                                        <td><b>{{ 'Employee Id:'|trans }}</b></td>
                                        <td>{{ board.employee.userId }}</td>
                                        <td><b>{{ 'Working Area:'|trans }}</b></td>
                                        <td>
{#                                            {% for district in board.employee.district %}{{ district.name }}{% if not loop.last %},{% endif %} {% endfor %}#}
                                            {% for districtName in board.district|json_decode %}{{ districtName }}{% if not loop.last %},{% endif %} {% endfor %}
                                        </td>
                                        <td><b>{{ 'Month & Year:'|trans }}</b></td>
                                        <td>{{ board.month }},{{ board.year }}</td>

                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            {% if feedAndGrowth is not empty %}
                                {% for key, item in feedAndGrowth|ksort %}
                                    <h5 class="bg-secondary p-1 text-white h5 w-100">{{ key == 'feed' ? 'Sales Feed Achivement' : 'Product Sales Growth' }}</h5>
                                    <table class="table table-striped table-bordered table-hover" id="datatable">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                            <th scope="col"
                                                width="20%">{{ key == 'feed' ? 'Target Quantity' : 'Previous Year Sales Quantity' }}</th>
                                            <th scope="col" width="20%">{{ 'Current Year Sales Quantity'|trans }}</th>
                                            <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                                            <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if item is not empty %}
                                            {% for attribute in item %}
                                                <tr>
                                                    <td>{{ attribute.markParameter|default('') }}</td>
                                                    <td>{{ attribute.targetQuantity|default('') }}</td>
                                                    <td>{{ attribute.salesQuantity|default('') }}</td>
                                                    <td>{{ attribute.percentage|number_format(2) }} %</td>
                                                    <td>{{ attribute.mark|default('') }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endif %}
                            <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'Outstanding'|trans }}</h5>
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'District'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Outstanding'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Limit Amount'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Usage'|trans }}</th>
                                    <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if outstanding is not empty %}
                                    {% set totalActual = 0 %}
                                    {% set totalLimit = 0 %}
                                    {% set totalOutstanding = 0 %}

                                        {% for key, amount in outstanding %}
                                            {% if key != 'mark' %}
                                                {% set totalActual = totalActual + amount.actualAmount %}
                                                {% set totalLimit = totalLimit + amount.limitAmount %}
                                                {% set totalOutstanding = totalOutstanding + amount.outstanding %}
                                                <tr>
                                                    <td>{{ key|default() }}</td>
                                                    <td>{{ amount.actualAmount|number_format(2,'.',',')|default() }}</td>
                                                    <td>{{ amount.limitAmount|number_format(2,'.',',')|default() }}</td>
                                                    <td>{{ amount.outstanding|number_format(2,'.')|default() }}</td>
                                                    <td>{{ amount.mark|default() }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                    <tr>
                                        <th>{{ 'Total'|trans }}</th>
                                        <th>{{ totalActual|number_format(2,'.', ',')|default() }}</th>
                                        <th>{{ totalLimit|number_format(2,'.', ',')|default() }}</th>
                                        <th>{{ totalOutstanding|number_format(2,'.', ',')|default() }}</th>
                                        <td>{{ outstanding['mark']|default('') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'DOC sales collection'|trans }}</h5>
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'District'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Sales Amount'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Collection Amount'|trans }}</th>
                                    <th scope="col" width="10%">{{ 'Percentage'|trans }}</th>
                                    <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if docSale is not empty %}
                                    {% set totalCollection = 0 %}
                                    {% set totalSales = 0 %}

                                    {% for key, amount in docSale %}
                                        {% if key != 'mark' %}
                                            {% set totalCollection = totalCollection + amount.salesAmount %}
                                            {% set totalSales = totalSales + amount.collectionAmount %}
                                            <tr>
                                                <td>{{ key|default() }}</td>
                                                <td>{{ amount.salesAmount|number_format(2,'.', ',')|default() }}</td>
                                                <td>{{ amount.collectionAmount|number_format(2,'.',',')|default() }}</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    <tr>
                                        <th>{{ 'Total'|trans }}</th>
                                        <th>{{ totalCollection|number_format(2,'.', ',')|default(0) }}</th>
                                        <th>{{ totalSales|number_format(2,'.', ',')|default(0) }}</th>
                                        <th>
                                            {% if totalCollection != 0 %}
                                                {{ ((totalSales * 100) / totalCollection)|number_format(2,'.', ',')|default(0) }} %
                                            {% else %}
                                                0.00%
                                            {% endif %}
                                        </th>
                                        <th>{{ docSale['mark']|default(0) }}</th>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                            {% if board.reportMode.slug is same as 'spo-format' %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ '"D" Category Agent Upgradation'|trans }}</h5>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0 !important;">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Previous "D" Category Agents: '|trans }} {{ dCategoryUpgrade.totalAgent|default(0) }}</th>
                                        {#                                        <th scope="col">{{ '50% "D" Category Agents: '|trans }} {{ (dCategoryUpgrade.totalAgent / 2)|round }}</th>#}
                                        <th scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ dCategoryUpgrade.totalUpgradeAgent|default(0) }}</th>
                                        <th scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                                            {% if dCategoryUpgrade.totalAgent > 0 %}
                                                {{ ((dCategoryUpgrade.totalUpgradeAgent * 100) / dCategoryUpgrade.totalAgent)|number_format(2) }} %
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0 !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Category'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                                        <th scope="col">{{ 'District'|trans }}</th>
                                        <th scope="col">{{ 'Region'|trans }}</th>
                                        <th scope="col">{{ 'Zone'|trans }}</th>
                                        <th scope="col">{{ 'Average'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                                        {% if dCategoryUpgrade is not empty %}
                                            {% for board in dCategoryUpgrade %}
                                                {% if board is iterable and loop.index == 1 %}
                                                    <th scope="col">{{ board.month|default('') }} (Avg.)</th>
                                                    <th scope="col">{{ 'Category'|trans ~ ' (' ~ board.year ~ ')' }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if dCategoryUpgrade is not empty %}
                                        {% for row in dCategoryUpgrade %}
                                            {% if row is iterable %}
                                                <tr>
                                                    <td>{{ row.prevYearGrade|default('') }}</td>
                                                    <td>{{ row.agentId|default('') }}</td>
                                                    <td>{{ row.agentName|default('') }}</td>
                                                    <td>{{ row.agentDistrictName|default('') }}</td>
                                                    <td>{{ row.agentRegionName|default('') }}</td>
                                                    <td>{{ row.agentZoneName|default('') }}</td>
                                                    <td>{{ row.prevYearAvg|number_format(2)|default(0) }}</td>
                                                    <td>{{ row.currentMonthAvg|number_format(2)|default(0) }}</td>
                                                    <td>{{ row.currentMonthGrade|default('') }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>

                                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ '"C" Category Agent Upgradation'|trans }}</h5>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Previous "C" Category Agents: '|trans }} {{ cCategoryUpgrade.totalAgent|default(0) }}</th>
                                        {#                                        <th scope="col">{{ '50% "C" Category Agents: '|trans }} {{ (cCategoryUpgrade.totalAgent / 2)|round }}</th>#}
                                        <th scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ cCategoryUpgrade.totalUpgradeAgent|default(0) }}</th>
                                        <th scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                                            {% if cCategoryUpgrade.totalAgent > 0 %}
                                                {{ ((cCategoryUpgrade.totalUpgradeAgent * 100) / cCategoryUpgrade.totalAgent)|number_format(2) }} %
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0 !important;">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Category'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                                        <th scope="col">{{ 'District'|trans }}</th>
                                        <th scope="col">{{ 'Region'|trans }}</th>
                                        <th scope="col">{{ 'Zone'|trans }}</th>
                                        <th scope="col">{{ 'Average'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
                                        {% if cCategoryUpgrade is not empty %}
                                            {% for board in cCategoryUpgrade %}
                                                {% if board is iterable and loop.index == 1 %}
                                                    <th scope="col">{{ board.month|default('') }} (Avg.)</th>
                                                    <th scope="col">{{ 'Category'|trans ~ ' (' ~ board.year ~ ')' }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if cCategoryUpgrade is not empty %}
                                        {% for row in cCategoryUpgrade %}
                                            {% if row is iterable %}
                                                <tr>
                                                    <td>{{ row.prevYearGrade|default('') }}</td>
                                                    <td>{{ row.agentId|default('') }}</td>
                                                    <td>{{ row.agentName|default('') }}</td>
                                                    <td>{{ row.agentDistrictName|default('') }}</td>
                                                    <td>{{ row.agentRegionName|default('') }}</td>
                                                    <td>{{ row.agentZoneName|default('') }}</td>
                                                    <td>{{ row.prevYearAvg|number_format(2)|default('') }}</td>
                                                    <td>{{ row.currentMonthAvg|number_format(2)|default('') }}</td>
                                                    <td>{{ row.currentMonthGrade|default('') }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}
                            {% if (board.reportMode.slug is same as 'agm-kpi' or board.reportMode.slug is same as 'rsm-arsm-kpi') %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'Team members ach(=100%) mark on core activities'|trans }}</h5>
                                <table class="table table-striped table-bordered table-hover" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Employee'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Actual Mark'|trans }}</th>
                                        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                        <th scope="col" width="10%">{{ 'Percentage'|trans }}</th>
                                        <th scope="col" width="10%">{{ 'Obtain Mark'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if individualTeamMemberMarks is not empty %}
                                        {% set totalActualMark = 0 %}
                                        {% set totalMark = 0 %}
                                        {% for key, member in individualTeamMemberMarks %}
                                            {% if key != 'obtainMark' %}
                                                {% set totalActualMark = totalActualMark + member.actualMark %}
                                                {% set totalMark = totalMark + member.mark %}
                                                <tr>
                                                    <td>{{ '(' ~ member.userId ~ ') ' ~ key|default('') }}</td>
                                                    <td>{{ member.actualMark|default('') }}</td>
                                                    <td>{{ member.mark|default('') }}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <th>{{ "Total"|trans }}</th>
                                            <th>{{ totalActualMark|default('0') }}</th>
                                            <th>{{ totalMark|default('0') }}</th>
                                            <th>
                                                {% if totalActualMark != 0 %}
                                                    {{ ((totalMark * 100) / totalActualMark)|number_format(2)|default(0) }} %
                                                {% else %}
                                                    0.00 %
                                                {% endif %}
                                            </th>
                                            <th>{{ individualTeamMemberMarks['obtainMark']|default('0') }}</th>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}

                            {% if (board.reportMode.slug is same as 'spo-format' or board.reportMode.slug is same as 'aqua-service' or board.reportMode.slug is same as 'cattle-service') %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">{{ 'Agent Upgradation'|trans }}</h5>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>{{ 'Total Agents (Previous Year):' }} {{ agentUpgradationDetails.totalAgentsCountPrevYear|default(0) }}</th>
                                        <th>{{ 'Total Agents:' }} {{ agentUpgradationDetails.totalAgentsCountCurrentYear|default(0) }}</th>
                                        <th>{{ 'Total Upgrade Agents:' }} {{ agentUpgradationDetails.upgradeAgentsCount|default(0) }}</th>
                                        <th>{{ 'Upgrade Agents percentage:' }}
                                            {% if agentUpgradationDetails.totalAgentsCountPrevYear > 0 %}
                                                {{ ((agentUpgradationDetails.upgradeAgentsCount * 100) / agentUpgradationDetails.totalAgentsCountPrevYear)|number_format(2) }} %

                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0 !important;">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                                        <th scope="col">{{ 'Address'|trans }}</th>
                                        <th scope="col">{{ 'Avg.'|trans }} ({{ board.year-1 }})</th>
                                        <th scope="col">{{ 'Avg.'|trans }} ({{ board.year }})</th>
                                        <th scope="col">{{ 'Grade'|trans }} ({{ board.year-1 }})</th>
                                        <th scope="col">{{ 'Grade'|trans }} ({{ board.year }})</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if agentUpgradationDetails['upgradeAgents'] is defined and agentUpgradationDetails['upgradeAgents'] is not empty %}
                                        {% for agentId, details in agentUpgradationDetails['upgradeAgents'] %}
                                            {% if details is iterable %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td>{{ agentId|default('') }}</td>
                                                    <td>{{ details.agentName|default('') }}</td>
                                                    <td>{{ details.agentAddress|default('') }}</td>
                                                    <td>{{ details['average-' ~ (board.year-1)]|number_format(2) }}</td>
                                                    <td>{{ details['average-' ~ board.year]|number_format(2) }}</td>
                                                    <td>{{ details['grade-' ~ (board.year-1)] }}</td>
                                                    <td>{{ details['grade-' ~ board.year] }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .activity li {

        }

        .activity li .attribute {

        }

        .activity li .attribute li .markDistribution {

        }

        .parameter {
            position: relative;
            border-left: 34px solid #369;
            padding-left: 10px;
            width: 50px;
        }

        .parameter span {
            position: absolute;
            top: 50%;
            left: 30px;
            background: none;
            transform-origin: 0 0;
            transform: rotate(-90deg);
            width: 200px;
        }


        .attribute-markDistribution {
            width: 220px;
        }

        .markDistribution {
            padding-left: 15px;
            width: 220px;
        }

        .markDistribution li {
            margin-left: 0;
            padding-left: 0;
        }

        .activity-name {
            width: 120px;
        }

        .activity-attribute {
            width: 220px;
        }

        .attribute-name {
            width: 480px;
        }

        .attribute-mark {
            width: 70px;
        }

        .attribute-score {
            width: 70px;
        }
    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}