{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    {#    {{ dump(entity.employee.reportMode.slug) }}#}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">{{ 'Employee KPI Summary'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Summary for '|trans }}: {{ entity.employee.name }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i
                                        class="fa fa-th-list"></i>{{ 'Employee Board'|trans }}</a>
                            <a href="{{ path('kpi_details_report',{'id':entity.id}) }}"
                               class="btn btn-sm green-bg white-font"><i
                                        class="fa fa-th-list"></i>{{ 'KPI Details'|trans }}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'KPI Summary for '|trans }}: {{ entity.employee.name }} </div>
                    </div>
                    <div class="portlet-body form text-dark">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Employee Name'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{{ entity.employee.name }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Month & Year'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{{ entity.month }},{{ entity.year }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Designation'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{{ entity.employee.designation.name }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Working Area'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{% for district in entity.employee.district %}{{ district.name }}{% if not loop.last %},{% endif %} {% endfor %}</label>
                                </div>
                                {% if entity.employee.department is not empty %}
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"><strong>{{ 'Department'|trans }}</strong></label>
                                        <label class="col-md-10 control-label">{{ entity.employee.department.name }}</label>
                                    </div>
                                {% endif %}
                            </div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" style="text-align: center">{{ 'SL No'|trans }}</th>
                                    <th rowspan="2" style="text-align: center">{{ 'Report'|trans }}</th>
                                    <th colspan="2" style="text-align: center">{{ 'Reports'|trans }}</th>
                                    <th colspan="2" style="text-align: center">{{ 'Marks'|trans }}</th>
                                    <th rowspan="2" style="text-align: center">{{ 'Grade'|trans }}</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center">{{ 'Target'|trans }}</th>
                                    <th style="text-align: center">{{ 'Actual'|trans }}</th>
                                    <th style="text-align: center">{{ 'Target'|trans }}</th>
                                    <th style="text-align: center">{{ 'Actual'|trans }}</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if records is not empty and records is iterable %}
                                    {% set totalTargetMark = 0 %}
                                    {% set totalMark = 0 %}

                                    {% for record in records %}
                                        {% set totalMark = totalMark + record.mark %}
                                    {% endfor %}

                                    {% if(totalMark >= 90) %}
                                        {% set gradeLetter = 'A+' %}
                                    {% elseif(totalMark < 90 and totalMark >= 80) %}
                                        {% set gradeLetter = 'A' %}
                                    {% elseif(totalMark < 80 and totalMark >= 70) %}
                                        {% set gradeLetter = 'B' %}
                                    {% elseif(totalMark < 70) %}
                                        {% set gradeLetter = 'C' %}
                                    {% endif %}

                                    {% for record in records %}
                                        {% set totalTargetMark = totalTargetMark + record.targetMark %}
                                        <tr>
                                            <td align="center"> {{ loop.index }}</td>
                                            <td>{{ record.attribute.name|default('') }}</td>
                                            <td align="center">{{ record.targetReport|default(0) }}</td>
                                            <td align="center">{{ record.achieveReport|default(0) }}</td>
                                            <td align="center">{{ record.targetMark|default(0) }}</td>
                                            <td align="center">{{ record.mark|default(0) }}</td>
                                            {% if loop.index == 1 %}
                                                <td rowspan="{{ loop.index == 1 ? records|length:'' }}" align="center"><b>{{ gradeLetter|default('N/A') }}</b></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="2" style="text-align: center"><b>Total</b></td>
                                        <td></td>
                                        <td></td>
                                        <td align="center"><b>{{ totalTargetMark|default(0) }}</b></td>
                                        <td align="center"><b>{{ totalMark|default(0) }}</b></td>
                                        <td></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .activity li {

        }

        .activity li .attribute {

        }

        .activity li .attribute li .markDistribution {

        }

        .parameter {
            position: relative;
            border-left: 34px solid #369;
            padding-left: 10px;
            width: 50px;
        }

        .parameter span {
            position: absolute;
            top: 50%;
            left: 30px;
            background: none;
            transform-origin: 0 0;
            transform: rotate(-90deg);
            width: 200px;
        }


        .attribute-markDistribution {
            width: 220px;
        }

        .markDistribution {
            padding-left: 15px;
            width: 220px;
        }

        .markDistribution li {
            margin-left: 0;
            padding-left: 0;
        }

        .activity-name {
            width: 120px;
        }

        .activity-attribute {
            width: 220px;
        }

        .attribute-name {
            width: 480px;
        }

        .attribute-mark {
            width: 70px;
        }

        .attribute-score {
            width: 70px;
        }
    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}