<table>
    <thead>
    <tr>
        <th align="left" width="25%">{{ 'Employee Name: '|trans }}</th>
        <td align="left">{{ board.employee.name }}</td>
    </tr>
    <tr>
        <th align="left" width="25%">{{ 'Employee Id: '|trans }}</th>
        <td align="left">{{ board.employee.userId }}</td>
    </tr>
    <tr>
        <th align="left" width="25%">{{ 'Month & Year: '|trans }}</th>
        <td align="left">{{ board.month }}, {{ board.year }}</td>
    </tr>
    <tr>
        <th align="left" width="25%">{{ 'Designation: '|trans }}</th>
        <td align="left">{{ board.employee.designation.name }}</td>
    </tr>
    <tr>
        <th align="left" width="25%">{{ 'Format: '|trans }}</th>
        <td align="left">{{ board.employee.reportMode.name|default('') }}</td>
    </tr>
    {% if board.employee.department is not empty %}
        <tr>
            <th align="left" width="25%">{{ 'Department: '|trans }}</th>
            <td align="left">{{ board.employee.department.name }}</td>
        </tr>
    {% endif %}
    </thead>
</table>

{% if feedAndGrowth is defined and feedAndGrowth is not empty %}
    {% for key, item in feedAndGrowth|ksort %}
        <table>
            <thead>
            <tr>
                <th></th>
            </tr>
            <tr>
                <th colspan="5">
                    <strong>{{ key == 'feed' ? 'Sales Feed Achivement'|trans : 'Product Sales Growth'|trans }}</strong>
                </th>
            </tr>
            <tr>
                <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                <th scope="col" width="20%">{{ key == 'feed' ? 'Target Quantity' : 'Previous Year' }}</th>
                <th scope="col" width="20%">{{ 'Sales Quantity'|trans }}</th>
                <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if item is not empty %}
                {% for attribute in item %}
                    <tr>
                        <td>{{ attribute.markParameter|default('') }}</td>
                        <td align="right">{{ attribute.targetQuantity|default('') }}</td>
                        <td align="right">{{ attribute.salesQuantity|default('') }}</td>
                        <td align="right">{{ attribute.percentage|number_format(2) }} %</td>
                        <td align="center">{{ attribute.mark|default('') }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'No record found!'|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}
{% endif %}
<table>
    <thead>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th colspan="4">
            <strong>{{ 'Outstanding'|trans }}</strong>
        </th>
    </tr>
    <tr>
        <th scope="col" width="20%">{{ 'Total Actual Amount'|trans }}</th>
        <th scope="col" width="20%">{{ 'Total Limit Amount'|trans }}</th>
        <th scope="col" width="20%">{{ 'Outstanding'|trans }}</th>
        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if outstanding is defined and outstanding is not empty %}
        {% for record in outstanding %}
            <tr>
                <td>{{ record.actualAmount|number_format(2,'.',',')|default() }}</td>
                <td>{{ record.limitAmount|number_format(2,'.',',')|default() }}</td>
                <td>{{ record.outstanding|number_format(2,'.')|default() }}</td>
                <td>{{ outstandingMark|default() }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4" align="center">{{ 'No record found!'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>


<table>
    <thead>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th colspan="4">
            <strong>{{ 'DOC sales collection'|trans }}</strong>
        </th>
    </tr>
    <tr>
        <th scope="col" width="20%">{{ 'Total Sales Amount'|trans }}</th>
        <th scope="col" width="20%">{{ 'Total Collection Amount'|trans }}</th>
        <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if docSale is defined and docSale is not empty %}
        {% for record in docSale %}
            <tr>
                <td>{{ record.sales|number_format(2,'.', ',')|default() }}</td>
                <td>{{ record.collection|number_format(2,'.',',')|default() }}</td>
                <td>
                    {% if record.sales > 0 %}
                        {{ (record.collection * 100) / record.sales }} %
                    {% endif %}
                </td>
                <td>{{ docSaleMark|default(0) }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4" align="center">{{ 'No record found!'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{#<table>
    <thead>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th colspan="4">
            <strong>{{ 'Minimum 50% "D" category agents converts to "C"'|trans }}</strong>
        </th>
    </tr>
    </thead>
    <tr>
        <td>
            {{ 'Previous "D" Category Agents: '|trans }} {% if dToUpgrade is defined and dToUpgrade is not empty %}{{ dToUpgrade.targetAmount|default(0) }}{% endif %}
        </td>
        <td>
            {{ '50% "D" Category Agents: '|trans }} {% if dToUpgrade is defined and dToUpgrade is not empty %}{{ (dToUpgrade.targetAmount / 2)|default(0) }}{% endif %}
        </td>
        <td>
            {{ 'Category Upgrade Agents: '|trans }} {% if dToUpgrade is defined and dToUpgrade is not empty %}{{ dToUpgrade.targetAchievement|default(0) }}{% endif %}
        </td>
        <td>
            {{ 'Category Upgrade Percentage: '|trans }} {% if dToUpgrade is defined and dToUpgrade is not empty %}{{ ((dToUpgrade.targetAchievement * 100) / (dToUpgrade.targetAmount / 2))|number_format(2)|default(0) }} % {% endif %}
        </td>
    </tr>
    <tbody>

    </tbody>
</table>#}
{#<table>
    <thead>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th colspan="4">
            <strong>{{ 'Minimum 50 % "C" category agents converts to "B"'|trans }}</strong>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ 'Previous "C" Category Agents: '|trans }} {% if cToUpgrade is defined and cToUpgrade is not empty %}{{ cToUpgrade.targetAmount|default(0) }}{% endif %}
        </td>
        <td>
            {{ '50% "C" Category Agents: '|trans }} {% if cToUpgrade is defined and cToUpgrade is not empty %}{{ (cToUpgrade.targetAmount / 2)|default(0) }}{% endif %}
        </td>
        <td>
            {{ 'Category Upgrade Agents: '|trans }} {% if cToUpgrade is defined and cToUpgrade is not empty %}{{ cToUpgrade.targetAchievement|default(0) }}{% endif %}
        </td>
        <td>
            {{ 'Category Upgrade Percentage: '|trans }} {% if cToUpgrade is defined and cToUpgrade is not empty %}{{ ((cToUpgrade.targetAchievement * 100) / (cToUpgrade.targetAmount / 2))|number_format(2)|default(0) }} % {% endif %}
        </td>
    </tr>
    </tbody>
</table>#}
<table>
    <thead>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th colspan="3">
            <strong>{{ 'Agent Upgradation'|trans }}</strong>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ 'Total Agent:' }}
            {% if agentUpgradation is defined and agentUpgradation is not empty %}{{ agentUpgradation.targetAmount|default(0) }}{% endif %}
        </td>
        <td>
            {{ 'Total Growth Agent:' }}
            {% if agentUpgradation is defined and agentUpgradation is not empty %}{{ agentUpgradation.targetAchievement|default(0) }}{% endif %}
        </td>
        <td>
            {{ 'Growth Agent percentage:' }}
            {% if agentUpgradation is defined and agentUpgradation is not empty %}{{ agentUpgradation.targetAmount > 0 ? (((agentUpgradation.targetAchievement * 100) / agentUpgradation.targetAmount)|number_format(2)) : 0 }} % {% endif %}
        </td>
    </tr>
    </tbody>
</table>
