<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KPI-Sales Mark</title>
    <style>
        table tr td, table tr th {
            padding: 5px;
        }

        body {
            font-size: 10px !important;
        }
    </style>
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="1">
    <thead>
    <tr>
        <th colspan="16">
            {{ mode|capitalize }} Mark Percentage ({{ filterBy['months']|first ~ ' - ' ~ filterBy['months']|last }}), {{ filterBy['year'] }}
            <br>
            {% if not is_granted('ROLE_KPI_ADMIN') %}
                Line Manager: {{ '(' ~ app.user.userId ~ ') ' ~ app.user.name }}
            {% endif %}
        </th>
    </tr>
    <tr>
        <th rowspan="2">{{ 'Employee ID'|trans }}</th>
        <th rowspan="2">{{ 'Name'|trans }}</th>
        <th rowspan="2">{{ 'Designation'|trans }}</th>
        <th colspan="2" class="text-center">{{ 'Broiler'|trans }}</th>
        <th colspan="2" class="text-center">{{ 'Sonali'|trans }}</th>
        <th colspan="2" class="text-center">{{ 'Layer'|trans }}</th>
        <th colspan="2" class="text-center">{{ 'Fish'|trans }}</th>
        <th colspan="2" class="text-center">{{ 'Cattle'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Total'|trans }}</th>

    </tr>
    <tr>
        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>

        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>

        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>

        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>

        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>

        <th class="text-center">{{ 'Total Marks'|trans }}</th>
        <th class="text-center">{{ 'Achieve'|trans }}</th>
        <th class="text-center">%</th>
    </tr>
    </thead>
    <tbody>
    {% if data is defined and data is not empty %}

        {% for details in data %}
            <tr>
                <td>{{ details['userInfo'].userId }}</td>
                <td>{{ details['userInfo'].name }}</td>
                <td>{{ details['userInfo'].designation }}</td>

                <td align="right">{{ details['data']['Broiler'] is defined ? details['data']['Broiler'].totalTargetMark|number_format(2) : '' }}</td>
                <td align="right">{{ details['data']['Broiler'] is defined ? details['data']['Broiler'].totalAchieveMark|number_format(2) : '' }}</td>

                <td align="right">{{ details['data']['Sonali'] is defined ? details['data']['Sonali'].totalTargetMark|number_format(2) : '' }}</td>
                <td align="right">{{ details['data']['Sonali'] is defined ? details['data']['Sonali'].totalAchieveMark|number_format(2) : '' }}</td>

                <td align="right">{{ details['data']['Layer'] is defined ? details['data']['Layer'].totalTargetMark|number_format(2) : '' }}</td>
                <td align="right">{{ details['data']['Layer'] is defined ? details['data']['Layer'].totalAchieveMark|number_format(2) : '' }}</td>

                <td align="right">{{ details['data']['Fish'] is defined ? details['data']['Fish'].totalTargetMark|number_format(2) : '' }}</td>
                <td align="right">{{ details['data']['Fish'] is defined ? details['data']['Fish'].totalAchieveMark|number_format(2) : '' }}</td>

                <td align="right">{{ details['data']['Cattle'] is defined ? details['data']['Cattle'].totalTargetMark|number_format(2) : '' }}</td>
                <td align="right">{{ details['data']['Cattle'] is defined ? details['data']['Cattle'].totalAchieveMark|number_format(2) : '' }}</td>

                <td align="right">{{ details['sum']['sumTotalTargetMark'] |number_format(2) }}</td>
                <td align="right">{{ details['sum']['sumTotalAchieveMark'] |number_format(2) }}</td>
                <td align="center">
                    {% if details['sum']['sumTotalTargetMark'] > 0 %}
                        {{ ((details['sum']['sumTotalAchieveMark']*100) / details['sum']['sumTotalTargetMark'])|number_format(2) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="16" align="center">{{ 'No records found'|trans }}</td>
        </tr>
    {% endif %}

    </tbody>
</table>
</body>
</html>