<table>
    <thead>
    <tr>
        <td><b>{{ 'Employee Name:'|trans }}</b></td>
        <td>{{ board.employee.name }}</td>
        <td><b>{{ 'Designation:'|trans }}</b></td>
        <td>{{ board.employee.designation.name }}</td>
        <td><b>{{ 'Format:'|trans }}</b></td>
        <td>{{ board.reportMode.name|default('') }}</td>

    </tr>
    <tr>
        <td><b>{{ 'Employee Id:'|trans }}</b></td>
        <td>{{ board.employee.userId }}</td>
        <td><b>{{ 'Working Area:'|trans }}</b></td>
        <td>
            {#            {% for district in board.employee.district %}{{ district.name }}{% if not loop.last %},{% endif %} {% endfor %}#}
            {% for districtName in board.district|json_decode %}{{ districtName }}{% if not loop.last %},{% endif %} {% endfor %}

        </td>
        <td><b>{{ 'Month & Year:'|trans }}</b></td>
        <td>{{ board.month }},{{ board.year }}</td>

    </tr>
    </thead>
</table>

{% if feedAndGrowth is defined and feedAndGrowth is not empty %}
    {% for key, item in feedAndGrowth|ksort %}
        <table>
            <thead>
            <tr>
                <th></th>
            </tr>
            <tr>
                <th colspan="5"><h5
                            style="width: 100%; background: gray; padding: 5px; margin-bottom: 2px">{{ key == 'feed' ? 'Sales Feed Achivement' : 'Product Sales Growth' }}</h5>
                </th>
            </tr>
            <tr>
                <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                <th scope="col"
                    width="20%">{{ key == 'feed' ? 'Target Quantity' : 'Previous Year Sales Quantity' }}</th>
                <th scope="col" width="20%">{{ 'Current Year Sales Quantity'|trans }}</th>
                <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if item is not empty %}
                {% for attribute in item %}
                    <tr>
                        <td>{{ attribute.markParameter|default('') }}</td>
                        <td align="right">{{ attribute.targetQuantity|default('') }}</td>
                        <td align="right">{{ attribute.salesQuantity|default('') }}</td>
                        <td align="right">{{ attribute.percentage|number_format(2) }} %</td>
                        <td align="center">{{ attribute.mark|default('') }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'No record found!'|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}
{% endif %}
<table>
    <thead>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th colspan="5">
            <h5 style="width: 100%; background: gray; padding: 5px; margin-bottom: 2px">{{ 'Outstanding'|trans }}</h5>
        </th>
    </tr>
    <tr>
        <th scope="col">{{ 'District'|trans }}</th>
        <th scope="col" width="20%">{{ 'Total Outstanding'|trans }}</th>
        <th scope="col" width="20%">{{ 'Total Limit Amount'|trans }}</th>
        <th scope="col" width="20%">{{ 'Usage'|trans }}</th>
        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if outstanding is defined and outstanding is not empty %}
        {% set totalActual = 0 %}
        {% set totalLimit = 0 %}
        {% set totalOutstanding = 0 %}
        {% for key, amount in outstanding %}
            {% if key != 'mark' %}
                {% set totalActual = totalActual + amount.actualAmount %}
                {% set totalLimit = totalLimit + amount.limitAmount %}
                {% set totalOutstanding = totalOutstanding + amount.outstanding %}
                <tr>
                    <td>{{ key|default() }}</td>
                    <td>{{ amount.actualAmount|number_format(2,'.',',')|default() }}</td>
                    <td>{{ amount.limitAmount|number_format(2,'.',',')|default() }}</td>
                    <td>{{ amount.outstanding|number_format(2,'.')|default() }}</td>
                    <td>{{ amount.mark|default() }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th>{{ 'Total'|trans }}</th>
            <th>{{ totalActual|number_format(2,'.', ',')|default() }}</th>
            <th>{{ totalLimit|number_format(2,'.', ',')|default() }}</th>
            <th>{{ totalOutstanding|number_format(2,'.', ',')|default() }}</th>
            <td>{{ outstanding['mark']|default('') }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>


<table>
    <thead>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th colspan="5">
            <h5 style="width: 100%; background: gray; padding: 5px; margin-bottom: 2px">{{ 'DOC sales collection'|trans }}</h5>
        </th>
    </tr>
    <tr>
        <th scope="col">{{ 'District'|trans }}</th>
        <th scope="col" width="20%">{{ 'Total Sales Amount'|trans }}</th>
        <th scope="col" width="20%">{{ 'Total Collection Amount'|trans }}</th>
        <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if docSale is defined and docSale is not empty %}
        {% set totalCollection = 0 %}
        {% set totalSales = 0 %}
        {% for key, amount in docSale %}
            {% if key != 'mark' %}
                {% set totalCollection = totalCollection + amount.salesAmount %}
                {% set totalSales = totalSales + amount.collectionAmount %}
                <tr>
                    <td>{{ key|default() }}</td>
                    <td>{{ amount.salesAmount|number_format(2,'.', ',')|default() }}</td>
                    <td>{{ amount.collectionAmount|number_format(2,'.',',')|default() }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th>{{ 'Total'|trans }}</th>
            <th>{{ totalCollection|number_format(2,'.', ',')|default(0) }}</th>
            <th>{{ totalSales|number_format(2,'.', ',')|default(0) }}</th>
            <th>
                {% if totalCollection > 0 %}
                    {{ ((totalSales * 100) / totalCollection)|number_format(2,'.', ',')|default(0) }} %
                {% else %}
                    0.00%
                {% endif %}
            </th>
            <th>{{ docSale['mark']|default(0) }}</th>
        </tr>
    {% else %}
        <tr>
            <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% if board.reportMode.slug is same as 'spo-format' %}
    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th colspan="4">
                <h5 style="width: 100%; background: gray; padding: 5px; margin-bottom: 2px">{{ '"D" Category Agent Upgradation'|trans }}</h5>
            </th>
        </tr>
        <tr>
            <td scope="col">{{ 'Previous "D" Category Agents: '|trans }} {{ dCategoryUpgrade.totalAgent|default(0) }}</td>
            {#            <td scope="col">{{ '50% "D" Category Agents: '|trans }} {{ (dCategoryUpgrade.totalAgent / 2)|round }}</td>#}
            <td scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ dCategoryUpgrade.totalUpgradeAgent|default(0) }}</td>
            <td scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                {% if dCategoryUpgrade.totalAgent > 0 %}
                    {{ ((dCategoryUpgrade.totalUpgradeAgent * 100) / dCategoryUpgrade.totalAgent)|number_format(2) }} %
                {% endif %}
            </td>
        </tr>
        </thead>
    </table>
    <table>
        <thead>
        <tr>
            <th scope="col">{{ 'Category'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
            <th scope="col">{{ 'Agent Id'|trans }}</th>
            <th scope="col">{{ 'Agent Name'|trans }}</th>
            <th scope="col">{{ 'District'|trans }}</th>
            <th scope="col">{{ 'Region'|trans }}</th>
            <th scope="col">{{ 'Zone'|trans }}</th>
            <th scope="col">{{ 'Average'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
            {% if dCategoryUpgrade is not empty %}
                {% for board in dCategoryUpgrade %}
                    {% if board is iterable and loop.index == 1 %}
                        <th scope="col">{{ board.month|default('') }} (Avg.)</th>
                        <th scope="col">{{ 'Category'|trans ~ ' (' ~ board.year ~ ')' }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </tr>
        </thead>
        <tbody>

        {% if dCategoryUpgrade is not empty %}
            {% for row in dCategoryUpgrade %}
                {% if row is iterable %}
                    <tr>
                        <td align="center">{{ row.prevYearGrade|default('') }}</td>
                        <td align="center">{{ row.agentId|default('') }}</td>
                        <td align="left">{{ row.agentName|default('') }}</td>
                        <td align="left">{{ row.agentDistrictName|default('') }}</td>
                        <td align="left">{{ row.agentRegionName|default('') }}</td>
                        <td align="left">{{ row.agentZoneName|default('') }}</td>
                        <td align="right">{{ row.prevYearAvg|number_format(2)|default('') }}</td>
                        <td align="right">{{ row.currentMonthAvg|number_format(2)|default('') }}</td>
                        <td align="center">{{ row.currentMonthGrade|default('') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th colspan="4">
                <h5 style="width: 100%; background: gray; padding: 5px; margin-bottom: 2px"> {{ '"C" Category Agent Upgradation'|trans }}</h5>
            </th>
        </tr>
        <tr>
            <td scope="col">{{ 'Previous "C" Category Agents: '|trans }} {{ cCategoryUpgrade.totalAgent|default(0) }}</td>
            {#            <td scope="col">{{ '50% "C" Category Agents: '|trans }} {{ (cCategoryUpgrade.totalAgent / 2)|round }}</td>#}
            <td scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ cCategoryUpgrade.totalUpgradeAgent|default(0) }}</td>
            <td scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                {% if cCategoryUpgrade.totalAgent > 0 %}
                    {{ ((cCategoryUpgrade.totalUpgradeAgent * 100) / cCategoryUpgrade.totalAgent)|number_format(2) }} %
                {% endif %}
            </td>
        </tr>
        </thead>
    </table>
    <table>
        <thead>
        <tr>
            <th scope="col">{{ 'Category'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
            <th scope="col">{{ 'Agent Id'|trans }}</th>
            <th scope="col">{{ 'Agent Name'|trans }}</th>
            <th scope="col">{{ 'District'|trans }}</th>
            <th scope="col">{{ 'Region'|trans }}</th>
            <th scope="col">{{ 'Zone'|trans }}</th>
            <th scope="col">{{ 'Average'|trans ~ ' (' ~ (board.year-1) ~ ')' }}</th>
            {% if cCategoryUpgrade is not empty %}
                {% for board in cCategoryUpgrade %}
                    {% if board is iterable and loop.index == 1 %}
                        <th scope="col">{{ board.month|default('') }} (Avg.)</th>
                        <th scope="col">{{ 'Category'|trans ~ ' (' ~ board.year ~ ')' }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </tr>
        </thead>
        <tbody>

        {% if cCategoryUpgrade is not empty %}
            {% for row in cCategoryUpgrade %}
                {% if row is iterable %}
                    <tr>
                        <td align="center">{{ row.prevYearGrade|default('') }}</td>
                        <td align="center">{{ row.agentId|default('') }}</td>
                        <td align="left">{{ row.agentName|default('') }}</td>
                        <td align="left">{{ row.agentDistrictName|default('') }}</td>
                        <td align="left">{{ row.agentRegionName|default('') }}</td>
                        <td align="left">{{ row.agentZoneName|default('') }}</td>
                        <td align="right">{{ row.prevYearAvg|number_format(2)|default('') }}</td>
                        <td align="right">{{ row.currentMonthAvg|number_format(2)|default('') }}</td>
                        <td align="center">{{ row.currentMonthGrade|default('') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}

{% if (board.reportMode.slug is same as 'agm-kpi' or board.reportMode.slug is same as 'rsm-arsm-kpi') %}
    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th colspan="3"><h5
                        style="width: 100%; background: gray; padding: 5px; margin-bottom: 2px">{{ 'Team members ach(=100%) mark on core activities'|trans }}</h5>
            </th>
        </tr>
        <tr>
            <th scope="col">{{ 'Employee'|trans }}</th>
            <th scope="col" width="20%">{{ 'Actual Mark'|trans }}</th>
            <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
            <th scope="col" width="10%">{{ 'Percentage'|trans }}</th>
            <th scope="col" width="10%">{{ 'Obtain Mark'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if individualTeamMemberMarks is not empty %}
            {% set totalActualMark = 0 %}
            {% set totalMark = 0 %}
            {% for key, member in individualTeamMemberMarks %}
                {% if key != 'obtainMark' %}
                    {% set totalActualMark = totalActualMark + member.actualMark %}
                    {% set totalMark = totalMark + member.mark %}
                    <tr>
                        <td>{{ key|capitalize|default('') }}</td>
                        <td>{{ member.actualMark|default('') }}</td>
                        <td>{{ member.mark|default('') }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th>{{ "Total"|trans }}</th>
                <th>{{ totalActualMark|default('0') }}</th>
                <th>{{ totalMark|default('0') }}</th>
                <th>{{ totalActualMark > 0 ? (((totalMark * 100) / totalActualMark)|number_format(2)) : 0 }} %</th>
                <th>{{ individualTeamMemberMarks['obtainMark']|default('0') }}</th>
            </tr>
        {% else %}
            <tr>
                <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}

{% if (board.reportMode.slug is same as 'spo-format' or board.reportMode.slug is same as 'aqua-service' or board.reportMode.slug is same as 'cattle-service') %}

    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th colspan="4">
                <h5 style="width: 100%; background: gray; padding: 5px; margin-bottom: 2px">{{ 'Agent Upgradation'|trans }}</h5>
            </th>
        </tr>
        <tr>
            <th>{{ 'Total Agents(Previous Year):' }} {{ agentUpgradationDetails.totalAgentsCountPrevYear|default(0) }}</th>
            <th>{{ 'Total Agents:' }} {{ agentUpgradationDetails.totalAgentsCountCurrentYear|default(0) }}</th>
            <th>{{ 'Total Upgrade Agents:' }} {{ agentUpgradationDetails.upgradeAgentsCount|default(0) }}</th>
            <th>{{ 'Upgrade Agents percentage:' }}
                {% if agentUpgradationDetails.totalAgentsCountPrevYear > 0 %}
                    {{ ((agentUpgradationDetails.upgradeAgentsCount * 100) / agentUpgradationDetails.totalAgentsCountPrevYear)|number_format(2) }} %

                {% endif %}
            </th>
        </tr>
        </thead>
    </table>
    <table>
        <thead>
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">{{ 'Agent Id'|trans }}</th>
            <th scope="col">{{ 'Agent Name'|trans }}</th>
            <th scope="col">{{ 'Address'|trans }}</th>
            <th scope="col">{{ 'Total Sales'|trans }} ({{ board.year-1 }})</th>
            <th scope="col">{{ 'Total Sales'|trans }} ({{ board.year }})</th>
            <th scope="col">{{ 'Grade'|trans }} ({{ board.year-1 }})</th>
            <th scope="col">{{ 'Grade'|trans }} ({{ board.year }})</th>
        </tr>
        </thead>
        <tbody>
        {% if agentUpgradationDetails.upgradeAgents is defined and agentUpgradationDetails.upgradeAgents is not empty %}
            {% for agentId, details in agentUpgradationDetails.upgradeAgents %}
                {% if details is iterable %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ agentId|default('') }}</td>
                        <td>{{ details.agentName|default('') }}</td>
                        <td>{{ details.agentAddress|default('') }}</td>
                        <td>{{ details['average-' ~ (board.year-1)]|number_format(2) }}</td>
                        <td>{{ details['average-' ~ board.year]|number_format(2) }}</td>
                        <td>{{ details['grade-' ~ (board.year-1)] }}</td>
                        <td>{{ details['grade-' ~ board.year] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}