<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KPI-Sales</title>
    <style>
        table tr td, table tr th {
            padding: 5px;
        }

        body {
            font-size: 10px !important;
        }

        tr {
            page-break-inside: avoid!important;
        }
        /* Ensure the table header repeats on each page */
        thead {
            display: table-header-group;
        }
    </style>
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="1">
    <thead>
    <tr>
        <th colspan="22">
            {{ mode|capitalize }} Percentage ({{ filterBy['startMonth'] ~ ' - ' ~ filterBy['endMonth'] }}), {{ filterBy['year'] }}
            <br>
            {% if not is_granted('ROLE_KPI_ADMIN') %}
                Line Manager: {{ '(' ~ app.user.userId ~ ') ' ~ app.user.name }}
            {% endif %}
        </th>
    </tr>
    <tr>
        <th rowspan="2">{{ 'Employee ID'|trans }}</th>
        <th rowspan="2">{{ 'Name'|trans }}</th>
        <th rowspan="2">{{ 'Designation'|trans }}</th>
        <th rowspan="2">{{ 'Month'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Broiler'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Sonali'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Layer'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Fish'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Cattle'|trans }}</th>
        <th colspan="3" class="text-center">{{ 'Total'|trans }}</th>

    </tr>
    <tr>
        <th class="text-center">{{ mode is same as 'feed' ? 'Target'|trans : (filterBy['year'] - 1)|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? 'Achieve'|trans : filterBy['year']|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? '%': 'Growth(%)' }}</th>

        <th class="text-center">{{ mode is same as 'feed' ? 'Target'|trans : (filterBy['year'] - 1)|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? 'Achieve'|trans : filterBy['year']|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? '%': 'Growth(%)' }}</th>

        <th class="text-center">{{ mode is same as 'feed' ? 'Target'|trans : (filterBy['year'] - 1)|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? 'Achieve'|trans : filterBy['year']|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? '%': 'Growth(%)' }}</th>

        <th class="text-center">{{ mode is same as 'feed' ? 'Target'|trans : (filterBy['year'] - 1)|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? 'Achieve'|trans : filterBy['year']|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? '%': 'Growth(%)' }}</th>

        <th class="text-center">{{ mode is same as 'feed' ? 'Target'|trans : (filterBy['year'] - 1)|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? 'Achieve'|trans : filterBy['year']|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? '%': 'Growth(%)' }}</th>

        <th class="text-center">{{ mode is same as 'feed' ? 'Target'|trans : (filterBy['year'] - 1)|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? 'Achieve'|trans : filterBy['year']|trans }}</th>
        <th class="text-center">{{ mode is same as 'feed' ? '%': 'Growth(%)' }}</th>

    </tr>
    </thead>
    <tbody>
    {% for employeeId, employeeData in data['salesData'] %}
        {% set employeeRecordCount = 1 %}
        {% if employeeData is not empty %}
            {% for monthName, details in employeeData %}
                <tr>
                    {% if employeeRecordCount==1 %}
                        <td rowspan="{{ employeeData|length }}">{{ data['employeeInfo'][employeeId]['employeeId']|default('') }}</td>
                        <td rowspan="{{ employeeData|length }}">{{ data['employeeInfo'][employeeId]['employeeName']|default('') }}</td>
                        <td rowspan="{{ employeeData|length }}">{{ data['employeeInfo'][employeeId]['designationName']|default('') }}</td>
                    {% endif %}
                    <td>{{ monthName }}</td>

                    <td>{{ details[filterBy['year']]['Broiler'] is defined ? details[filterBy['year']]['Broiler']['totalTargetQuantity']|number_format(2) : '' }}</td>
                    <td>{{ details[filterBy['year']]['Broiler'] is defined ? details[filterBy['year']]['Broiler']['totalSalesQuantity']|number_format(2) : '' }}</td>
                    <td align="center">
                        {% if details[filterBy['year']]['Broiler'] is defined and details[filterBy['year']]['Broiler']['totalTargetQuantity'] > 0 %}
                            {{ ((details[filterBy['year']]['Broiler']['totalSalesQuantity']*100) / details[filterBy['year']]['Broiler']['totalTargetQuantity'])|number_format(2) }}
                        {% endif %}
                    </td>

                    <td>{{ details[filterBy['year']]['Sonali'] is defined ? details[filterBy['year']]['Sonali']['totalTargetQuantity']|number_format(2) : '' }}</td>
                    <td>{{ details[filterBy['year']]['Sonali'] is defined ? details[filterBy['year']]['Sonali']['totalSalesQuantity']|number_format(2) : '' }}</td>
                    <td align="center">
                        {% if details[filterBy['year']]['Sonali'] is defined and details[filterBy['year']]['Sonali']['totalTargetQuantity'] > 0 %}
                            {{ ((details[filterBy['year']]['Sonali']['totalSalesQuantity']*100) / details[filterBy['year']]['Sonali']['totalTargetQuantity'])|number_format(2) }}
                        {% endif %}
                    </td>

                    <td>{{ details[filterBy['year']]['Layer'] is defined ? details[filterBy['year']]['Layer']['totalTargetQuantity']|number_format(2) : '' }}</td>
                    <td>{{ details[filterBy['year']]['Layer'] is defined ? details[filterBy['year']]['Layer']['totalSalesQuantity']|number_format(2) : '' }}</td>
                    <td align="center">
                        {% if details[filterBy['year']]['Layer'] is defined and details[filterBy['year']]['Layer']['totalTargetQuantity'] > 0 %}
                            {{ ((details[filterBy['year']]['Layer']['totalSalesQuantity']*100) / details[filterBy['year']]['Layer']['totalTargetQuantity'])|number_format(2) }}
                        {% endif %}
                    </td>

                    <td>{{ details[filterBy['year']]['Fish'] is defined ? details[filterBy['year']]['Fish']['totalTargetQuantity']|number_format(2) : '' }}</td>
                    <td>{{ details[filterBy['year']]['Fish'] is defined ? details[filterBy['year']]['Fish']['totalSalesQuantity']|number_format(2) : '' }}</td>
                    <td align="center">
                        {% if details[filterBy['year']]['Fish'] is defined and details[filterBy['year']]['Fish']['totalTargetQuantity'] > 0 %}
                            {{ ((details[filterBy['year']]['Fish']['totalSalesQuantity']*100) / details[filterBy['year']]['Fish']['totalTargetQuantity'])|number_format(2) }}
                        {% endif %}
                    </td>

                    <td>{{ details[filterBy['year']]['Cattle'] is defined ? details[filterBy['year']]['Cattle']['totalTargetQuantity']|number_format(2) : '' }}</td>
                    <td>{{ details[filterBy['year']]['Cattle'] is defined ? details[filterBy['year']]['Cattle']['totalSalesQuantity']|number_format(2) : '' }}</td>
                    <td align="center">
                        {% if details[filterBy['year']]['Cattle'] is defined and details[filterBy['year']]['Cattle']['totalTargetQuantity'] > 0 %}
                            {{ ((details[filterBy['year']]['Cattle']['totalSalesQuantity']*100) / details[filterBy['year']]['Cattle']['totalTargetQuantity'])|number_format(2) }}
                        {% endif %}
                    </td>

                    <td>
                        {{ (details[filterBy['year']]|arraySumColWise('totalTargetQuantity'))|number_format(2) }}
                    </td>
                    <td>
                        {{ (details[filterBy['year']]|arraySumColWise('totalSalesQuantity'))|number_format(2) }}
                    </td>
                    <td align="center">
                        {% if (details[filterBy['year']]|arraySumColWise('totalSalesQuantity')) > 0 %}
                            {{ (((details[filterBy['year']]|arraySumColWise('totalSalesQuantity'))*100) / (details[filterBy['year']]|arraySumColWise('totalTargetQuantity')))|number_format(2) }}
                        {% endif %}
                    </td>


                </tr>
                {% set employeeRecordCount = employeeRecordCount+1 %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    </tbody>
</table>
</body>
</html>