<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Member Summary</title>
    <style>
        table tr td {
            padding: 5px;
        }

        body {
            font-size: 10px !important;
        }
    </style>
</head>
<body>
{#{% if teamMemberSummary is not empty %}#}
{% if not is_granted('ROLE_KPI_ADMIN') %}
    {% if filterBy['employee'] %}
        <h3 align="center">Summary for {{ filterBy['employee'].name|default('') }} ({{ filterBy['year'] }})</h3>

        <table cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 15px">
            <thead class="thead-dark">
            <tr>
                <th align="left">Employee ID: {{ filterBy['employee'].userId|default('') }}</th>
                <th align="left">Name: {{ filterBy['employee'].name|default('') }}</th>
                <th align="left">Designation: {{ filterBy['employee'].designation.name|default('') }}</th>
                <th align="left">Date of
                    joining: {{ filterBy['employee'].joiningDate ? filterBy['employee'].joiningDate|date('d-m-Y') : '' }}</th>
            </tr>
            </thead>
        </table>
        <table cellspacing="0" cellpadding="0" border="1" width="100%">
            <thead class="thead-dark">
            <tr>
                <th>Month</th>
                {% for employeeId, details in teamMemberSummary %}
                    {% if loop.first %}
                        {% if activitiesName is defined and activitiesName is not empty %}
                            {% for name in activitiesName %}
                                <th>{{ name|default('') }}</th>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <th>Mark</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            {% if teamMemberSummary is not empty %}
                {% for employeeId, details in teamMemberSummary %}
                    {% for month, activities in details['mark'] %}
                        <tr>
                            <td>{{ month }}</td>
                            {% if activitiesName is defined and activitiesName is not empty %}
                                {% for name in activitiesName %}
                                    <td align="center">{{ teamMemberSummary[employeeId]['mark'][month][name]|default(0) }}</td>
                                {% endfor %}
                            {% endif %}
                            <td align="center">{{ teamMemberSummary[employeeId]['data'][month]['obtainMark']|default(0) }}</td>
                            <td align="center">{{ teamMemberSummary[employeeId]['data'][month]['grade']|default('') }}</td>

                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" align="center">{{ 'No record has been found!' }}</td>
                </tr>
            {% endif %}
            </tbody>
            <tfoot>
        </table>
    {% endif %}
{% else %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 align="center">Team Member Summary</h4>
                <h5 align="center">{{ '(' ~ filterBy.startMonth ~ ' - ' ~ filterBy.endMonth ~ ')' ~ ' - ' ~ filterBy.year }}</h5>
            </div>
            <div class="card-body" style="padding: 0; margin: 10px; overflow: auto">
                <table cellspacing="0" cellpadding="0" border="1" width="100%">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Employee</th>
                        <th>Designation</th>
                        <th>Month</th>
                        {% if activitiesName is defined and activitiesName is not empty %}
                            {% for name in activitiesName %}
                                <th>{{ name|default(0) }}</th>
                            {% endfor %}
                        {% endif %}
                        <th>Mark</th>
                        <th>Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if teamMemberSummary is not empty %}
                        {% for employeeId, details in teamMemberSummary %}
                            {% for month, activities in details['mark'] %}
                                <tr>
                                    <td>{{ employeeId }}</td>
                                    <td>{{ details['data']['employeeName'] }}</td>
                                    <td>{{ details['data']['designation'] }}</td>
                                    <td>{{ month }}</td>
                                    {% if activitiesName is defined and activitiesName is not empty %}
                                        {% for name in activitiesName %}
                                            <td align="center">{{ teamMemberSummary[employeeId]['mark'][month][name]|default(0) }}</td>
                                        {% endfor %}
                                    {% endif %}
                                    <td align="center">{{ teamMemberSummary[employeeId]['data'][month]['obtainMark']|default(0) }}</td>
                                    <td align="center">{{ teamMemberSummary[employeeId]['data'][month]['grade']|default('') }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" align="center">{{ 'No record has been found!' }}</td>
                        </tr>
                    {% endif %}

                    </tbody>
                    <tfoot>
                </table>
            </div>
        </div>
    </div>

{% endif %}
{#{% endif %}#}
</body>
</html>