{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        {#        <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a
                                            href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">{{ 'Team Member Summary'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header p-2">
                    <h5>{{ 'KPI Team Member Summary for '|trans }}: {{ app.user.name }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-body p-2">
                    <div class="col-md-10 offset-1">
                        {{ form_start(form, {'attr':{'id': 'teamMemberSummerySearchForm'}}) }}
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="2">
                                    {% if is_granted('ROLE_KPI_ADMIN') %}
                                        {{ form_label(form.lineManager, 'Line Manager') }}
                                        {{ form_widget(form.lineManager) }}
                                    {% else %}
                                        {{ form_label(form.employee, 'Team Member') }}
                                        {{ form_widget(form.employee) }}
                                    {% endif %}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.startMonth, 'Start Month') }}
                                    {{ form_widget(form.startMonth) }}

                                </th>
                                <th colspan="2">
                                    {{ form_label(form.endMonth, 'End Month') }}
                                    {{ form_widget(form.endMonth) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.year) }}
                                    {{ form_widget(form.year) }}
                                </th>

                                <th colspan="1">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('team_member_summary') }}"
                                           class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i
                                                    class="fa fa-refresh" aria-hidden="true"></i></a>
                                        <button type="submit" name="pdf" value="pdf" target="_blank" title="Pdf"
                                                class="btn blue-bg btn-sm white-font"><i
                                                    class="fa fa-file-pdf"></i> PDF
                                        </button>
                                        <button type="submit" name="excel" value="excel" target="_blank" title="Excel"
                                                id="button-excel"
                                                class="btn green-bg white-font btn-sm"><i
                                                    class="fa fa-file-excel"></i> Excel
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% if teamMemberSummary is defined %}
            {% if teamMemberSummary is not empty %}
                {% if not is_granted('ROLE_KPI_ADMIN') %}
                    <div class="row">
                        <div class="card">
                            <div class="card-body" style="padding: 0; margin: 10px; overflow: auto">
                                {% if filterBy['employee'] %}

                                    <table class="table table-striped table-bordered table-hover download-excel"
                                           width="100%">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th colspan="{{ activitiesName is defined ? ((activitiesName|length / 2) + 2)|round : '' }}">
                                                <h6>Employee ID: {{ filterBy['employee'].userId|default('') }}</h6>
                                                <h6>Name: {{ filterBy['employee'].name|default('') }}</h6>
                                            </th>
                                            <th colspan="{{ activitiesName is defined ? ((activitiesName|length / 2) + 2)|round : '' }}">
                                                <h6>
                                                    Designation: {{ filterBy['employee'].designation.name|default('') }}</h6>
                                                <h6>Date of
                                                    joining: {{ filterBy['employee'].joiningDate ? filterBy['employee'].joiningDate|date('d-m-Y') : '' }}</h6>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>{{ 'Month'|trans }}</th>
                                            {% if activitiesName is defined and activitiesName is not empty %}
                                                {% for name in activitiesName %}
                                                    <th>{{ name|default('') }}</th>
                                                {% endfor %}
                                            {% endif %}
                                            <th>{{ 'Mark'|trans }}</th>
                                            <th>{{ 'Grade'|trans }}</th>
                                            <th data-exclude="true" class="text-center">{{ 'Action Button'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for employeeId, details in teamMemberSummary %}
                                            {% for month, activities in details['mark'] %}
                                                <tr>
                                                    <td>{{ month }}</td>
                                                    {% if activitiesName is defined and activitiesName is not empty %}
                                                        {% for name in activitiesName %}
                                                            <td align="center">{{ teamMemberSummary[employeeId]['mark'][month][name]|default(0) }}</td>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <td>{{ teamMemberSummary[employeeId]['data'][month]['obtainMark']|default(0) }}</td>
                                                    <td>{{ teamMemberSummary[employeeId]['data'][month]['grade']|default('') }}</td>

                                                    <td data-exclude="true" align="right">
                                                        <div class="btn-group">
                                                            <a class="btn btn-mini btn-info" target="_blank"
                                                               href="{{ path('kpi_details_report', {id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }}"><i
                                                                        class="feather icon-file"></i> Details</a>
                                                            <a class="btn btn-mini purple-bg white-font" target="_blank"
                                                               href="{{ path('kpi_summary_report', {id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }}"><i
                                                                        class="feather icon-file"></i> Summary</a>
                                                            <a class="btn btn-mini blue-bg white-font" target="_blank"
                                                               href="{% if 'custom' in teamMemberSummary[employeeId]['data'][month]['boardReportFormatSlug'] %} {{ path('kpi_report_sales_achievement_custom_format',{id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }} {% else %} {{ path('kpi_report_sales_achievement',{id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }} {% endif %}"><i
                                                                        class="feather icon-file"></i> Achieve</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="card">
                            <div class="card-header pt-0 pb-0">
                            </div>
                            <div class="card-body" style="padding: 0; margin: 10px; overflow: auto">
                                <table class="table table-striped table-bordered table-hover download-excel"
                                       width="100%">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Employee</th>
                                        <th>Designation</th>
                                        <th>Month</th>
                                        {% if activitiesName is defined and activitiesName is not empty %}
                                            {% for name in activitiesName %}
                                                <th>{{ name|default('') }}</th>
                                            {% endfor %}
                                        {% endif %}
                                        <th>Mark</th>
                                        <th>Grade</th>
                                        <th data-exclude="true" class="text-center">{{ "Action Button" }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employeeId, details in teamMemberSummary %}
                                        {% for month, activities in details['mark'] %}
                                            <tr>
                                                {% if loop.first %}
                                                    <td data-t="s"
                                                        rowspan="{{ teamMemberSummary[employeeId]['mark']|length }}">{{ employeeId }}</td>
                                                    <td rowspan="{{ teamMemberSummary[employeeId]['mark']|length }}">{{ details['data']['employeeName'] }}</td>
                                                    <td rowspan="{{ teamMemberSummary[employeeId]['mark']|length }}">{{ details['data']['designation'] }}</td>
                                                {% endif %}
                                                <td>{{ month }}</td>
                                                {% if activitiesName is defined and activitiesName is not empty %}
                                                    {% for name in activitiesName %}
                                                        <td data-t="n">{{ teamMemberSummary[employeeId]['mark'][month][name]|default(0) }}</td>
                                                    {% endfor %}
                                                {% endif %}
                                                <td data-t="n">{{ teamMemberSummary[employeeId]['data'][month]['obtainMark']|default(0) }}</td>
                                                <td data-t="s">{{ teamMemberSummary[employeeId]['data'][month]['grade']|default('') }}</td>

                                                <td data-exclude="true" align="right">
                                                    <div class="btn-group">
                                                        <a class="btn btn-mini btn-info" target="_blank"
                                                           href="{{ path('kpi_details_report', {id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }}"><i
                                                                    class="feather icon-file"></i> Details</a>
                                                        <a class="btn btn-mini purple-bg white-font" target="_blank"
                                                           href="{{ path('kpi_summary_report', {id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }}"><i
                                                                    class="feather icon-file"></i> Summary</a>
                                                        <a class="btn btn-mini blue-bg white-font" target="_blank"
                                                           href="{% if 'custom' in teamMemberSummary[employeeId]['data'][month]['boardReportFormatSlug'] %} {{ path('kpi_report_sales_achievement_custom_format',{id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }} {% else %} {{ path('kpi_report_sales_achievement',{id:teamMemberSummary[employeeId]['data'][month]['boardId']}) }} {% endif %}"><i
                                                                    class="feather icon-file"></i> Achieve</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="row">
                    <div class="card">
                        <div class="card-header py-3 text-center font-italic">
                            {{ 'No record has been found!'|trans }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         .ui-datepicker-calendar {
             display: none
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script>
        const button = document.querySelector("#button-excel");

        button.addEventListener("click", e => {
            e.preventDefault();
            let table = document.querySelector(".download-excel");
            TableToExcel.convert(table, {
                name: "{{ app.request.get('_route') }}.xlsx",
                sheet: {
                    name: "Sheet 1"
                }
            });
        });
    </script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });
{% endblock %}