<table class="table table-striped table-bordered table-hover" id="datatable">
    <thead class="thead-dark">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
{#        <th scope="col">Zonal Area</th>#}
{#        <th scope="col">Regional Area</th>#}
{#        <th scope="col">Working Area</th>#}
{#        <th scope="col">Service Mode</th>#}
        <th scope="col">Line Manager</th>
        <th scope="col">Report Mode</th>
        <th scope="col">Mobile</th>
        <th scope="col">Districts</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Joining Date</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.userId|default('') }}</td>
                <td>{{ entity.employeeName|default('') }}</td>
                <td>{{ entity.designationName|default('') }}</td>
{#                <td>{{ entity.zonal.name|default('') }}</td>#}
{#                <td>{{ entity.regional.name|default('') }}</td>#}
                <td>{{ entity.lineManagerName|default('') }}</td>
                <td>{{ entity.reportModeName|default('') }}</td>
                <td>{{ entity.mobile|default('') }}</td>
                <td>
                    {% if entity.district is not empty %}
                        {% for dist in entity.district|json_decode %}
                            {{ dist }}
                            {% if loop.last!=1 %}{{ ',' }}{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ entity.email|default('') }}</td>
                <td>{{ entity.departmentName|default('') }}</td>
                <td>{{ entity.joiningDate ? entity.joiningDate|date('d-m-Y') : '' }}</td>
                <td>{{ entity.enabled == 1 ? "Enabled":"Disabled" }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="11" align="center">{{ 'No record has been found!'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>