{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_employee') }}">  {{ 'KPI Employee'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header">
                    <h5>{{ 'KPI Employee Hierarchy'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            <a href="{{ path('kpi_employee_register') }}" class="btn btn-sm  green-bg white-font"><i#}
{#                                        class="fa fa-plus"></i>{{ 'New Employee'|trans }}</a>#}
                            <a href="{{ path('kpi_employee') }}" class="btn btn-sm gray-bg white-font"><i
                                        class="fa fa-th-large"></i>{{ 'Employee'|trans }}</a>
                            <a target="_blank" href="{{ path('kpi_employee_hierarchy', {mode: 'pdf'}) }}"
                               class="btn btn-sm purple-bg white-font"><i
                                        class="fa fa-file-pdf"></i>PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mb-3">
                <div class="card-block p-2">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" width="3%">S/L</th>
                                <th scope="col" width="27%"></th>
                                <th scope="col" width="28%"></th>
                                <th scope="col" width="28%"></th>
                                <th scope="col" width="15%">Format</th>
                            </tr>
                            </thead>
                        </table>
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                            {% if data is defined and data['agm-format'] is not empty and data['agm-format'] is iterable %}
                                {% for agm in data['agm-format'] %}
                                    <tr>
                                        <td width="3%">{{ loop.index }}</td>
                                        <td width="27%">{{ agm.employeeName|default('') }}
                                            ({{ agm.reportModeName|default('') }})
                                        </td>
                                        <td style="padding: 0px !important;">
                                            <table class="table table-striped table-bordered table-hover"
                                                   style="margin-bottom: 0;" width="100%">
                                                <tbody>
                                                {% if agm['rsm-format'] is defined and agm['rsm-format'] is not empty and agm['rsm-format'] is iterable %}
                                                    {% for rsm in agm['rsm-format'] %}
                                                        <tr>
                                                            <td width="40%">{{ loop.index }}
                                                                . {{ rsm.employeeName|default('') }}
                                                                ({{ rsm.reportModeName|default('') }})
                                                            </td>
                                                            <td style="padding: 0px !important;">
                                                                <table class="table table-striped table-bordered table-hover"
                                                                       style="margin-bottom: 0;" width="100%">
                                                                    <tbody>
                                                                    {% if rsm['employee'] is defined and rsm['employee'] is not empty and rsm['employee'] is iterable %}
                                                                        {% for employee in rsm['employee'] %}
                                                                            <tr>
                                                                                <td width="67%">{{ loop.index }}
                                                                                    . {{ employee.employeeName|default('') }}</td>
                                                                                <td>{{ employee.reportModeName|default('') }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" align="center">{{ 'No record has been found!'|trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}

