{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_employee') }}">  {{ 'KPI Employee'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card mb-1">
                <div class="card-header">
                    <h5>{{ 'KPI Employee'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            {% if is_granted('ROLE_KPI_ADMIN') %}
                                <a
                                        href="{{ path('kpi_employee_register') }}"
                                        class="btn btn-sm green-bg white-font">
                                    <i class="fa fa-plus"></i>{{ 'New Employee'|trans }}
                                </a>
                            {% endif %}#}
                            <a href="{{ path('kpi_employee') }}" class="btn btn-sm gray-bg white-font"><i
                                        class="fa fa-th-large"></i>{{ 'Employee'|trans }}</a>
                            {% if is_granted('ROLE_KPI_ADMIN') %}
                                <a
                                        href="{{ path('kpi_employee', {mode: 'excel'}) }}"
                                        class="btn btn-sm blue-bg white-font">
                                    <i class="fa fa-download"></i>{{ 'All Employee'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-body p-2">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <table class="table table-bordered ">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="2">
                                    {{ form_label(form.employee, 'Employee') }}
                                    {{ form_widget(form.employee) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.employeeMobile, 'Employee Mobile') }}
                                    {{ form_widget(form.employeeMobile) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.designation) }}
                                    {{ form_widget(form.designation) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.kpiFormat, "Format") }}
                                    {{ form_widget(form.kpiFormat) }}
                                </th>
                                {% if is_granted('ROLE_KPI_ADMIN') %}
                                    <th colspan="2">
                                        {{ form_label(form.lineManager) }}
                                        {{ form_widget(form.lineManager) }}
                                    </th>
                                {% endif %}
{#                                <th colspan="2">
                                    {{ form_label(form.department) }}
                                    {{ form_widget(form.department) }}
                                </th>#}
                                <th colspan="1">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('kpi_employee') }}" class="btn purple-bg btn-sm white-font" title="Reset"
                                                value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
{#                        {{ form_end(form) }}#}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">S/L</th>
                                <th scope="col">Employee ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Line Manager</th>
                                <th scope="col">Report Mode</th>
{#                                {% if is_granted('ROLE_KPI_ADMIN') %}
                                    <th scope="col">Password</th>
                                {% endif %}#}
                                <th scope="col">Mobile</th>
                                <th scope="col" width="20%">Districts</th>
                                <th scope="col">Email</th>
{#                                <th scope="col">Department</th>#}
{#                                <th scope="col">Status</th>#}
                                <th scope="col" style="text-align: center"><i class="feather icon-settings"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entities is defined and entities is not empty %}
                                {% set offset = entities.getItemNumberPerPage * (entities.currentPageNumber - 1) %}
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ loop.index + offset }}</td>
                                        <td>{{ entity.userId|default('') }}</td>
                                        <td>{{ entity.employeeName|default('') }}</td>
                                        <td>{{ entity.designationName|default('') }}</td>
                                        <td>{{ entity.lineManagerName|default('') }}</td>
                                        <td>{{ entity.reportModeName|default('') }}</td>

                                        {#{% if is_granted('ROLE_KPI_ADMIN') %}
                                            <td>
                                                <a
                                                        data-type="select"
                                                        class="editable"
                                                        id="designation-{{ entity.designationId }}"
                                                        data-name="designation"
                                                        href="#"
                                                        data-source="{{ path('kpi_designation_select',{id:entity.id}) }}"
                                                        data-url="{{ path('kpi_designation_inline_update',{id:entity.id}) }}"
                                                        data-pk="{{ entity.designationId }}"
                                                        data-value="{{ entity.designationId }}"
                                                        data-original-title="Select designation">
                                                    {{ entity.designationName }}
                                                </a>
                                            </td>
                                            <td>
                                                <a
                                                        data-type="select"
                                                        class="editable"
                                                        id="lineManager-{{ entity.lineManagerId }}"
                                                        data-name="lineManager"
                                                        href="#"
                                                        data-source="{{ path('kpi_line_manager_select',{id:entity.id}) }}"
                                                        data-url="{{ path('kpi_line_manager_inline_update',{id:entity.id}) }}"
                                                        data-pk="{{ entity.lineManagerId }}"
                                                        data-value="{{ entity.lineManagerId }}"
                                                        data-original-title="Select Line Manager">
                                                    {{ entity.lineManagerName }}
                                                </a>
                                            </td>
                                            <td>
                                                <a
                                                        data-type="select"
                                                        class="editable"
                                                        id="reportMode-{{ entity.reportModeId }}"
                                                        data-name="reportMode"
                                                        href="#"
                                                        data-source="{{ path('kpi_report_mode_select',{id:entity.id}) }}"
                                                        data-url="{{ path('kpi_report_mode_inline_update',{id:entity.id}) }}"
                                                        data-pk="{{ entity.reportModeId }}"
                                                        data-value="{{ entity.reportModeId }}"
                                                        data-original-title="Select Report Mode">
                                                    {{ entity.reportModeName }}
                                                </a>
                                            </td>
                                            <td>
                                                <a
                                                        data-type="text"
                                                        class="editable"
                                                        id="password-{{ entity.id }}"
                                                        data-name="price"
                                                        href="javascript:"
                                                        data-url="{{ path('kpi_employee_inline_password',{'id':entity.id}) }}"
                                                        data-pk="{{ entity.id }}"
                                                        data-value="">password</a>
                                            </td>
                                        {% endif %}#}

                                        <td>{{ entity.mobile }}</td>
                                        <td>

{#                                            {{ dump(entity.district|json_decode) }}#}
{#                                            {{ entity.districtHistories ? entity.districtHistories.district : '' }}#}

                                            {% if entity.district is not empty %}
                                                {% for dist in entity.district|json_decode %}
                                                    {{ dist }}
                                                    {% if loop.last!=1 %}{{ ',' }}{% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{{ entity.email }}</td>
{#                                        <td>{{ entity.departmentName|default('') }}</td>#}
{#                                        <td>{{ entity.enabled == 1 ? "Enabled":"Disabled" }}</td>#}
                                        <td>
                                            <div class="btn-group">
                                                {#{% if is_granted('ROLE_KPI_ADMIN') %}
                                                    <a
                                                            class="btn btn-mini yellow-bg white-font"
                                                            href="{{ path('kpi_employee_edit',{'id':entity.id}) }}">
                                                        <i class="feather icon-edit"></i> Edit
                                                    </a>
                                                {% endif %}#}

                                                <a
                                                        class="btn btn-mini blue-bg white-font"
                                                        data-toggle="modal"
                                                        data-action="{{ path('kpi_employee_details',{'id':entity.id}) }}"
                                                        data-target="#myModal"
                                                        href="">
                                                    <i class="feather icon-eye"></i> View
                                                </a>
                                                {#{% if is_granted('ROLE_KPI_ADMIN') %}
                                                    <a
                                                            class="btn btn-mini purple-bg white-font"
                                                            href="{{ path('kpi_employee_password',{'id':entity.id}) }}">
                                                        <i class="feather icon-lock"></i> Change Password
                                                    </a>
                                                {% endif %}#}

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="13" align="center">{{ 'No record has been found!'|trans }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="count">
                                Total Records: {{ entities.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-6 navigation">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Employee Details</h4>
                </div>

                <div class="modal-body">

                </div>


            </div>
        </div>
    </div>
    <style>
        .modal-lg {
            width: 65%;
            max-width: 65%;
            /*height: 100%;*/
            padding: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }
    </style>



{% endblock %}
{% block cssBlock %}

{#    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap-editable/css/bootstrap-editable.css') }}">#}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">

    <style>
        .pagination {
            float: right;
        }

        .btn-group-sm > .btn, .btn-sm {
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
        }
        .editable-click, a.editable-click, a.editable-click:hover {
            text-decoration: none;
            border-bottom: dashed 1px #0088cc;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>

{% endblock %}
{% block documentready %}
{#<script>#}
    {{ parent() }}

    $.fn.editable.defaults.mode ='inline';
    {#    $.fn.editable.defaults.mode = 'popover';#}
    $('.editable').editable();


    {#    Append Employee details#}
    jQuery("#myModal").on("show.bs.modal", function(e) {
        var url = jQuery(e.relatedTarget).data('action');

        jQuery.get( url, function( data ) {
            jQuery(".modal-body").html(data.html);
        });

    });

{#    $('#datatable').DataTable( {
        "pageLength": 12,
    });#}


{% endblock %}





