{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_setup') }}">  {{ 'Employee Setup Plan'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Employee Setup Plan'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_setup_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('kpi_setup') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Employee Setup Plan'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Setup Plan'|trans }} </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6 offset-1">
                                        <div class="form-group">
                                           <label class="col-md-4">Employee Name</label>
                                            <div class="col-md-8">
                                                {{ setup.employee.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 offset-1">
                                        <div class="form-group">
                                           <label class="col-md-4">Employee ID</label>
                                            <div class="col-md-8">
                                                {{ setup.employee.userId }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 offset-1">
                                        <div class="form-group">
                                           <label class="col-md-4">Designation</label>
                                            <div class="col-md-8">
                                              {% if setup.employee.designation is not empty %}  {{ setup.employee.designation.name }}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover" id="datatable">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Zone</th>
                                            <th scope="col">Region</th>
                                            <th scope="col">District</th>
                                            {% for product in products %}
                                                <th scope="col">{{ product.name }}</th>
                                            {% endfor %}
                                            <th scope="col">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="inputform">
                                        {% set total = 0 %}
                                        {% for entity in entities %}
                                            <tr>
                                                <td>{{ loop.index }}.</td>
                                                <td>{{ entity.zonalName }}</td>
                                                <td>{{ entity.regionalName }}</td>
                                                <td>{{ entity.districtName }}</td>
                                                {% for product in products %}
                                                    <td>
                                                        {% set ids = entity.id~'-'~product.id %}
                                                        <input type="hidden" id="" name="chartIds[{{ entity.id }}][]" value="{% if matrixArr[ids] is defined and  matrixArr[ids].upozilaId ==  entity.id and  matrixArr[ids].markId == product.id %}{{ matrixArr[ids].markId }}{% endif %}">
                                                        {% if matrixArr[ids] is defined and  matrixArr[ids].upozilaId ==  entity.id and  matrixArr[ids].markId == product.id %}{{ matrixArr[ids]['amount']|number_format(2) }}{% endif %}
                                                    </td>
                                                {% endfor %}
                                                <td>
                                                    <strong>
                                                        {% if totalMarks['upozilaIds'][entity.id]  is defined and totalMarks['upozilaIds'][entity.id]['amount'] is not empty %}
                                                            {% set total = total + totalMarks['upozilaIds'][entity.id]['amount'] %}
                                                        {{ totalMarks['upozilaIds'][entity.id]['amount']|number_format(2) }} {% endif %}
                                                    </strong>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        {% set columnLength = products|length + 5 %}
                                        <tfoot><tr>
                                            <th colspan="4">Total Amount</th>
                                            {% for product in products %}
                                                <th scope="col">{% if totalMarks['markIds'] is defined and  totalMarks['markIds'] is not empty  %}{{ totalMarks['markIds'][product.id]['amount'] }}{% endif %}</th>
                                            {% endfor %}
                                            <th>{{ total|number_format(2) }}</th></tr></tfoot>
                                    </table>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
 <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "bPaginate": false,
    'columnDefs': [ {
    'targets': [0,4],
    'orderable': false
    }]
    });
{% endblock %}