{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_setup') }}">  {{ 'Employee Sales'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Employee Sales Setup'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_setup_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('kpi_setup') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'KPI Setup'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Regional</th>
                            <th scope="col">Zonal</th>
                            <th scope="col">Status</th>
                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.designation }}</td>
                            <td>{{ entity.regionalName|default('') }}</td>
                            <td>{{ entity.zonalName|default('') }}</td>
                            <td><a class="btn btn-mini green-bg white-font status" href="javascript:" data-action="{{ path('kpi_setup_status',{'id':entity.id}) }}">{% if entity.status is not empty %}Yes {% else %}No {% endif %}</a></td>
                            <td>
                                <a class="btn  yellow-bg  btn-mini white-font" href="{{ path('kpi_employee_board_generate',{'setup':entity.id}) }}">KPI Generate</a>
                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('kpi_setup_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4,5,6],
    'orderable': false
    }]
    });
{% endblock %}
