{% extends 'admin/layout.html.twig' %}

{% block body %}

<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
{#    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Data Import'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>#}
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card mb-1">
            <div class="card-header p-2">
                <h5>{{ 'Data Import'|trans }}</h5>
{#                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('kpi_setting_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                        <a href="{{ path('kpi_setting') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Settings'|trans }}</a>
                    </div>
                </div>#}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 pl-0">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="40" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Month'|trans }}</th>
                        <th>{{ 'Title'|trans }}</th>
{#                        <th>{{ 'File Name'|trans }}</th>#}
                        <th width="100" class="text-center">{{ 'Status'|trans }}</th>
                        <th width="10%">{{ 'Created Date'|trans }}</th>
                        <th class="text-center" width="100"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entities is defined and entities is not empty %}
                        {% for monthYear,entity in entities %}
                            {% for data in entity %}
                                <tr>
                                {% if loop.first %}
                                    <td rowspan="{{ entity|length }}" class="text-center">{{ loop.parent.loop.index }}</td>
                                    <td rowspan="{{ entity|length }}">{{ monthYear }}</td>
                                {% endif %}
                                <td>
                                    <div style="display: flex; justify-content: space-between;">
                                        <span>{{ loop.index }}. {{ data.title|capitalize|default('') }}</span>
                                        <a href="{{ asset('/uploads/excel/' ~ data.fileName) }}" download><i class="fa fa-download"></i></a>
                                    </div>

                                </td>
                                {#<td style="display: flex; justify-content: space-between;">
                                    <span>{{ data.fileName|default('') }}</span>
                                    <a href="{{ asset('/uploads/excel/' ~ data.fileName) }}" download><i class="fa fa-download"></i></a>
                                </td>#}
                                <td class="text-center">{{ data.status > 0 ? 'Yes' : 'No' }}</td>
                                <td class="text-center">{{ data.createdAt|date('d-m-Y') }}</td>
                                <td class="text-right">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        {% if data.status == 0 %}
                                            <a class="btn btn-mini bg-primary white-font loader import" href="{{ path('kpi_file_upload_insert_data',{'id':data.id}) }}"><i class="feather icon-upload"></i> Import</a>
                                        {% endif %}

                                        {% if data.title|replace({' ': "-"})|lower == 'agent-sales' and data.status == 1 %}
                                            <a class="btn btn-mini bg-success white-font loader" href="{{ path('kpi_insert_data_district_wise',{'id':data.id}) }}"><i class="feather icon-upload"></i> Migrate</a>
{#                                            {% elseif data.title|replace({' ': "-"})|lower == 'agent-sales' and data.status == 2 %}#}
{#                                                <a class="btn btn-mini bg-secondary white-font loader" href="{{ path('kpi_insert_agent_category',{'id':data.id}) }}"><i class="feather icon-upload"></i>Grade Change</a>#}
                                        {% endif %}

                                        {% if data.status == 0 and not is_granted('ROLE_KPI_ADMIN') %}
                                            <a data-action="{{ path('kpi_file_upload_file_delete',{'id':data.id}) }}" class="btn  btn-transparent btn-mini red-font remove" href="javascript:"><i class="fa fa-remove"></i></a>
                                            {% elseif is_granted('ROLE_KPI_ADMIN') %}
                                                <a data-action="{{ path('kpi_file_upload_file_delete',{'id':data.id}) }}" class="btn  btn-transparent btn-mini red-font removeReload" href="javascript:"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                        {% endfor %}
                    {% else %}
                            <tr>
                                <td colspan="6" class="text-center font-weight-bold">{{ "No record Found!"|trans }}</td>
                            </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 pr-0">
            <div class="card">
{#                <div class="card-header text-white text-center text-uppercase font-weight-bold" style="background: #3699FF">
                    <p class="mb-0">{{ 'Add New File'|trans }}</p>
                </div>#}
                <div class="card-body">

                    {{ form_start(form) }}

                    {{ form_label(form.title,'Title:') }}
                    {{ form_widget(form.title,{'attr':{'class':'mb-3'}}) }}
                    {{ form_label(form.monthYear,'Month:') }}
                    {{ form_widget(form.monthYear,{'id':'inputMonth','attr':{'class':'mb-3'}}) }}
                    {{ form_label(form.UploadFile,'Upload File Here:') }}
                    {{ form_widget(form.UploadFile,{'attr':{'class':'form-control','style':'padding-top: 7px !important; padding-bottom: 30px !important;'}}) }}
                    {{ form_help(form.UploadFile,{'help_attr':{'class':'text-secondary'}}) }}
                    {{ form_widget(form.Submit,{'attr':{'class':'btn btn-block btn-info mt-3'},'label':'Upload'}) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar{display: none}

    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script>
        $(".import").on("click", function (e) {
            // const element = $(this);
            // e.preventDefault();
            const url = $(this).attr("href");
            // const destinationUrl = Routing.generate("kpi_file_upload_index");

            // element.remove();
            // $("#pageloader").remove();


            $.ajax({
                type: "get",
                url: url,
                success: function (res) {
                    // element.remove();
                    setTimeout(function () {
                        location.reload();
                    },50000)
                }
            })

        })
    </script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
{#    <script>#}

        $('#inputMonth').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM,yy',

            onClose: function() {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            },

            beforeShow: function() {
                if ((selDate = $(this).val()).length > 0)
                {
                    iYear = selDate.substring(selDate.length - 4, selDate.length);
                    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
                    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                }
            }
        });

{% endblock %}
