{% if data['cattleFarmIntroduce']['records'] is defined and data['cattleFarmIntroduce']['records'] is not empty %}
    <table class="table table-striped table-bordered table-hover download-excel">
        <thead>
        <tr class="data-header">
            <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Month</th>
            <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Name Of Farmers</th>
            <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Address</th>
            <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Mobile</th>
            <th scope="col"
                colspan="{{ entities['species'] is defined?entities['species']|length:'0' }}"
                data-a-h="center" class="text-center">Capacity
            </th>
            <th scope="col" data-a-h="center" colspan="3" class="text-center">Present Agent Information</th>
            <th scope="col" data-a-h="center" colspan="3" class="text-center">Previous Agent Information</th>
            <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Remarks</th>
        </tr>
        <tr class="data-header">

            {% if data['cattleFarmIntroduce']['species'] is defined %}
                {% for specie in data['cattleFarmIntroduce']['species'] %}
                    <th class="text-center" scope="col">{{ specie.name }}</th>
                {% endfor %}
            {% endif %}

            <th scope="col">Name Of Agent</th>
            <th scope="col">Address</th>
            <th scope="col">Name Of Feed</th>

            <th scope="col">Name Of Previous Agent</th>
            <th scope="col">Address</th>
            <th scope="col">Name Of Previous Feed</th>

        </tr>
        </thead>

        <tbody>
            {% if data['cattleFarmIntroduce']['records'] is defined and data['cattleFarmIntroduce']['records'] is not empty %}
                {% set totalRecordCount=1 %}
                {% for monthYear, regionDetails in data['cattleFarmIntroduce']['records'] %}
                    <tr>
                        <td colspan="19">{{ monthYear }}</td>
                    </tr>
                    {% for detail in regionDetails %}
                        {% set cultureSpeciesItemAndQty = detail['cultureSpeciesItemAndQty']|json_decode %}
                        <tr>
                            <td>{{ detail['customerName']|default('') }}</td>
                            <td>{{ detail['customerAddress']|default('') }}</td>
                            <td data-t="s">{{ detail['customerMobile']|default('') }}</td>

                            {% if data['cattleFarmIntroduce']['species'] is defined %}
                                {% for specie in data['cattleFarmIntroduce']['species'] %}
                                    <td data-t="n" class="text-center"
                                        scope="col">{{ cultureSpeciesItemAndQty[specie.id]|default('') }}</td>
                                {% endfor %}
                            {% endif %}

                            <td>{{ detail['agentName']|default('') }}</td>
                            <td>{{ detail['agentAddress']|default('') }}</td>
                            <td>{{ detail['feedName']|default('') }}</td>

                            <td>{{ detail['otherAgentName']?detail['otherAgentName']:detail['subAgentName']|default('') }}</td>
                            <td>{{ detail['otherAgentAddress']?detail['otherAgentAddress']:detail['subAgentAddress']|default('') }}</td>
                            <td>{{ detail['otherFeedName']|default('') }}</td>
                            <td>{{ detail['remarks']|default('') }}</td>
                        </tr>

                    {% endfor %}
                {% endfor %}
            {% endif %}

        </tbody>
    </table>
{% endif %}