{% if data['docComplain'] is defined and data['docComplain']['records'] is defined and data['docComplain']['records'] is not empty %}
    <table class="table table-striped table-bordered table-hover" id="fcrReportDetails">
        <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 100px">Date</th>
            <th scope="col" width="50">Issue No</th>
            <th scope="col">Agent Name</th>
            <th scope="col">Agent ID</th>
            <th scope="col">Area</th>
            <th scope="col">Hatchery Name</th>
            <th scope="col">Hatching date</th>
            <th scope="col">Box No</th>
            <th scope="col">Age Days</th>
            <th scope="col">Receieved Quantity</th>
            <th scope="col">Transpoted By</th>
            <th scope="col">Breed Name</th>
            <th scope="col">Breed Category</th>
            <th scope="col">Complains</th>
            <th scope="col">Days</th>
            <th scope="col">Quantity</th>
            <th scope="col">Diseases</th>
            <th style="width: 150px!important;" scope="col">Obsevation</th>
            <th scope="col">Comments</th>
        </tr>
        </thead>
        {% for monthYear, monthlyData in data['docComplain']['records'] %}
            <tr>
                <td data-t="s" data-fill-color="#ffff00" colspan="22">{{ monthYear }}</td>
            </tr>

            {% for createdDate, dailyData in monthlyData %}

                {% for parentId, details in dailyData %}

                    {% for index, detail in details %}

                        <tr>
                            <td data-a-v="middle">{{ createdDate }} </td>

                            <td data-t="n" data-a-v="middle">{{ detail.id }}</td>
                            <td data-a-v="middle">{{ detail.agentName|default('') }}</td>
                            <td data-t="s" data-a-v="middle">{{ detail.agentId ? detail.agentId : ( detail.agentGroupName|default() ) }}</td>
                            <td data-a-v="middle">{{ detail.agentDistrictName|default('') }}</td>
                            <td data-a-v="middle">{{ detail.hatcheryName|default('') }}</td>
                            <td data-a-v="middle">{{ detail.hatchingDate?detail.hatchingDate|date('d-m-Y'):(detail.productionDate?detail.productionDate|date('d-m-Y'):'') }}</td>
                            <td data-t="s" data-a-v="middle">{{ detail.boxNo|default('') }}</td>
                            <td data-t="s" data-a-v="middle">{{ detail.ageDays|default('') }}</td>
                            <td data-a-v="middle">{{ detail.receivedDocQty|default('') }}</td>
                            <td data-a-v="middle">{{ detail.transportName|default('') }}</td>
                            <td data-a-v="middle">{{ detail.breedParentName|default('') }}</td>
                            <td data-a-v="middle">{{ detail.breedName|default('') }}</td>


                            <td>{{ detail.parameterName|default('') }}</td>
                            <td data-t="s">{{ detail.day|default('') }}</td>
                            <td data-t="n">{{ detail.quantity|default('') }}</td>
                            <td data-a-v="middle">{{ detail.diseases|default('') }}</td>
                            <td style="padding-left: 5px!important; word-wrap: break-word;" data-a-v="middle">{{ detail.observation|default('') }}</td>
                            <td data-a-v="middle">{{ detail.complains|default('') }}</td>

                        </tr>

                    {% endfor %}
                {% endfor %}


            {% endfor %}

        {% endfor %}
</table>

{% endif %}
