<table class="table table-striped table-bordered table-hover">
    {% if data['avgDocPrice']['records'] is defined and data['avgDocPrice']['records'] is not empty %}
        {% for chickType, entity in data['avgDocPrice']['records'] %}
            <tr>
                <th scope="col" colspan="{{ months is defined ? months|length+2 :0 }}" style="text-align: left; background-color: yellow; font-size: 20px">{{ chickType }}</th>
            </tr>
            <tr>

                <th scope="col">Company</th>
                <th scope="col">Avg. Price</th>
                {% if months is defined and months is not empty %}
                    {% for month in months %}
                        <th scope="col" style="text-align: center"><span style="display:block; transform: rotate(-30deg);text-align: center; min-width: 65px; padding: 0!important;">{{ month }}</span></th>
                    {% endfor %}
                {% endif %}
            </tr>
            <tbody>

            {% for company, details in entity %}
                <tr>

                    <td>{{ data['avgDocPrice']['feedCompany'][chickType][company]|default('') }}</td>
                    <td data-t="n" >
                        {{ details|length>0?((details|arraySum)/(details|length))|number_format(2,'.',''):'' }}
                    </td>
                    {% if months is defined and months is not empty %}
                        {% for month in months %}
                            <td data-t="n" align="center">
                                {{ details[month] is defined ? details[month]|number_format(2) : '' }}
                            </td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        {% endfor %}
    {% else %}
        <tbody>
        <tr>
            <td colspan="{{ months is defined ? months|length+2 :0 }}">No record found.</td>
        </tr>
        </tbody>
    {% endif %}

</table>
