
{% if data['feedComplain'] is defined and data['feedComplain']['records'] is defined and data['feedComplain']['records'] is not empty %}
    <table class="table table-striped table-bordered table-hover" id="fcrReportDetails">

        <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 100px">Date</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Designation</th>
            <th scope="col" width="50">Issue No</th>
            <th scope="col">Agent Name</th>
            <th scope="col">Agent ID</th>
            <th scope="col">Area</th>

            <th scope="col">Production date</th>
            <th scope="col">Supply Point</th>
            <th scope="col">Batch No</th>
            <th scope="col">Sl No</th>
            <th scope="col">Feed Name</th>
            <th scope="col">Feed Category</th>
            <th scope="col">Problem</th>
            <th scope="col">Obsevation</th>
            <th scope="col">Comments</th>
        </tr>
        </thead>

        {% set slNo=1 %}

        {% for monthYear, monthlyData in data['feedComplain']['records'] %}
            <tr>
                <td data-t="s" data-fill-color="#FF0000" colspan="17">{{ monthYear }}</td>
            </tr>

            {% for createdDate, dailyData in monthlyData %}
                {% set issueCount=1 %}

                {% for parentId, details in dailyData %}

                    {% for index, detail in details %}

                        <tr>

                            <td data-a-v="middle">{{ createdDate }} </td>

                            <td data-a-v="middle">{{ detail.employeeName|default('') }}</td>
                            <td data-a-v="middle">{{ detail.userId|default('') }}</td>
                            <td data-a-v="middle">{{ detail.designationName|default('') }}</td>

                            <td data-t="n" data-a-v="middle">{{ issueCount }}</td>
                            <td data-a-v="middle">{{ detail.agentName|default('') }}</td>
                            <td data-t="s" data-a-v="middle">{{ detail.agentId ? detail.agentId : ( detail.agentGroupName|default() ) }}</td>
                            <td data-a-v="middle">{{ detail.agentDistrictName|default('') }}</td>
                            <td data-a-v="middle">{{ detail.productionDate?detail.productionDate|date('d-m-Y'):'' }}</td>
                            <td data-t="s" data-a-v="middle">{{ detail.feedMillName|default('') }}</td>
                            <td data-t="s" data-a-v="middle">{{ detail.batchNo|default('') }}</td>
                            <td data-t="s" data-a-v="middle">{{ slNo }}</td>
                            <td data-a-v="middle">{{ detail.feedParentName|default('') }}</td>
                            <td data-a-v="middle">{{ detail.feedName|default('') }}</td>


                            <td>{{ detail.parameterName|default('') }}</td>

                            <td style="padding-left: 5px!important; word-wrap: break-word;" data-a-v="middle">{{ detail.observation|default('') }}</td>
                            <td data-a-v="middle">{{ detail.complains|default('') }}</td>

                        </tr>
                        {% set slNo=slNo+1 %}
                    {% endfor %}
                    {% set issueCount=issueCount+1 %}
                    
                {% endfor %}

            {% endfor %}

        {% endfor %}

    </table>
{% endif %}

