{% if data['challengesIdea'] is defined and data['challengesIdea'] is not empty %}
<table class="table table-striped table-bordered table-hover download-excel" id="fcrReportDetails">
    <thead class="thead-dark">
    <tr>
        <th>Month</th>
        <th>Details</th>
    </tr>
    </thead>
    {% if data['challengesIdea'] is iterable %}
    <tbody>
        {% for monthYear, monthYearData in data['challengesIdea'] %}
            <tr>
                <td>{{ monthYear|default('') }}</td>
                <td>
                    <ul>
                        {% for entity in monthYearData %}
                            <li>
                                {{ entity.description|default('') }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}

    </tbody>
    {% endif %}
</table>
{% endif %}
