{% if data['outstandingAndDocSales'] is defined and data['outstandingAndDocSales'] is not empty %}
    <table class="table table-striped table-bordered table-hover details-table"
           width="100%">
        <thead class="thead-dark">
        <tr>
            <th rowspan="2">{{ 'Month'|trans }}</th>
            <th class="text-center" colspan="3">{{ 'Feed'|trans }}</th>
            <th class="text-center" colspan="3">{{ 'DOC'|trans }}</th>
        </tr>
        <tr>
            <th class="text-center">{{ 'Credit Limit' }}</th>
            <th class="text-center">{{ 'Uasge' }}</th>
            <th class="text-center">{{ '+-' }}</th>

            <th class="text-center">{{ 'Sales Value' }}</th>
            <th class="text-center">{{ 'Collection' }}</th>
            <th class="text-center">{{ '%' }}</th>
        </tr>
        </thead>
        <tbody>
        {% set feedCreditLimitArray = [] %}
        {% set feedActualAmountArray = [] %}
        {% set feedOutstandingArray = [] %}

        {% set docSalesAmountArray = [] %}
        {% set docSalesCollectionArray = [] %}

        {% for month in months %}
            {% set feedCreditLimit = data['outstandingAndDocSales']['outstanding'] is defined
                and data['outstandingAndDocSales']['outstanding'][month] is defined
                and data['outstandingAndDocSales']['outstanding'][month] is not empty
                and data['outstandingAndDocSales']['outstanding'][month][month] is defined ? data['outstandingAndDocSales']['outstanding'][month][month]['limitAmount'] : ''  %}

            {% if feedCreditLimit !='' %}
                {% set feedCreditLimitArray = feedCreditLimitArray|merge([feedCreditLimit]) %}
            {% endif %}

            {% set feedActualAmount = data['outstandingAndDocSales']['outstanding'] is defined
                and data['outstandingAndDocSales']['outstanding'][month] is defined
                and data['outstandingAndDocSales']['outstanding'][month] is not empty
                and data['outstandingAndDocSales']['outstanding'][month][month] is defined ? data['outstandingAndDocSales']['outstanding'][month][month]['actualAmount'] : ''  %}

            {% if feedActualAmount !='' %}
                {% set feedActualAmountArray = feedActualAmountArray|merge([feedActualAmount]) %}
            {% endif %}

            {% set feedOutstanding = data['outstandingAndDocSales']['outstanding'] is defined
                and data['outstandingAndDocSales']['outstanding'][month] is defined
                and data['outstandingAndDocSales']['outstanding'][month] is not empty
                and data['outstandingAndDocSales']['outstanding'][month][month] is defined ? data['outstandingAndDocSales']['outstanding'][month][month]['outstanding'] : ''  %}

            {% if feedOutstanding !='' %}
                {% set feedOutstandingArray = feedOutstandingArray|merge([feedOutstanding]) %}
            {% endif %}

            {% set docSalesAmount = data['outstandingAndDocSales']['docSales'] is defined
                and data['outstandingAndDocSales']['docSales'][month] is defined
                and data['outstandingAndDocSales']['docSales'][month] is not empty
                and data['outstandingAndDocSales']['docSales'][month][month] is defined ? data['outstandingAndDocSales']['docSales'][month][month]['salesAmount'] : ''  %}

            {% if docSalesAmount !='' %}
                {% set docSalesAmountArray = docSalesAmountArray|merge([docSalesAmount]) %}
            {% endif %}

            {% set docSalesCollection = data['outstandingAndDocSales']['docSales'] is defined
                and data['outstandingAndDocSales']['docSales'][month] is defined
                and data['outstandingAndDocSales']['docSales'][month] is not empty
                and data['outstandingAndDocSales']['docSales'][month][month] is defined ? data['outstandingAndDocSales']['docSales'][month][month]['collectionAmount'] : ''  %}

            {% if docSalesCollection !='' %}
                {% set docSalesCollectionArray = docSalesCollectionArray|merge([docSalesCollection]) %}
            {% endif %}

            {% set docPercentage = docSalesAmount != '' and docSalesCollection !='' and  docSalesAmount > 0 ? (docSalesCollection/docSalesAmount)*100 : '' %}
            <tr>
                <td>{{ month }}</td>
                <td class="text-right">{{ feedCreditLimit != '' ? feedCreditLimit|number_format(2, '.', ',') : '' }}</td>
                <td class="text-right">{{ feedActualAmount !='' ? feedActualAmount|number_format(2, '.', ',') : '' }}</td>
                <td class="text-right">{{ feedOutstanding !='' ? feedOutstanding|number_format(2, '.', ',') : '' }}</td>
                <td class="text-right">{{ docSalesAmount !='' ? docSalesAmount|number_format(2, '.', ',') : '' }}</td>
                <td class="text-right">{{ docSalesCollection !='' ? docSalesCollection|number_format(2, '.', ',') : '' }}</td>
                <td class="text-right">{{ docPercentage !='' ? docPercentage|number_format(2, '.', ',') ~'%' : '' }}</td>
            </tr>

        {% endfor %}
        {% set docAvgPercentage = docSalesAmountArray|length >0 and docSalesCollectionArray|length >0 and  docSalesAmountArray|arraySum > 0 ? (docSalesCollectionArray|arraySum/docSalesAmountArray|arraySum)*100 : '' %}

        <tr>
            <th>Average</th>
            <th class="text-right">{{ feedCreditLimitArray|length >0 ? ((feedCreditLimitArray|arraySum)/(feedCreditLimitArray|length))|number_format(2, '.', ',') : '' }}</th>
            <th class="text-right">{{ feedActualAmountArray|length >0 ? ((feedActualAmountArray|arraySum)/(feedActualAmountArray|length))|number_format(2, '.', ',') : '' }}</th>
            <th class="text-right">{{ feedOutstandingArray|length >0 ? ((feedOutstandingArray|arraySum)/(feedOutstandingArray|length))|number_format(2, '.', ',') : '' }}</th>
            <th class="text-right">{{ docSalesAmountArray|length >0 ? ((docSalesAmountArray|arraySum)/(docSalesAmountArray|length))|number_format(2, '.', ',') : '' }}</th>
            <th class="text-right">{{ docSalesCollectionArray|length >0 ? ((docSalesCollectionArray|arraySum)/(docSalesCollectionArray|length))|number_format(2, '.', ',') : '' }}</th>
            <th class="text-right">{{ docAvgPercentage != '' ? docAvgPercentage|number_format(2) ~'%' : '' }}</th>

        </tr>
        </tbody>

    </table>

{% endif %}
