
    {% for distributionName, distributionData in data['currentYearTeamMemberSalesData']['data'] %}

        <h5>{{ distributionName }}</h5>

        <table class="table table-striped table-bordered table-hover details-table"
               width="100%">
            <thead class="thead-dark">
            <tr>
                <th rowspan="2">{{ 'Team Members '|trans }}</th>
                <th rowspan="2">{{ 'Last Year average'|trans }}</th>
                <th colspan="4">This Year({{ filterBy['year'] }})Averge</th>
                <th colspan="2">Comparison with last Year</th>

            </tr>
            <tr>
                <th class="text-center">{{ 'Target' }}</th>
                <th class="text-center">{{ 'Sales' }}</th>
                <th class="text-center">{{ '%' }}</th>
                <th class="text-center">{{ 'Variance (Ach-Target)' }}</th>

                <th class="text-center">{{ 'Growth(%)' }}</th>
                <th class="text-center">{{ 'Growth Volume' }}</th>
            </tr>
            </thead>
            <tbody>
            {% set previousYearSalesAchiveTotal = 0 %}

            {% set cumSalesTarget=0 %}
            {% set cumSalesAchive=0 %}
            {% set monthCount = 0 %}

            {% set cumSalesTargetArray = [] %}
            {% set cumSalesAchiveArray = [] %}

            {% for employeeId, employeeData in distributionData %}

                {% set previousYearTeamMemberSalesAchive = data['previousYearTeamMemberSalesData'] is defined
                    and data['previousYearTeamMemberSalesData'] is not empty
                    and data['previousYearTeamMemberSalesData']['data'] is defined
                    and data['previousYearTeamMemberSalesData']['data'][distributionName] is defined
                    and data['previousYearTeamMemberSalesData']['data'][distributionName][employeeId] is defined ? data['previousYearTeamMemberSalesData']['data'][distributionName][employeeId]|arraySumColWise('totalSalesQuantity')|number_format(2,'.','')/data['previousYearTeamMemberSalesData']['data'][distributionName][employeeId]|length:'' %}

                {% set currentYearTeamMemberSalesTarget = employeeData is not empty ? employeeData|arraySumColWise('totalTargetQuantity')/employeeData|length : ''  %}
                {% set currentYearTeamMemberSalesAchive = employeeData is not empty ? employeeData|arraySumColWise('totalSalesQuantity')/employeeData|length : ''  %}

                {#{% set employeeName = data['currentYearTeamMemberSalesData'] is defined
                    and data['currentYearTeamMemberSalesData'] is not empty
                    and data['currentYearTeamMemberSalesData']['userInfo'] is defined
                    and data['currentYearTeamMemberSalesData']['userInfo'][employeeId] is defined ? data['currentYearTeamMemberSalesData']['userInfo'][employeeId]['name']:'' %}

                {% set previousYearTeamMemberSalesAchive = data['previousYearTeamMemberSalesData'] is defined
                    and data['previousYearTeamMemberSalesData'] is not empty
                    and data['previousYearTeamMemberSalesData']['data'] is defined
                    and data['previousYearTeamMemberSalesData']['data'][distributionName] is defined
                    and data['previousYearTeamMemberSalesData']['data'][distributionName][employeeId] is defined ? data['previousYearTeamMemberSalesData']['data'][distributionName][employeeId]['totalSalesQuantity']:'' %}

                {% set currentYearTeamMemberSalesTarget = employeeData['totalTargetQuantity'] is defined ? employeeData['totalTargetQuantity'] : ''  %}
                {% set currentYearTeamMemberSalesAchive = employeeData['totalSalesQuantity'] is defined ? employeeData['totalSalesQuantity'] : ''  %}

                {% set cumSalesTarget=cumSalesTarget + (currentYearTeamMemberSalesTarget !=''? currentYearTeamMemberSalesTarget:0) %}
                {% set cumSalesAchive=cumSalesAchive+ (currentYearTeamMemberSalesAchive !=''? currentYearTeamMemberSalesAchive:0)%}

#}
                <tr>
                    <td>{{ data['currentYearTeamMemberSalesData']['employeeInfo'][employeeId]['name']|default('') }}</td>
                    <td>
                        {{ previousYearTeamMemberSalesAchive|number_format(2) }}

                    </td>
                    <td>
                        {{ currentYearTeamMemberSalesTarget|number_format(2) }}
                    </td>
                    <td>
                        {{ currentYearTeamMemberSalesAchive|number_format(2) }}
                    </td>
                    <td>
                        {{ currentYearTeamMemberSalesTarget >0 ? ((currentYearTeamMemberSalesAchive/currentYearTeamMemberSalesTarget)*100)|number_format(0) ~'%':'' }}
                    </td>
                    <td>
                        {{ (currentYearTeamMemberSalesAchive - currentYearTeamMemberSalesTarget)|number_format(2)  }}
                    </td>

                    <td>
                        {{ previousYearTeamMemberSalesAchive >0 ? (((currentYearTeamMemberSalesAchive/previousYearTeamMemberSalesAchive)-1)*100)|number_format(1) ~'%':'' }}
                    </td>
                    <td>
                        {{ (currentYearTeamMemberSalesAchive - previousYearTeamMemberSalesAchive)|number_format(2)  }}
                    </td>

                </tr>

            {% endfor %}


            </tbody>
        </table>

    {% endfor %}
