{% if data['challengesProblem'] is defined and data['challengesProblem'] is not empty %}
<table class="table table-striped table-bordered table-hover download-excel" id="fcrReportDetails">

    <thead>

    <tr>
        <th>Month</th>
        <th>Problem On</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
        {% for monthYear, monthYearData in data['challengesProblem'] %}

            {% for feedName, feedData in monthYearData %}
                <tr>
                    <td>{{ monthYear }}</td>
                    <td>{{ feedName }}</td>
                    <td style="padding-left: 20px!important;">
                        <ul>
                            {% for entity in feedData %}
                                <li>
                                    {{ entity.description|default('') }}
                                </li>
                                {% endfor %}
                        </ul>
                    </td>
                </tr>

            {% endfor %}
        {% endfor %}

    </tbody>
</table>
{% endif %}
