{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_markchart') }}">  {{ 'Employee KPI Boards'|trans }}</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Element'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_board_new', {format: 'custom-format'}) }}"
                               class="btn btn-sm bg-success white-font"><i class="fas fa-plus"></i>{{ 'Custom'|trans }}
                            </a>
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i
                                        class="fa fa-th-list"></i>{{ 'KPI Board'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage KPI Element'|trans }} </div>
                        <div class="btn-group float-right">
{#                            {% if app.user.id is not same as board.employee.id or is_granted('ROLE_KPI_ADMIN') %}#}
{#                                <a href="{{ path('kpi_approve',{'id':board.id}) }}" id="statusUpdate"#}
{#                                   name="statusUpdate" class="btn blue-bg text-white">Approved</a>#}
{#                            {% endif %}#}
                            {#                            <a href="{{ path('kpi_employee_board_preview',{'id':board.id,'mode':'print'}) }}" class="btn yellow-bg white-font"><i class="fa fa-print"></i> Print</a>#}
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th colspan="2" class="text-center">KPI - {{ board.month }},{{ board.year }}</th>
                            </tr>
                            <tr>
                                <th>
                                    <ul class="header-info">
                                        <li>Name of the Employee: {{ board.employee.name }}</li>
                                        <li>Date of
                                            Joining: {% if board.employee is not empty %}{{ board.employee.joiningDate|date('d-m-Y') }}{% endif %}</li>
                                        <li>Line
                                            Manager: {% if board.employee.lineManager is not empty %}{{ board.employee.lineManager.name }}{% endif %}</li>
                                        <li>Format: {{ board.reportMode.name|default('') }}</li>
                                    </ul>
                                </th>
                                <th>
                                    <ul class="header-info">
                                        <li>Emp
                                            ID: {% if board.employee is not empty %}{{ board.employee.userId }}{% endif %}</li>
                                        <li>
                                            Designation: {% if board.employee.designation is not empty %}{{ board.employee.designation.name }}{% endif %}</li>
                                    </ul>
                                </th>
                            </tr>

                            </thead>

                        </table>
                        <form action="{{ path('custom_format_kpi', {board: board.id}) }}" method="post">
                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Sales Feed Achivement' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Target Quantity'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Sales Quantity'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'sales' %}
                                                                {% if entity.attribute.status == 1 %}
                                                                    <td>{{ entity.attribute.name }}</td>

                                                                    <td><input type="text"
                                                                               name="sales[{{ entity.attribute.id }}][target]"
                                                                               class="form-control"
                                                                               value="{% if feedAndGrowth[entity.attribute.id] is defined %}{{ feedAndGrowth[entity.attribute.id]['targetQuantity'] }}{% endif %}">
                                                                    </td>
                                                                    <td><input type="text"
                                                                               name="sales[{{ entity.attribute.id }}][sales]"
                                                                               class="form-control"
                                                                               value="{% if feedAndGrowth[entity.attribute.id] is defined %}{{ feedAndGrowth[entity.attribute.id]['salesQuantity'] }}{% endif %}">
                                                                    </td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Product Sales Growth' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Previous Year'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Sales Quantity'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'sales-growth-always-consider-among-same-period' %}
                                                                {% if entity.attribute.status == 1 %}
                                                                    <td>{{ entity.attribute.name }}</td>

                                                                    <td><input type="text"
                                                                               name="growth[{{ entity.attribute.id }}][previous]"
                                                                               class="form-control"
                                                                               value="{% if feedAndGrowth[entity.attribute.id] is defined %}{{ feedAndGrowth[entity.attribute.id]['targetQuantity'] }}{% endif %}">
                                                                    </td>
                                                                    <td><input type="text"
                                                                               name="growth[{{ entity.attribute.id }}][current]"
                                                                               class="form-control"
                                                                               value="{% if feedAndGrowth[entity.attribute.id] is defined %}{{ feedAndGrowth[entity.attribute.id]['salesQuantity'] }}{% endif %}">
                                                                    </td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>


                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Outstanding' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Outstanding'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Limit Amount'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                {% if entity.attribute.slug == 'outstanding-limit-vs-actual-feed' %}
        {#                                                        <tr>
                                                            <td colspan="2" style="padding: 0 !important;"
                                                                align="center">
                                                                <p class="yellow-bg p-1 m-0">{{ 'Outstanding limit vs actual feed' }}</p>
                                                            </td>
                                                        </tr>#}
        {#                                                        <tr>
                                                            <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                                            <th scope="col" width="20%">{{ 'Actual Amount'|trans }}</th>
                                                            <th scope="col" width="20%">{{ 'Limit Amount'|trans }}</th>
                                                            <th scope="col" width="50" class="text-center"><i class="feather icon-settings"></i></th>
                                                        </tr>#}
                                                    <tr>
{#                                                            <td>#}
{#                                                                <select data-action="{{ path('core_agent_search_select2') }}"#}
{#                                                                        name="agent" class="agentSearch" id="">#}
{#                                                                    <option value="">Select Agent</option>#}
{#                                                                </select>#}
{#                                                            </td>#}
                                                        <td>{{ entity.attribute.name }}</td>
                                                        <td>
                                                            <input type="text"
                                                                   name="outstanding[actual-amount]"
                                                                   class="form-control"
                                                                   value="{% if outstanding is defined %}{{ outstanding.actualAmount|default('') }}{% endif %}">
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                   name="outstanding[limit-amount]" class="form-control"
                                                                   value="{% if outstanding is defined %}{{ outstanding.limitAmount|default('') }}{% endif %}">
                                                        </td>
{#                                                            <td>#}
{#                                                                <a data-action="{{ path('agent_outstanding_for_custom_format', {board: board.id}) }}"#}
{#                                                                   data-board-id="{{ board.id }}"#}
{#                                                                   class="btn btn-sm green-bg white-font add_button"><i#}
{#                                                                            class="fa fa-plus"></i> Add New</a>#}
{#                                                            </td>#}
                                                    </tr>
{#                                                        {% if outstanding is defined and outstanding is not empty %}#}
{#                                                            {% for item in outstanding %}#}
{#                                                                <tr>#}
{#                                                                    <td>{{ item.agent.name }}</td>#}
{#                                                                    <td>{{ item.actualAmount }}</td>#}
{#                                                                    <td>{{ item.limitAmount }}</td>#}
{#                                                                    <td align="center"><a#}
{#                                                                                data-action="{{ path('delete_agent_outstanding_for_custom_format', {id: item.id}) }}"#}
{#                                                                                class="btn btn-sm btn-transparent remove"><i#}
{#                                                                                    class="fa fa-remove"></i></a></td>#}
{#                                                                </tr>#}
{#                                                            {% endfor %}#}
{#                                                        {% endif %}#}
                                                {% elseif entity.attribute.slug == 'doc-sales-collection' %}
{#                                                        <tr>
                                                            <td colspan="2" style="padding: 0 !important;"
                                                                align="center">
                                                                <p class="yellow-bg p-1 m-0">{{ 'Doc Sales Collection' }}</p>
                                                            </td>
                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <th scope="col">{{ 'Agents'|trans }}</th>#}
{#                                                            <th scope="col">{{ 'Sales Amount'|trans }}</th>#}
{#                                                            <th scope="col">{{ 'Collection Amount'|trans }}</th>#}
{#                                                            <th scope="col" width="50" class="text-center"><i class="feather icon-settings"></i></th>#}
{#                                                        </tr>#}
                                                    <tr>
                                                        <th></th>
                                                        <th>Sales Value</th>
                                                        <th>Collection</th>
                                                    </tr>
                                                    <tr>
{#                                                            <td>#}
{#                                                                <select data-action="{{ path('core_agent_search_select2') }}"#}
{#                                                                        name="agent" class="agentSearch" id="">#}
{#                                                                    <option value="">Select Agent</option>#}
{#                                                                </select>#}
{#                                                            </td>#}
                                                        <td>{{ entity.attribute.name }}</td>
                                                        <td>
                                                            <input type="text" name="docSale[sale]"
                                                                   class="form-control"
                                                                   value="{% if docSale is defined %}{{ docSale.sales|default('') }}{% endif %}">
                                                        </td>
                                                        <td>
                                                            <input type="text" name="docSale[collection]"
                                                                   class="form-control"
                                                                   value="{% if docSale is defined %}{{ docSale.collection|default('') }}{% endif %}">
                                                        </td>
{#                                                            <td>#}
{#                                                                <a data-action="{{ path('agent_doc_sale_for_custom_format', {board: board.id}) }}"#}
{#                                                                   data-board-id="{{ board.id }}"#}
{#                                                                   class="btn btn-sm green-bg white-font add_button"><i#}
{#                                                                            class="fa fa-plus"></i> Add New</a>#}

{#                                                            </td>#}
                                                    </tr>
{#                                                        {% if docSale is defined and docSale is not empty %}#}
{#                                                            {% for item in docSale %}#}
{#                                                                <tr>#}
{#                                                                    <td>{{ item.agent.name }}</td>#}
{#                                                                    <td>{{ item.sales }}</td>#}
{#                                                                    <td>{{ item.collection }}</td>#}
{#                                                                    <td align="center"><a#}
{#                                                                                data-action="{{ path('delete_agent_doc_sale_for_custom_format', {id: item.id}) }}"#}
{#                                                                                class="btn btn-sm btn-transparent remove"><i#}
{#                                                                                    class="fa fa-remove"></i></a></td>#}
{#                                                                </tr>#}
{#                                                            {% endfor %}#}
{#                                                        {% endif %}#}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>

                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Customer Development' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>

                                    {% if board.reportMode.slug is same as 'custom-format-spo' %}
                                        <th scope="col" width="20%">{{ 'Total Agents'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Upgrade Agents'|trans }}</th>
                                    {% else %}
                                        <th scope="col" width="20%">{{ 'Actual Marks'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Marks'|trans }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'customer-development' %}
                                                                {% if entity.attribute.status == 1 %}

                                                                    <td>{{ entity.attribute.name }}</td>
                                                                    {% if board.reportMode.slug is same as 'custom-format-spo' %}
                                                                        <td>
                                                                            <input min="0" type="number"
                                                                                   name="customerDevelopment[{{ entity.attribute.id }}][totalAgents]"
                                                                                   class="form-control"
                                                                                   value="{{ entity.targetAmount ?: 0 }}">
                                                                        </td>
                                                                        <td>
                                                                            <input min="0" type="number"
                                                                                   name="customerDevelopment[{{ entity.attribute.id }}][upgradeAgent]"
                                                                                   class="form-control"
                                                                                   value="{{ entity.targetAchievement ?: 0 }}">
                                                                        </td>
                                                                    {% else %}
                                                                        <td>
                                                                            {{ entity.attribute.mark }}
                                                                        </td>
                                                                        <td>
                                                                            <input type="text"
                                                                                   name="customerDevelopment[{{ entity.attribute.id }}]"
                                                                                   class="form-control"
                                                                                   value="{{ entity.mark }}">
                                                                        </td>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Time Management' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'time-management' %}
                                                                {% if entity.attribute.status == 1 %}
                                                                    <td>{{ entity.attribute.name }}</td>
                                                                    <td>
                                                                        {% if entity.attribute.systemEntry == 1 %}
                                                                            <select name="skills[{{ entity.attribute.id }}]"
                                                                                    id="" required style="width: 100%">
                                                                                <option value="">{{ 'Select mark'|trans }}</option>
                                                                                {% for markDis in entity.attribute.children %}
                                                                                    {% if markDis.status == 1 %}

                                                                                        {% if app.user.id == board.employee.id %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.selfMark is not empty and markDis.mark ==  entity.selfMark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% else %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.mark is not empty and markDis.mark ==  entity.mark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% endif %}







                                                                                        {#                                                                                            <option value="{{ markDis.id }}" {% if  entity.markDistribution is not empty and entity.markDistribution.id == markDis.id %} selected="selected" {% endif %}>{{ markDis.name }}</option>#}
{#                                                                                        <option value="{{ markDis.id }}">{{ markDis.name }}~~~{{ markDis.mark }}</option>#}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% endif %}
                                                                        {#                                                                                <input type="number" name="timeManagement[{{ entity.attribute.id }}]" class="form-control">#}
                                                                    </td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Communication' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'communication' %}
                                                                {% if entity.attribute.status == 1 %}
                                                                    <td>{{ entity.attribute.name }}</td>
                                                                    <td>
                                                                        {% if entity.attribute.systemEntry == 1 %}
                                                                            <select name="skills[{{ entity.attribute.id }}]"
                                                                                    id="" required style="width: 100%">
                                                                                <option value="">{{ 'Select mark'|trans }}</option>
                                                                                {% for markDis in entity.attribute.children %}
                                                                                    {% if markDis.status == 1 %}
                                                                                        {% if app.user.id == board.employee.id %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.selfMark is not empty and markDis.mark ==  entity.selfMark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% else %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.mark is not empty and markDis.mark ==  entity.mark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% endif %}






                                                                                        {#                                                                                            <option value="{{ markDis.id }}" {% if  entity.markDistribution is not empty and entity.markDistribution.id == markDis.id %} selected="selected" {% endif %}>{{ markDis.name }}</option>#}
{#                                                                                        <option value="{{ markDis.id }}">{{ markDis.name }}</option>#}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% endif %}
                                                                        {#                                                                                <input type="number" name="timeManagement[{{ entity.attribute.id }}]" class="form-control">#}
                                                                    </td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Job Knowledge' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'job-knowledge' %}
                                                                {% if entity.attribute.status == 1 %}
                                                                    <td>{{ entity.attribute.name }}</td>
                                                                    <td>
                                                                        {% if entity.attribute.systemEntry == 1 %}
                                                                            <select name="skills[{{ entity.attribute.id }}]"
                                                                                    id="" required style="width: 100%">
                                                                                <option value="">{{ 'Select mark'|trans }}</option>
                                                                                {% for markDis in entity.attribute.children %}
                                                                                    {% if markDis.status == 1 %}
                                                                                        {% if app.user.id == board.employee.id %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.selfMark is not empty and markDis.mark ==  entity.selfMark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% else %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.mark is not empty and markDis.mark ==  entity.mark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% endif %}




                                                                                        {#                                                                                            <option value="{{ markDis.id }}" {% if  entity.markDistribution is not empty and entity.markDistribution.id == markDis.id %} selected="selected" {% endif %}>{{ markDis.name }}</option>#}
{#                                                                                        <option value="{{ markDis.id }}">{{ markDis.name }}</option>#}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% endif %}
                                                                        {#                                                                                <input type="number" name="timeManagement[{{ entity.attribute.id }}]" class="form-control">#}
                                                                    </td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Creativity & Willingness' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'creativity-willingness' %}
                                                                {% if entity.attribute.status == 1 %}
                                                                    <td>{{ entity.attribute.name }}</td>
                                                                    <td>
                                                                        {% if entity.attribute.systemEntry == 1 %}
                                                                            <select name="skills[{{ entity.attribute.id }}]"
                                                                                    id="" required style="width: 100%">
                                                                                <option value="">{{ 'Select mark'|trans }}</option>
                                                                                {% for markDis in entity.attribute.children %}
                                                                                    {% if markDis.status == 1 %}
                                                                                        {% if app.user.id == board.employee.id %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.selfMark is not empty and markDis.mark ==  entity.selfMark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% else %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.mark is not empty and markDis.mark ==  entity.mark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% endif %}
                                                                                        {#                                                                                            <option value="{{ markDis.id }}" {% if  entity.markDistribution is not empty and entity.markDistribution.id == markDis.id %} selected="selected" {% endif %}>{{ markDis.name }}</option>#}
{#                                                                                        <option value="{{ markDis.id }}">{{ markDis.name }}</option>#}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% endif %}
                                                                        {#                                                                                <input type="number" name="timeManagement[{{ entity.attribute.id }}]" class="form-control">#}
                                                                    </td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Values' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if board.employeeBoardAttributes is not empty %}
                                    {% for parameters in arrayData %}
                                        {% for activity in parameters %}
                                            {% for entity in activity %}
                                                <tr>
                                                    {% if entity.parameter.status == 1 %}
                                                        {% if entity.activity.status == 1 %}
                                                            {% if entity.activity.slug == 'values-2' %}
                                                                {% if entity.attribute.status == 1 %}
                                                                    <td>{{ entity.attribute.name }}</td>
                                                                    <td>
                                                                        {% if entity.attribute.systemEntry == 1 %}
                                                                            <select name="values[{{ entity.attribute.id }}]"
                                                                                    id="" required style="width: 100%">
                                                                                <option value="">{{ 'Select mark'|trans }}</option>
                                                                                {% for markDis in entity.attribute.children %}
                                                                                    {% if markDis.status == 1 %}
                                                                                        {% if app.user.id == board.employee.id %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.selfMark is not empty and markDis.mark ==  entity.selfMark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% else %}
                                                                                            <option value="{{ markDis.id }}" {% if  entity.mark is not empty and markDis.mark ==  entity.mark %} selected="selected" {% endif %}>{{ markDis.name }}</option>
                                                                                        {% endif %}
                                                                                        {#                                                                                            <option value="{{ markDis.id }}" {% if  entity.markDistribution is not empty and entity.markDistribution.id == markDis.id %} selected="selected" {% endif %}>{{ markDis.name }}</option>#}
{#                                                                                        <option value="{{ markDis.id }}">{{ markDis.name }}</option>#}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% endif %}
                                                                        {#                                                                                <input type="number" name="timeManagement[{{ entity.attribute.id }}]" class="form-control">#}
                                                                    </td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                            <h5 class="bg-secondary p-1 text-white h5 w-100 m-0">{{ 'Comments' }}</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th><textarea class="form-controll" name="comment" style="width: 100%" rows="5">{{ board.comment|default('') }}</textarea></th>
                                </tr>
                                </tbody>

                            </table>
                            <div class="form-actions">
                                <div class="col-md-6 ">
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <a href="{{ path('kpi_employee_board_edit_custom_format', {id:board.id}) }}"
                                           class="btn yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</a>
                                        <button type="submit" name="" class="btn btn-info form-submit btn">
                                            SaveAndCreate
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

        input.customerDevelopment {
            background: #daae82;
            color: #000000;
            font-weight: bold;
        }

        select.markDistribution {
            background: #daae82;
            color: #000000;
            font-weight: bold;
        }

        .parameter {
            position: relative;
            /*    border-left: 34px solid #369;
                padding-left: 10px;
                width: 50px;*/
        }

        .parameter span {
            position: absolute;
            top: 50%;
            /*left: 30px;*/
            background: none;
            transform-origin: 0 0;
            transform: rotate(-90deg) translateX(-50%);
            /*width: 200px;*/
        }


        .attribute-markDistribution {
            width: 220px;
        }

        .markDistribution {
            padding-left: 15px;
            width: 220px;
        }

        .markDistribution li {
            margin-left: 0;
            padding-left: 0;
        }

        .activity-name {
            width: 120px;
        }

        .activity-attribute {
            width: 220px;
        }

        .attribute-name {
            width: 480px;
        }

        .attribute-mark {
            width: 70px;
        }

        .attribute-score {
            width: 70px;
        }
    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         ul.header-info {
             margin: 0;
             padding: 0;
             display: flex;
             flex-wrap: wrap;
         }

         ul.header-info li {
             list-style: none;
             width: 50%;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script>
        //Agent Search

        // $(document).ready(function () {
        //     $('.agentSearch').select2({
        //         ajax: {
        //             url: Routing.generate('core_agent_search_select2'),
        //             dataType: 'json',
        //             delay: 250,
        //             type: 'GET',
        //             data: function (params) {
        //
        //                 return {
        //                     q: params.term, // search term
        //                     type: 'public'
        //                 };
        //             },
        //             processResults: function (data) {
        //                 var arr = [];
        //                 $.each(data, function (index, value) {
        //                     arr.push({
        //                         id: index,
        //                         text: value
        //                     })
        //                 })
        //                 return {
        //                     results: arr
        //                 };
        //             },
        //             cache: true
        //         },
        //         escapeMarkup: function (markup) {
        //             return markup;
        //         },
        //         minimumInputLength: 1
        //     });
        // });

        //Add agent Outstanding

        // $(".add_button").bind('click', function () {
        //     let element = $(this);
        //     let agentId = $(this).closest('tr').find('.agentSearch').val();
        //     let actualAmount = $(this).closest('tr').find('input[name="actual-amount"]').val();
        //     let limitAmount = $(this).closest('tr').find('input[name="limit-amount"]').val();
        //     $.ajax({
        //         url: $(this).attr('data-action'),
        //         type: 'POST',
        //         dataType: 'json',
        //         data: {agentId: agentId, actualAmount: actualAmount, limitAmount: limitAmount},
        //         success: function (response) {
        //             if (response.status === 200) {
        //                 // console.log('Checked');
        //                 let route = Routing.generate('delete_agent_outstanding_for_custom_format', {id: response.data.id});
        //                 $(
        //                     '<tr>' +
        //                     '<td>' + response.data.agent + '</td>' +
        //                     '<td>' + actualAmount + '</td>' +
        //                     '<td>' + limitAmount + '</td>' +
        //                     '<td align="center"><a data-action="' + route + '" class="btn btn-sm btn-transparent remove"><i class="fa fa-remove"></i></a></td>' +
        //                     '</tr>'
        //                 ).insertAfter($(element).closest('tr'));
        //             }
        //         }
        //     })
        // });
    </script>
{% endblock %}
{% block javascriptBlock %}
    {#    <script>#}
    {{ parent() }}
    {#    $(document).on('click',".statusUpdate", function (event) {
        var url = $(this).attr('data-action');
        $.get(url, function(data){
            var redirectUrl = Routing.generate('kpi_employee_board');
            if(data=='success'){
                window.location.href = redirectUrl;
            }
        });
        });#}


    (function($) {
    $.fn.inputFilter = function(inputFilter) {
    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
    if (inputFilter(this.value)) {
    this.oldValue = this.value;
    this.oldSelectionStart = this.selectionStart;
    this.oldSelectionEnd = this.selectionEnd;
    } else if (this.hasOwnProperty("oldValue")) {
    this.value = this.oldValue;
    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
    } else {
    this.value = "";
    }
    });
    };
    }(jQuery));

    $("input.customerDevelopment").inputFilter(function(value) {
    return /^-?\d*[.,]?\d*$/.test(value);
    });

    $(document).on('click',"#statusUpdate", function (event) {
    event.preventDefault();
    var id = $(this).attr('data-id');
    var url = $(this).attr('data-action');
    $.MessageBox({
    buttonFail  : "No",
    buttonDone  : "Yes",
    message     : "Are you sure want to approve?"
    }).done(function(){
    window.location.href = $('#statusUpdate').attr('href');
    });
    });

{% endblock %}